@font-face {
	font-family: muli-regular;
	src: url(/css/fonts/muli-regular.eot);
	src: url(/css/fonts/muli-regular.eot?#iefix) format("embedded-opentype"), url(/css/fonts/muli-regular.woff) format("woff"), url(/css/fonts/muli-regular.ttf) format("truetype"), url(/css/fonts/muli-regular.svg#untitled-font-1) format("svg")
}

@media screen and (min-width: 768px) {
    .ed {
        font-family: muli-regular;
    }

    .ed .ui-accordion .ui-accordion-header a {
        background-color: #1e1a1a;
        color: #fff;
		font-family: muli-regular;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .ed #accordion .ui-accordion-content {
        padding: 10px;
        overflow-y: auto;
        height: 319px;
    }

    #body_edit #infodiv {
        font-family: playfairdisplay;
        font-size: 12px;
    }

    #body_edit #nav_buttons {
        text-transform: uppercase;
        font-size: 14px;
    }

	.ed #nav_buttons #order_card {
		background: #e4a372;
		color: #fff;
		border: 1px solid #e4a372;
	}

	.ed #nav_buttons #order_card:hover {
		background: #fff;
	}
}

#footer {
	background-color: #fff;
	margin-top: 95px;
}
#footer .bottom {
	padding: 15px 30px 60px;
	border-top: 1px solid #e4a372;
	background-color: #fdfdfd
}
#footer .menu li {
	position: relative;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}
#footer .menu li+li:before {
	position: absolute;
	content: "";
	width: 1px;
	height: 16px;
	left: 0;
	top: 5px;
	background-color: #1e1a1a
}
#footer .menu a {
	color: #1e1a1a;
	font-size: 15px;
	text-transform: uppercase;
	padding-left: 15px;
	padding-right: 15px
}
#footer .menu a:hover {
	color: #e4a372
}
#footer .logo {
	margin-top: 20px;
	margin-bottom: 20px
}
#footer p {
	margin-bottom: 0
}
#footer .copyright {
	font-family: muli-regular;
	font-size: 13px;
	text-transform: uppercase
}
#footer .address {
	font-family: muli-regular;
	font-size: 16px;
	text-transform: uppercase;
	width: auto;
	height: auto
}
