body {
    line-height: 27px;
}

.navbar .topbar .topbar-menu-left a {
    width: auto;
}

.navbar .dropdown > a:after,
.navbar .dropdown.active > a:after {
    content: '';
}

.navbar .topbar .topbar-menu-right {
    display: block;
}

.navbar .navbar-hamburger {
    height: 36px;
    padding: 0 15px;
    margin-right: 20px;
}


@media only screen and (min-width: 992px) {
    .navbar .middlebar ul.middlebar-menu-left .dropdown > ul,
    .navbar .middlebar ul.middlebar-menu-right .dropdown > ul {
        margin-top: 54px;
        right: inherit;
        left: inherit;
    }

    .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li,
    .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li {
        width: auto;
        display: block;
        border-bottom: none;
    }

    .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li a,
    .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li a {
        line-height: 27px;
    }
}

.navbar .middlebar .dropdown ul {
    visibility: visible;
    opacity: 1;
}

@media screen and (min-width: 992px) {
    #mid {
        margin-top: 50px;
    }
}

#filter_menu #taggroupul-kleur .tag-li {
    width: auto;
    height: auto;
    float: none;
}

#filter_menu #taggroupul-kleur .tag-li label {
    width: auto;
    height: auto;
    border: none;
    color: #707070;
}

#filter_menu #taggroupul-kleur .custom_checkbox {
    border: 1px solid #ddd;
}

#tagli-geel label,
#tagli-blauw label,
#tagli-goud label,
#tagli-groen label,
#tagli-zwart-wit label,
#tagli-grijs label,
#tagli-zwart label,
#tagli-mintgroen label,
#tagli-pastel label,
#tagli-wit label,
#tagli-kleurrijk label,
#tagli-taupe label,
#tagli-roze label,
#tagli-zilver label {
    background: transparent;
    width: auto;
    height: auto;
    border: none;
}

.tag-li label {
    display: block;
}
@media screen and (min-width: 768px) {
    .ed .ui-accordion .ui-accordion-header a:hover {
        background-color: #000;
        color: #fff;
    }

    .ed .ui-accordion .ui-accordion-header.ui-state-active a {
        background-color: #000;
        color: #fff;
    }

    #step_back:before {
        left: 0;
        top: 0;
    }

    .ed #nav_buttons #order_card {
        background-color: #e4a372;
    }

    .ed button#choose_font:hover {
        background:  #e4a372;
        color: #fff;
    }

    .ed #add_photo {
        background: #e4a372;
        color: #fff;
    }

    .ed button {
        background: #fff;
        color: #6e7277;
    }

    .ed #chooseside .single_portrait_p1 {
        background-image: url(/common/img/card-icons/icon-single-portrait-p1.svg);
        width: 44px;
    }

    .ed #chooseside .single_portrait_p2 {
        background-image: url(/common/img/card-icons/icon-single-portrait-p2.svg);
        width: 44px;
    }

    .ed .ui-dialog {
        background-color: #fff;
        z-index: 9;
    }

    .ed #tag_dialog {
        max-height: 70vh;
    }

    .ed .ed-side-preview {
        height: 440px;
    }

    #body_edit #fg_img_select {
        margin-top: -15px;
    }

    .ed #email_login,
    .ed #password_login {
        text-align: left;
    }

    .ed #chooseside .single_portrait_10x21_p1 {
        background-image: url(/common/img/card-icons/icon-single-portrait-p1.svg);
        width: 44px;
        background-size: 100% 140%;
    }
    .ed #chooseside .single_portrait_10x21_p2 {
        background-image: url(/common/img/card-icons/icon-single-portrait-p2.svg);
        width: 44px;
        background-size: 100% 140%;
    }

    #body_bestel_details .ng2-dropdown .ng2-dropdown-option {
        max-height: 180px;
    }

    .ed #imagelist .head,
    .ed #clipartlist .head,
    .ed #patternlist .head {
        clear: left;
    }

    .ed #imagelist .content,
    .ed #clipartlist .content,
    .ed #patternlist .content {
        width: 100%;
    }

    #body_edit #save_user_design_form label:hover,
    #body_edit #save_design_form label:hover {
        color: initial;
        border: none;
    }

    .ed #chooseside {
        width: 400px;
    }

    .ed #chooseside label {
        border: 1px solid transparent;
        color: transparent;
    }

    .ed #chooseside label:hover {
        border-color: #e4a372;
    }
}

#canvas {
    overflow: hidden;
    z-index: 0;
}

#canvasgrid {
    pointer-events: none;
}

#canvasgrid table.edit_cross td {
    border: 1px solid red;
    width: 50%;
}

#canvasgrid table.edit_cross tr:first-child td {
    border-top: 0;
}

#canvasgrid table.edit_cross tr td:first-child {
    border-left: 0;
}

#canvasgrid table.edit_cross tr td:last-child {
    border-right: 0;
}

#canvasgrid table.edit_cross tr:last-child td {
    border-bottom: 0;
}

@media (max-width: 767px) {
    .ed#body_edit .ed-footer {
        height: 90px !important;
    }
}
