@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
/*@font-face {*/
	/*font-family: kcicons;*/
	/*src: url(/css/fonts/kcicons.eot);*/
	/*src: url(/css/fonts/kcicons.eot?#iefix) format("embedded-opentype"), url(/css/fonts/kcicons.woff) format("woff"), url(/css/fonts/kcicons.ttf) format("truetype"), url(/css/fonts/kcicons.svg#untitled-font-1) format("svg");*/
	/*font-weight: 400!important;*/
	/*font-style: normal*/
/*}*/
@font-face {
	font-family: playfairdisplay;
	src: url(/css/fonts/playfairdisplay-regular.eot);
	src: url(/css/fonts/playfairdisplay-regular.eot?#iefix) format("embedded-opentype"), url(/css/fonts/playfairdisplay-regular.woff) format("woff"), url(/css/fonts/playfairdisplay-regular.ttf) format("truetype"), url(/css/fonts/playfairdisplay-regular.svg#untitled-font-1) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: muli-regular;
	src: url(/css/fonts/muli-regular.eot);
	src: url(/css/fonts/muli-regular.eot?#iefix) format("embedded-opentype"), url(/css/fonts/muli-regular.woff) format("woff"), url(/css/fonts/muli-regular.ttf) format("truetype"), url(/css/fonts/muli-regular.svg#untitled-font-1) format("svg")
}
@font-face {
	font-family: fontawesome;
	src: url(/css/fonts/fontawesome-webfont.eot);
	src: url(/css/fonts/fontawesome-webfont.eot?#iefix) format('embedded-opentype'), url(/css/fonts/fontawesome-webfont.woff2) format('woff2'), url(/css/fonts/fontawesome-webfont.woff) format('woff'), url(/css/fonts/fontawesome-webfont.ttf) format('truetype'), url(/css/fonts/fontawesome-webfont.svg#museo_sans500) format('svg');
	font-weight: 400;
	font-style: normal
}

@media screen and (min-width: 992px) {
	.md-17 {
		width: 14.28%;
		float: left;
		padding-right: 15px;
		padding-left: 15px;
		position: relative;
		min-height: 1px;
	}
}

.navbar {
	all: unset;
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: #fff
}
.navbar .container {
	overflow: visible
}
.navbar .collapse {
	all: unset;
	border-bottom: 1px solid #e4a372
}
.navbar .navbar-hamburger {
	position: relative;
	display: block;
	cursor: pointer;
	float: left;
	height: 50px;
	padding: 9px 15px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-color: transparent;
	z-index: 5;
	outline: 0
}
.navbar .navbar-hamburger .icon-bar {
	display: block;
	margin-top: 4px;
	width: 28px;
	height: 5px;
	border-radius: 1px;
	background-color: #64686D
}
.navbar .topbar {
	position: relative;
	z-index: 9999;
	padding: 0;
	font-family: muli-regular;
	color: #1e1a1a;
	background-color: #f9f8f8;
	border-bottom: 1px solid #e4a372
}
.navbar .topbar:after {
	content: "";
	display: table;
	clear: both
}
.navbar .topbar .topbar-menu-left {
	position: absolute
}
.navbar .topbar .topbar-menu-left li {
	padding: 0 5px;
	margin: 10px 0
}
.navbar .topbar .topbar-menu-left a {
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px;
	margin: 13px 0 0;
	font-size: 12px;
	height: 100%;
	color: #ecbd91
}
.navbar .topbar .topbar-menu-left a:active,
.navbar .topbar .topbar-menu-left a:focus,
.navbar .topbar .topbar-menu-left a:hover {
	color: #ffdebd
}
.navbar .topbar .topbar-menu-right {
	position: absolute;
	padding-right: 10px;
	height: 100%;
	top: 0;
	right: 0
}
.navbar .topbar .topbar-menu-right>ul>li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid transparent
}
.navbar .topbar .topbar-menu-right>ul>li a {
	display: block;
	height: 100%;
	font-size: 12px;
	padding: 10px 3px;
	margin: 0;
	color: #1e1a1a;
	border: 1px solid transparent;
	text-transform: uppercase
}
.navbar .topbar .topbar-menu-right>ul>li a:active,
.navbar .topbar .topbar-menu-right>ul>li a:focus,
.navbar .topbar .topbar-menu-right>ul>li a:hover {
	color: #fab568
}
.navbar .topbar .topbar-menu-right>ul>li a i {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	text-transform: lowercase;
	color: #e4a372
}
.navbar .topbar .topbar-menu-right>ul>li a i.fa {
	vertical-align: top;
	line-height: 1.5
}
.navbar .topbar .topbar-menu-right>ul>li i {
	display: inline-block;
	vertical-align: middle;
	padding-right: 5px
}
.navbar .topbar .topbar-menu-right>ul>li .icon-chevron-down {
	padding-left: 0;
	padding-right: 0
}
.navbar .topbar .dropdown {
	position: relative
}
.navbar .topbar .dropdown:hover {
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	background-color: #fff;
	z-index: 999
}
.navbar .topbar .dropdown:hover>ul {
	visibility: visible;
	opacity: 1
}
.navbar .topbar .dropdown:hover>a {
	background-color: #fff
}
.navbar .topbar .dropdown>a {
	position: relative;
	display: block;
	background-color: transparent;
	z-index: 33
}
.navbar .topbar .dropdown>ul {
	visibility: hidden;
	width: 100%;
	opacity: 1;
	right: 0;
	margin-top: -1px;
	background-color: #fff;
	border: 1px solid #E0E0E0
}
.navbar .topbar .dropdown>ul>li {
	display: block;
	position: relative
}
.navbar .topbar .dropdown>ul>li:hover {
	background-color: #6e7277
}
.navbar .topbar .dropdown>ul>li:hover a {
	color: #fff
}
.navbar .topbar .dropdown>ul>li>a {
	display: block;
	padding: 5px 10px;
	text-align: left;
	color: #6e7277;
	font-size: 14px
}
.navbar .middlebar {
	all: unset
}
.navbar .middlebar .dropdown {
	position: relative
}
.navbar .middlebar .dropdown:hover ul {
	visibility: visible;
	opacity: 1;
	background-color: #fdfdfd
}
.navbar .middlebar ul.middlebar-menu-left li a {
	display: block;
	height: 100%;
	padding: 10px;
	color: #1e1a1a
}
.navbar .middlebar ul.middlebar-menu-left li a:active,
.navbar .middlebar ul.middlebar-menu-left li a:focus,
.navbar .middlebar ul.middlebar-menu-left li a:hover {
	color: #fab568
}
.navbar .middlebar ul.middlebar-menu-right {
	all: unset;
	margin-bottom: 0
}
.navbar .middlebar ul.middlebar-menu-right>li {
	all: unset;
	position: relative;
	float: none;
	display: block
}
.navbar .middlebar ul.middlebar-menu-right>li:first-child {
	border-left: 1px solid #fff
}
.navbar .middlebar ul.middlebar-menu-right>li:hover {
	all: unset
}
.navbar .middlebar ul.middlebar-menu-right>li>a {
	all: unset;
	position: relative;
	display: block;
	vertical-align: middle;
	color: #1e1a1a;
	background-color: inherit;
	overflow: hidden;
	padding: 25px 15px;
	font-size: 12px
}
.navbar .middlebar ul.middlebar-menu-right>li>a:active,
.navbar .middlebar ul.middlebar-menu-right>li>a:focus,
.navbar .middlebar ul.middlebar-menu-right>li>a:hover {
	color: #e4a372
}
.navbar .middlebar ul.middlebar-menu-right>li i {
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px
}
a.logo {
	position: relative;
	display: block;
	color: #f38925;
	font-size: 45px;
	line-height: unset
}
a.logo img {
	position: relative
}
a.logo:active,
a.logo:focus,
a.logo:hover {
	color: #f38925
}
@media only screen and (max-width: 992px) {
	.navbar .collapse {
		position: fixed;
		z-index: 9;
		display: none;
		width: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		top: 70px;
		left: 0;
		bottom: 0;
		background-color: #fff
	}
	.navbar .topbar .topbar-menu-left {
		all: unset
	}
	.navbar .topbar .topbar-menu-left .logo img {
		width: 95px;
		max-width: 100%
	}
	.navbar .topbar .topbar-menu-right>ul>li a {
		padding-left: 0;
		padding-right: 0
	}
	.navbar .topbar .topbar-menu-right>ul>li a>span {
		display: none
	}
	.navbar .middlebar,
	.navbar .topbar .dropdown>a {
		background-color: transparent
	}
	.navbar .middlebar ul.middlebar-menu-left li a,
	.navbar .middlebar ul.middlebar-menu-right li a {
		display: block;
		padding: 10px;
		font-size: 16px!important
	}
	.navbar .middlebar ul.middlebar-menu-right {
		padding: 35px 0
	}
	.navbar .middlebar ul.middlebar-menu-right li a {
		padding: 10px 30px;
		text-transform: uppercase
	}
	.navbar .middlebar .navbar-search {
		display: none!important
	}
	.navbar .middlebar .navbar-search-field {
		all: unset;
		display: block;
		background-color: #ffecdb;
		top: 50px;
		border: 0 solid #000;
		width: 100%;
		z-index: 89;
		overflow: hidden;
		padding: 5px
	}
	.navbar .middlebar .navbar-search-field .search-button-field {
		float: right;
		display: block;
		border: none;
		height: 30px;
		width: auto;
		padding: 0 10px 0 15px;
		cursor: pointer;
		background-color: transparent
	}
	.navbar .middlebar .navbar-search-field .search-input-field {
		overflow: hidden
	}
	.navbar .middlebar .navbar-search-field .search-input-field input[type=text] {
		display: block;
		border: none;
		width: 100%;
		height: 30px;
		padding: 0 10px
	}
}
@media only screen and (min-width: 992px) {
	.navbar {
		position: relative;
		background-color: #fff
	}
	.navbar .topbar {
		height: 50px
	}
	.navbar .navbar-hamburger {
		display: none
	}
	.navbar .collapse {
		left: auto!important;
		display: block!important
	}
	.navbar .topbar .topbar-menu-left {
		display: block
	}
	.navbar .topbar .dropdown>ul {
		position: absolute;
		width: 250px;
		left: auto
	}
	.navbar .middlebar .dropdown ul {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		right: auto;
		z-index: 99;
		border: 1px solid #dedcd6;
		border-top: 0;
		margin-top: 3px
	}
	.navbar .middlebar .dropdown ul li {
		padding: 0;
		margin: 0;
		min-width: 250px;
		width: 100%
	}
	.navbar .middlebar .dropdown ul li a {
		display: block;
		width: 100%;
		padding: 10px;
		text-align: center
	}
	.navbar .middlebar .dropdown ul li a:hover {
		background-color: #f6f5f5;
		color: #e4a372
	}
	.navbar .middlebar ul.middlebar-menu-left {
		position: absolute;
		height: 100%;
		padding-left: 10px;
		min-width: 200px
	}
	.navbar .middlebar ul.middlebar-menu-left li {
		display: inline-block;
		vertical-align: middle;
		height: 75px;
		font-size: 12px;
		border: none
	}
	.navbar .middlebar ul.middlebar-menu-right {
		display: table;
		width: 100%
	}
	.navbar .middlebar ul.middlebar-menu-right>li {
		vertical-align: middle;
		margin-right: -4px;
		text-align: center;
		border-right: none
	}
	.navbar .middlebar ul.middlebar-menu-right>li:nth-child(n+4) {
		display: table-cell
	}
	.navbar .middlebar ul.middlebar-menu-right>li.md-hide {
		display: none
	}
	.navbar .middlebar ul.middlebar-menu-right>li>a {
		all: unset;
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 14px;
		display: block;
		text-transform: uppercase;
		text-align: center
	}
	.navbar .middlebar ul.middlebar-menu-right>li>a i {
		text-transform: lowercase
	}
	.navbar .middlebar .navbar-search {
		width: 50px
	}
	.navbar .middlebar .navbar-search-field {
		box-sizing: border-box;
		position: absolute;
		background-color: #fff;
		right: 30px !important;
		z-index: 89;
		overflow: hidden;
		padding: 5px;
		top: -54px;
        background: #e4a372;
		height: 53px;
        width: 200px;
        left: auto !important;]
	}
	.navbar .middlebar .navbar-search-field .search-button-field {
		float: right;
		display: block;
		height: 65px;
		border: none;
		width: auto;
		padding: 0 10px 0 15px;
		cursor: pointer;
		background-color: transparent
	}
	.navbar .middlebar .navbar-search-field .search-input-field {
		overflow: hidden
	}
	.navbar .middlebar .navbar-search-field .search-input-field input[type=text] {
		display: block;
		border: none;
		width: 100%;
		height: 65px;
		padding: 0 10px
	}
	.navbar .middlebar .navbar-search-field form {
		height: 100%
	}
	.navbar .middlebar .navbar-search-field form input {
		width: 100%;
		height: 100%;
		border: none;
		font-size: 14px;
		font-family: playfairdisplay;
		text-transform: uppercase;
		text-align: center
	}
	.navbar .middlebar .navbar-search-field form input:focus {
		box-shadow: none;
		border: none;
		outline: 0
	}
	.navbar .middlebar .logo {
		padding-top: 50px;
		padding-bottom: 15px
	}
}
.address-list input[type=text] {
	border-radius: 0!important
}
.address-list>ul {
	max-height: 250px;
	padding: 0;
	margin: 0 0 15px;
	overflow-y: auto;
	overflow-x: hidden;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc
}
.address-list>ul>li {
	border-bottom: 1px solid #ccc;
	text-align: center
}
.address-list>ul>li:last-child {
	border-bottom: none
}
.address-list>ul>li a {
	display: block;
	padding: 0
}
.address-list>ul>li>button {
	margin-bottom: 15px
}
.field-horizontal .field-group {
	margin-right: -15px;
	margin-left: -15px
}
.field-horizontal .field-label {
	padding-top: 7px;
	margin-bottom: 0;
	text-align: left
}
.field-group {
	margin-bottom: 15px
}
.field-group .field-input-group {
	margin-bottom: 0
}
textarea.field-input {
	height: auto
}
.field-input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	margin-bottom: 15px;
	width: 100%
}
.field-input-group .field-input-group-addon {
	display: table-cell;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center
}
.field-input {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc!important
}
.field-input-sm {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5
}
.field-input-lg {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333
}
select.field-input {
	background-color: transparent
}
input[type=text].error {
	border-color: #8a6d3b
}
input[type=text].error:focus {
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}
label.error {
	font-style: italic;
	display: block;
	font-size: 12px;
	font-weight: 400
}
.button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	overflow: hidden;
	text-transform: uppercase;
	box-sizing: border-box;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out
}
.button:hover {
	-webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
	transition-timing-function: cubic-bezier(.2, 1, .3, 1)
}
.button i {
	padding: 0 4px;
	text-transform: none;
	display: inline-block;
	vertical-align: middle
}
.button-group {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px
}
.button-group .button {
	position: relative;
	float: left;
	border-radius: 0
}
.button-group .button:first-child,
.button-group .button:last-child {
	border-radius: 0
}
.button-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle
}
.button-group-vertical>.button {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	border-radius: 0!important
}
.button-group-justified {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate
}
.button-group-justified>.button {
	display: table-cell;
	float: none;
	width: 1%
}
.button-xs {
	padding: 10px 5px;
	font-size: 11px;
	line-height: 1.5
}
.button-xsm {
	padding: 5px 10px;
	font-size: 15px;
	line-height: 1.5
}
.button-sm {
	padding: 5px 10px;
	font-size: 16px;
	line-height: 1.5
}
.button-lg {
	padding: 10px 16px;
	font-size: 20px;
	line-height: 1.3333333
}
.button-xlg {
	padding: 12px 18px;
	font-size: 26px;
	line-height: 1.3333333
}
.button-link {
	display: block;
	color: #F9861C;
	border-color: transparent;
	background-color: transparent
}
.button-link:active,
.button-link:focus,
.button-link:hover {
	border-color: transparent
}
.button-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}
.button-default:hover {
	color: #555;
	background-color: #e6e6e6;
	border-color: #adadad
}
.button-success {
	color: #fff;
	background-color: #1e1a1a;
	border-color: #f6c61e
}
.button-success:hover {
	color: #555;
	background-color: #e6e6e6;
	border-color: #adadad
}
.button-warning {
	color: #fff;
	background-color: #f6c61e;
	border-color: #fa9485
}
.button-warning:hover {
	color: #555;
	background-color: #e6e6e6;
	border-color: #adadad
}
.button-danger {
	color: #fff;
	background-color: #fa9485;
	border-color: #fa9485
}
.button-danger:hover {
	color: #555;
	background-color: #e6e6e6;
	border-color: #adadad
}
.button-info {
	color: #fff;
	background-color: #f5871e;
	border-color: #f6871f
}
.button-info:hover {
	color: #555;
	background-color: #e6e6e6;
	border-color: #adadad
}
.button-primary {
	color: #fff;
	background-color: #1e1a1a;
	border-color: #1e1a1a;
	font-family: playfairdisplay
}
.button-primary:hover {
	color: #1e1a1a;
	background-color: #fff;
	border-color: #1e1a1a
}
.button-extra {
	color: #909090;
	background-color: #fff;
	border-color: #dedcd6;
	font-family: muli-regular;
	letter-spacing: 2px
}
.button-extra:hover {
	background-color: #dedcd6
}
.button-cta {
	color: #fff;
	background-color: #e4a372;
	border-color: #e4a372;
	font-family: muli-regular;
	letter-spacing: 2px
}
.button-cta:hover {
	background-color: #fff;
	border-color: #c0ae64;
	color: #e4a372
}
.button-block {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 25px;
	height: 110px;
	background-color: transparent
}
.button-block a.active {
	background-color: #dedcd6
}
.button-block>a {
	display: table;
	width: 100%;
	height: 100%;
	background-color: #f9f8f8;
	padding: 0 20px;
	text-align: center
}
.button-block>a:active,
.button-block>a:focus,
.button-block>a:hover {
	background-color: #dedcd6
}
.button-block>a .button-block-content {
	display: table-cell;
	height: 100%;
	vertical-align: middle
}
.button-block>a .button-block-title {
	display: block;
	font-size: 18px;
	margin-top: 0;
	color: #e4a372;
	font-family: muli-regular;
	margin-bottom: 0
}
.button-block>a .button-block-title i {
	display: inline-block;
	vertical-align: middle
}
.button-block>a .button-block-text {
	display: block;
	font-size: .8em;
	color: #1e1a1a
}
.button-block-img {
	height: 180px;
	background-color: transparent
}
.button-block-img>a {
	background-color: transparent;
	max-height: 210px
}
.button-block-img>a:active,
.button-block-img>a:focus,
.button-block-img>a:hover {
	background-color: transparent;
	opacity: .9
}
.button-block-img>a img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	z-index: -99
}
.button-block-img>a .button-block-title {
	display: block;
	color: #fff;
	font-size: 1.4em
}
.button-block-img>a .button-block-text {
	display: block;
	font-size: 1em;
	color: #fff
}
.card-block {
	position: relative;
	display: block;
	border: 1px solid #e4e8e8;
	background-color: #fdf3e9;
	margin-bottom: 25px;
	border-radius: 10px;
	cursor: pointer;
	z-index: 3
}
.card-block img {
	height: 150px
}
.card-block:hover>img {
	opacity: .8
}
.card-block:hover .card-block-footer,
.card-block:hover .card-block-title {
	opacity: 1
}
.card-block .card-block-footer,
.card-block .card-block-title {
	display: block;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	opacity: .8
}
.card-block .card-block-title {
	color: #f68620;
	font-size: 1.2em;
	font-weight: 700
}
.card-block .card-block-footer {
	color: #f68620;
	font-size: 15px;
	margin-top: 10px
}
.list {
	list-style-type: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0
}
.list .list-toggle .list-toggle-text {
	display: inline-block;
	vertical-align: middle;
	color: #555;
	font-weight: 500;
	padding-left: 5px;
	padding-right: 5px
}
.list .list-toggle .list-toggle-text .icon {
	display: inline-block;
	vertical-align: middle;
	font-size: .5em!important
}
.list-vertical li.active>a {
	color: #e4a372
}
.list-vertical li a {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	padding: 5px;
	color: #707070
}
.list-vertical li a:active,
.list-vertical li a:hover {
	color: #e4a372
}
.list-vertical li ul {
	margin: 0 0 15px 5px;
	border-left: 2px solid #fbc095;
	padding-left: 15px
}
.list-vertical li ul li a {
	color: #db965b
}
.list-vertical li ul li a:active,
.list-vertical li ul li a:focus,
.list-vertical li ul li a:hover {
	color: #575757
}
.list-vertical li a i {
	width: 25px;
	text-align: center;
}
ul.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none
}
ul.list-inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px
}
.list-decimal {
	list-style-type: decimal
}
.breadcrumb {
	padding: 8px 5px;
	margin-bottom: 20px;
	list-style: none;
	border-radius: 4px
}
.breadcrumb li {
	display: inline-block;
	vertical-align: middle
}
.breadcrumb li:after {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	padding: 0 10px;
	font-family: kcicons;
	content: 'j';
	font-size: .5em
}
.breadcrumb li:last-child:after,
.breadcrumb li:only-child:after {
	content: ''
}
.breadcrumb li a.active {
	color: #ffddbf
}
.breadcrumb li a {
	color: inherit
}
.breadcrumb li a:active,
.breadcrumb li a:focus,
.breadcrumb li a:hover {
	color: #ffddbf
}
#crumbs,
#crumbs+h1 {
	display: none
}
.accordion {
	list-style-type: none;
	padding: 0;
	border-bottom: 1px solid #dfe5e5;
	background-color: transparent;
	margin-bottom: 10px
}
.accordion>.active {
	color: #575757!important
}
.accordion .show {
	display: block!important
}
.accordion>a {
	display: block;
	vertical-align: middle;
	background-color: transparent;
	padding: 5px;
	color: #db965b
}
.accordion>a>i {
	float: right;
	font-size: 12px
}
.accordion .accordion-body {
	display: none;
	padding: 5px
}
.accordion .accordion-body ul {
	margin-bottom: 0;
	margin-top: 0
}
.accordion .accordion-body ul li a {
	padding: 5px 0 5px 5px
}
.box {
	position: relative;
	padding: 0;
	margin-bottom: 15px;
	background-color: #fff;
	border-radius: 15px;
	border: 1px solid #e4e8e8;
	overflow: hidden
}
.box .box-body {
	background-color: #fff;
	margin: 0;
	padding: 25px
}
.box .box-footer {
	background-color: #fff;
	margin: 0;
	padding: 25px;
	border-top: 1px solid #e4e8e8;
	clear: both
}
.box-default .box-body,
.box-default .box-footer,
.box-primary .box-body {
	background-color: #fff
}
.box-primary .box-footer {
	background-color: #f2ecec
}
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	border-spacing: 0;
	border-collapse: collapse;
	background-color: #fff
}
.table>thead>tr>th {
	border-bottom: 2px solid #ddd;
	background-color: #fbf7f8;
	color: inherit
}
.table tbody>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd
}
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
	border: 1px solid #ddd
}
.table-responsive {
	min-height: .01%;
	overflow-x: auto
}
.table-unstyled {
	width: 100%;
	margin-bottom: 20px;
	border: none
}
.table-unstyled>thead>tr>th {
	text-align: left;
	border-bottom: none;
	background-color: inherit;
	color: inherit
}
.table-unstyled tbody>tr>th,
.table-unstyled>tbody>tr>td,
.table-unstyled>tfoot>tr>td,
.table-unstyled>tfoot>tr>th,
.table-unstyled>thead>tr>td,
.table-unstyled>thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: none
}
@media screen and (max-width: 768px) {
	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #ddd
	}
}
.thumbnail {
	position: relative;
	padding: 10px 10px 0;
	border-radius: 10px;
	background-color: #fff;
	border: 1px solid #dfe5e5;
	margin-bottom: 25px;
	text-align: left;
	cursor: pointer
}

.thumbnail:hover img {
	opacity: .5
}
.thumbnail:hover .thumbnail-footer {
	opacity: 1
}
.thumbnail img {
	width: 100%
}
.thumbnail .thumbnail-footer {
	width: 100%;
	margin-top: 5px;
	padding: 5px;
	background-color: #fff;
	opacity: .8
}
.thumbnail .thumbnail-footer h3 {
	margin: 0 auto;
	color: #f59a4b
}
.thumbnail .thumbnail-footer p {
	color: inherit
}
.thumbnail-transparent {
	background-color: transparent!important;
	border: none!important;
	box-shadow: none!important
}
.thumbnail-transparent .thumbnail-footer {
	background-color: transparent!important
}
.thumbnail-fluid {
	padding: 0!important
}
.thumbnail-fluid .thumbnail-footer {
	margin-top: 0;
	background-color: #ffecdb
}
.thumbnail-fluid .thumbnail-footer h3 {
	color: #f59a4b
}
.thumbnail-fluid .thumbnail-footer p {
	color: inherit
}
.thumbnail-fluid .thumbnail-img {
	background-color: #ccc;
	border: none
}
.thumbnail-button {
	padding: 0!important;
	border-radius: 0;
	border: 0 solid transparent
}
.thumbnail-button .thumbnail-button-button {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: transparent;
	background-image: url(http://hipdesign.nl/img/bg-button/01.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	color: #fff;
	padding: 15px 20px 0;
	height: 45px
}
.thumbnail-slider {
	position: relative;
	padding: 20px 5px 5px;
	border-radius: 10px;
	background-color: #fdf3e9;
	border: 1px solid #e4e8e8;
	margin-bottom: 25px;
	margin-top: 25px;
	text-align: left;
	width: 100%
}
.thumbnail-slider .thumbnail-slider-top {
	position: absolute;
	left: 0;
	width: 100%;
	top: -15px;
	z-index: 3
}
.thumbnail-slider .thumbnail-slider-left {
	left: 0
}
.thumbnail-slider .thumbnail-slider-right {
	right: 0
}
.thumbnail-slider .thumbnail-slider-left,
.thumbnail-slider .thumbnail-slider-right {
	position: absolute;
	display: block;
	top: 0;
	height: 100%;
	z-index: 2
}
.thumbnail-slider .thumbnail-slider-left>a,
.thumbnail-slider .thumbnail-slider-right>a {
	display: table;
	height: 100%;
	padding: 0 10px;
	margin-top: -20px
}
.thumbnail-slider .thumbnail-slider-left>a i,
.thumbnail-slider .thumbnail-slider-right>a i {
	display: table-cell;
	vertical-align: middle
}
.thumbnail-slider .thumbnail-slider-middle img {
	position: relative;
	left: 0;
	right: 0
}
.thumbnail-slider .thumbnail-slider-bottom {
	position: relative;
	z-index: 33
}
.thumbnail-people {
	position: relative;
	background-color: transparent;
	border: 1px solid transparent;
	margin-bottom: 15px;
	text-align: left;
	overflow: hidden;
	border-radius: 10px
}
.thumbnail-people:hover .thumbnail-people-img {
	opacity: .5
}
.thumbnail-people:hover .thumbnail-people-label {
	opacity: 1
}
.thumbnail-people a {
	display: block
}
.thumbnail-people .thumbnail-people-img img {
	width: 100%
}
.thumbnail-people .thumbnail-people-label {
	width: 100%;
	margin-top: 5px;
	padding: 5px 0;
	background-color: transparent;
	opacity: .8
}
.thumbnail-people .thumbnail-people-label h3 {
	margin-top: 0;
	margin-bottom: 0;
	color: #f59a4b;
	font-size: 18px
}
.thumbnail-people .thumbnail-people-label p {
	margin-top: 0;
	margin-bottom: 0;
	color: inherit;
	font-size: 14px
}
.thumbnail-card {
	position: relative;
	border: 1px solid transparent;
	padding: 5px;
	margin-bottom: 25px;
	text-align: left;
	overflow: hidden
}
.thumbnail-card:hover .thumbnail-card-img {
	opacity: .5
}
.thumbnail-card:hover .thumbnail-card-label {
	opacity: 1
}
.thumbnail-card a {
	display: block
}
.thumbnail-card .thumbnail-card-label {
	width: 100%;
	padding: 5px;
	margin: 0;
	background-color: transparent;
	opacity: .8
}
.thumbnail-card .thumbnail-card-label a {
	display: inline-block;
	vertical-align: middle
}
.thumbnail-card .thumbnail-card-label a:hover {
	transform: scale(1.1)
}
.thumbnail-card .thumbnail-card-label a i {
	display: inline-block;
	vertical-align: middle
}
.thumbnail-scroller {
	position: relative;
	width: 100%;
	background-size: 100%;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 10px
}
.thumbnail-scroller .thumbnail-scroller-left {
	left: 0
}
.thumbnail-scroller .thumbnail-scroller-left .fa {
	font-size: 30px;
	color: #d1cccc
}
.thumbnail-scroller .thumbnail-scroller-right {
	right: 0
}
.thumbnail-scroller .thumbnail-scroller-right .fa {
	font-size: 30px;
	color: #d1cccc
}
.thumbnail-scroller .thumbnail-scroller-left,
.thumbnail-scroller .thumbnail-scroller-right {
	position: absolute;
	top: 0;
	height: 100%;
	z-index: 20
}
.thumbnail-scroller .thumbnail-scroller-left>a,
.thumbnail-scroller .thumbnail-scroller-right>a {
	display: table;
	height: 100%;
	padding: 0 10px
}
.thumbnail-scroller .thumbnail-scroller-left>a i,
.thumbnail-scroller .thumbnail-scroller-right>a i {
	display: table-cell;
	vertical-align: middle
}
.thumbnail-scroller .button .fa {
	font-size: 11px;
	color: inherit
}
.thumbnail-scroller .button .fa.fa-angle-left {
	padding-right: 7px
}
.thumbnail-scroller .button .fa.fa-angle-right {
	padding-left: 7px
}
.thumbnail-scroller a {
	display: inline-block;
	vertical-align: middle
}
.carousel {
	position: relative;
	border: 1px solid transparent;
	margin-bottom: 15px;
	overflow: hidden;
	background-color: transparent
}
.carousel:hover .carousel-left,
.carousel:hover .carousel-right {
	visibility: visible;
	opacity: 1
}
.carousel .carousel-middle>img {
	width: 100%
}
.carousel .carousel-left {
	left: 0
}
.carousel .carousel-right {
	right: 0
}
.carousel .carousel-left,
.carousel .carousel-right {
	position: absolute;
	top: 0;
	height: 100%;
	z-index: 220
}
.carousel .carousel-left>a,
.carousel .carousel-right>a {
	display: table;
	height: 100%;
	padding: 0 10px
}
.carousel .carousel-left>a i,
.carousel .carousel-right>a i {
	display: table-cell;
	vertical-align: middle
}
.carousel a {
	display: inline-block;
	vertical-align: middle
}
ul.pills {
	padding-left: 0;
	list-style: none;
	overflow: hidden;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
	background-color: transparent
}
ul.pills>li {
	position: relative;
	display: block;
	float: left;
	margin-bottom: -1px;
	margin-right: 5px;
	border: 1px solid #ccc;
	z-index: 1
}
ul.pills>li>a {
	position: relative;
	display: block;
	padding: 5px 10px;
	color: #e0b592;
	background-color: #ffeace
}
ul.pills>li>a:active,
ul.pills>li>a:focus,
ul.pills>li>a:hover {
	background-color: #feddbd;
	color: inherit
}
.visual {
	position: relative;
	border-bottom: 1px solid #ccc;
	background: url(https://hippe-geboortekaartjes.nl/img/bg-visual.png);
	overflow: hidden;
	min-height: 50px
}
.visual .visual-content {
	position: relative;
	display: block;
	height: 100%;
	width: 100%
}
.visual-background-1 {
	background: url(https://hippe-geboortekaartjes.nl/img/bg-visual.png)
}
.visual-background-2 {
	min-height: 400px;
	background: url(https://hippe-geboortekaartjes.nl/img/zmbanner.jpg) top center
}
.order-flow {
	border-bottom: solid 1px #ccc;
	padding: 10px 0;
	font-size: 11px
}
.order-flow a {
	display: block
}
.order-flow .order-flow-details {
	display: inline-block;
	vertical-align: middle
}
.order-flow .order-flow-image {
	max-height: 100px
}
.order-flow .order-flow-details-body {
	padding: 15px;
	background-color: #fcfcfc;
	line-height: 15px
}
.order-flow .order-flow-details-body .order-flow-details-status {
	border-bottom: 1px dashed #ccc;
	padding: 10px 0
}
.order-flow .order-flow-details-body strong {
	display: block;
	margin-top: 10px
}
@media (min-width: 320px) {
	.order-flow .order-flow-info strong {
		float: right
	}
}
@media (min-width: 992px) {
	.order-flow-info strong {
		float: none!important
	}
	.order-flow .md-1 {
		width: 14.285714285714285714285714285714%
	}
}
body {
	font-family: playfairdisplay;
	color: #1e1a1a;
	/*color: #fff;*/
	background: #fff;
}
p, h1, h2, h3, h4, h5, h6, a {
	color: #1e1a1a;
}

.w-100 {
	width: 100%
}
.mw-100 {
	max-width: 100%
}
#mid.container:not(.no-full),
.block-top .container {
	max-width: 1800px
}
#body_404error #mid.container,
#body_login #mid.container,
#body_no_design #mid.container {
	max-width: 1170px
}
div[onclick]:not(.swiper-container) {
	cursor: pointer
}
div[onclick]:not(.swiper-container):hover img {
	opacity: .5;
}
div[class*="block"] div[onclick]:hover img {
	opacity: 1;
}
label {
	font-weight: 400
}
.margin-top-50 {
	margin-top: 50px
}
.margin-bottom-25 {
	margin-bottom: 25px
}
div#header.scroll .topbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999
}
.topbar-menu-left .logo img {
	width: 95px
}
#navbar-basket {
	text-transform: none;
	margin-left: 10px;
	color: #e4a372
}
.block-top .middlebar-menu-right>li {
	position: relative;
	padding: 18px 28px;
	border-top: 2px solid #e4e8e8
}
.block-top .middlebar-menu-right>li a {
	text-transform: uppercase;
	font-size: 18px;
	color: #1e1a1a
}
.block-top .middlebar-menu-right>li a .fa {
	position: absolute;
	right: 0;
	top: 12px;
	width: 40px;
	height: 40px;
	text-align: center;
	z-index: 9;
	line-height: 40px;
	font-size: 22px;
	font-weight: 700
}
.block-top .middlebar-menu-right>li a .fa-angle-down {
	display: none
}
.block-top .middlebar-menu-right>li a:after {
	font: normal normal normal 14px/1 FontAwesome
}
.block-top .dropdown-content {
	display: none;
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px dashed #CBCECE
}
.block-top .dropdown-content li {
	padding: 10px 0
}
.block-top .dropdown-content.show {
	display: block
}
#mid {
	margin-bottom: 100px
}
#mid form input {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	overflow: hidden;
	text-transform: uppercase;
	box-sizing: border-box;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	border: 1px solid #ccc
}
#mid form input:hover {
	-webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
	transition-timing-function: cubic-bezier(.2, 1, .3, 1)
}
#mid form input i {
	padding: 0 4px;
	text-transform: none;
	display: inline-block;
	vertical-align: middle
}
#mid form input[type=text],
#mid form input[type=password] {
	text-transform: none;
	text-align: left
}
#mid form input[type=submit] {
	color: #fff;
	background-color: #1e1a1a;
	border-color: #1e1a1a;
	font-family: playfairdisplay;
	padding: 10px 16px;
	font-size: 20px;
	line-height: 1.3333333
}
#mid form input[type=submit]:hover {
	color: #1e1a1a;
	background-color: #fff;
	border-color: #1e1a1a
}
#mid .contactfrm input,
#mid .contactfrm textarea {
	width: 100%
}
#mid .phone {
	font-family: muli-regular;
	font-size: 20px
}
.main-content table {
	font-family: muli-regular;
	border-bottom: 1px solid #e4a372;
	margin-bottom: 40px
}
.main-content table th {
	background-color: #fdfdfd!important;
	border-color: #e4a372!important;
	border-bottom-width: 1px!important
}
.main-content table th:first-child {
	text-align: left
}
.main-content table th:last-child {
	text-align: right
}
.main-content table tbody tr td {
	text-align: center;
	border: none
}
.main-content table tbody tr td:first-child {
	text-align: left
}
.main-content table tbody tr td:last-child {
	text-align: right
}
.main-content table tbody tr:nth-child(2n) {
	background-color: #fdfdfd
}
.main-content .button-group.w-100 {
	display: block;
	overflow: hidden
}
.main-content .button-group.w-100 .button {
	width: 100%
}
.main-content .button-group .button a {
	color: #e4a372;
	text-decoration: underline
}
.shop-lechic .item {
	margin-bottom: 30px
}
.thumbnail-scroller {
	background: #f9f8f8;
	padding-top: 55px;
	padding-bottom: 55px
}
.thumbnail-scroller .thumbnail-scroller-middle {
	overflow: visible
}
.thumbnail-scroller .cycle-slide img {
	-webkit-box-shadow: 0 0 44px -12px #000;
	-moz-box-shadow: 0 0 44px -12px #000;
	box-shadow: 0 0 44px -12px #000
}
.thumbnail-scroller a {
	padding: 0 71px
}
.thumbnail-scroller .item {
	text-align: center
}
.thumbnail-scroller .thumb {
	min-height: 214px;
	line-height: 214px
}
.thumbnail-scroller .button {
	width: 184px;
	padding: 0;
	height: 36px;
	text-align: center;
	line-height: 36px
}
div[class*=block] {
	margin-bottom: 30px
}
div[class*=block] .hgroup {
	margin-bottom: 40px
}
div[class*=block] .hgroup .main-title {
	position: relative;
	overflow: hidden;
	font-size: 40px;
	margin-bottom: 10px;
	line-height: 1;
	color: #1e1a1a
}
div[class*=block] .hgroup .main-title:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	top: 50%;
	left: 0;
	background-color: #e4a372
}
div[class*=block] .hgroup .main-title.small {
	font-size: 29px
}
div[class*=block] .hgroup h1.main-title {
	font-size: 29px;
	line-height: 1.2
}
div[class*=block] .hgroup span {
	position: relative;
	background-color: #fff;
	padding-left: 15px;
	padding-right: 15px;
	z-index: 9
}
div[class*=block-top] {
	margin-bottom: 0!important
}
#body_home div.block1 {
	margin-bottom: 40px
}
.block3>.cols {
	table-layout: fixed
}
.block3>.cols .right,
.block3>.cols>.left,
.block3>.cols>.middle {
	display: table-cell;
	float: none;
	vertical-align: middle
}
.block3 .cols:nth-child(n+3) {
	margin-top: 60px
}
.block3 .left {
	width: 37.5%
}
.block3 .middle {
	width: 25%;
	position: relative;
	padding: 30px 45px
}
.block3 .middle .hgroup {
	position: absolute;
	left: 0;
	right: 0;
	top: -23px
}
.block3 .middle .hgroup .main-title {
	text-align: center
}
.block3 .middle .hgroup .main-title:before {
	content: none
}
.block3 .middle:before {
	position: absolute;
	content: "";
	height: 100%;
	left: 15px;
	right: 15px;
	top: 0;
	bottom: 0;
	border: 1px solid #e4a372
}
.block3 .button-group {
	margin: 30px auto 0;
	width: 274px
}
.block3 .right {
	width: 37.5%
}

.block3 .left .thumb,
.block3 .right .thumb {
	border: 1px solid #e5e5e5;
}

.block3 .type1 .button-lg {
	font-size: 14px;
}

.block4 .des {
	padding: 25px 15px;
	border: 1px solid #e5e5e5;
	text-align: left
}
.block4 .des h2 {
	margin-bottom: 25px
}
.block4 .des .button-group {
	margin-top: 20px
}
.block4.type2 .des .button-group {
	height: 50px;
	width: 230px;
	margin-left: auto;
	margin-right: auto
}
.block5 .wrap {
	padding-left: 10px;
	padding-right: 10px
}
.block6 .wrap {
	border: 1px solid #e5e5e5
}
.block6 .thumb {
	background-color: #f9f8f8;
	padding: 25px
}
.block6 .thumb li {
	max-width: 49%
}
.block6 .thumb li div {
	height: 200px;
	display: table
}
.block6 .thumb li div a {
	display: table-cell;
	vertical-align: middle
}
.block6 .thumb h5 {
	margin: 20px auto 0
}
.block6 .des {
	padding: 25px 15px
}
.block6 .des h5 {
	margin-top: 30px
}
.block6 .des li {
	line-height: 1.7
}
.block6 .des li span:first-child {
	display: inline-block;
	width: 100px
}
.block6 .des .button-group {
	margin-top: 25px
}
.block6 .des .button-group .button {
	margin-right: 15px;
	width: 215px;
	height: 50px;
	padding: 0;
	line-height: 50px
}
.block7 .left .wrap {
	border: 1px solid #e4a372;
	margin-bottom: 30px;
	padding: 15px
}
.block7 .left .button {
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0;
	margin: 52px auto 0;
	width: 100%
}
.block7 .right .item {
	margin-bottom: 30px;
}

.block7 .right img {
	border: 1px solid #e5e5e5;
}

.social {
	margin-bottom: 40px;
	margin-top: 30px
}
.social li {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.social li a {
	display: block;
	color: #1e1a1a;
	font-size: 20px;
	padding: 11px 0;
	border: 1px solid #1e1a1a;
	width: 51px
}
.social li:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg)
}
.social li:hover a {
	color: #fff;
	background-color: #e4a372;
	border-color: #e4a372
}
#categories {
	font-family: muli-regular;
	font-size: 15px
}

#categories h3 {
	text-transform: uppercase;
	font-size: 20px
}
#categories .menu li a {
	color: #171717;
	padding-left: 0;
	padding-right: 0
}
#categories .menu li a.active,
#categories .menu li a:hover {
	color: #e4a372!important
}
#categories .menu.type2 ul {
	padding-left: 10px
}
#categories .menu.type2 ul li a {
	color: #707070
}
#categories .menu.type2 p.title a {
	color: #1e1a1a
}
#categories .menu.type2 p.title a:hover {
	color: #e4a372
}
#categories nav {
	margin-bottom: 30px
}
#categories nav li.tag-li input {
	display: none
}
#categories nav li.tag-li label span {
	background: #fff;
	display: inline-block;
	width: 13px;
	height: 13px;
	vertical-align: middle;
	margin: -4px 5px 0 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #707070
}
#categories nav li label {
	color: #707070
}
#categories nav ul.tag-group-ul {
	border-top: 1px solid #ddd;
	padding-top: 25px;
	margin-top: 25px
}
#categories .list-toggle-text {
	color: #e4a372
}
#categories .logo {
	margin-bottom: 30px
}
#categories .logo img {
	width: 150px
}
#filter_menu ul li input[type=checkbox]:checked+label span.custom_checkbox {
	background: url(/img/ftcheck.png) center center no-repeat #e4a372;
	background-size: 13px 13px;
	border-color: #e4a372
}
#pagecontent:not(.no-full) {
	width: 100%
}
.sidebar_widget>h3 {
	display: none
}
#body_login .wrap-logo {
	margin-top: 30px;
	margin-bottom: 30px
}
#body_login .wrap-logo img {
	max-width: 178px
}
#body_login #pagebody {
	margin-bottom: 80px;
	margin-top: 30px
}
#body_login #pagebody>.cols>div>* {
	width: 300px;
	margin: 0 auto
}
#body_login #pagebody h2 {
	font-size: 24px;
	text-transform: none
}
#body_login #pagebody form .field-group>div {
	float: none;
	width: 100%
}
#body_login #pagebody form[action=login_submit] {
	margin-bottom: 52px
}
#body_login #pagebody form[action=login_submit] .button {
	color: #fff;
	background-color: #e4a372;
	border-color: #e4a372;
	font-family: muli-regular;
	letter-spacing: 2px
}
#body_login #pagebody form[action=login_submit] .button:hover {
	background-color: #fff;
	border-color: #c0ae64;
	color: #e4a372
}
#body_login #pagebody form[action=login_reset_password_submit].field-group:last-child {
	margin-bottom: 0
}
#body_login #pagebody form[action=login_reset_password_submit] .button {
	font-size: 16px
}
#body_login #pagebody label {
	font-weight: 400;
	width: 100%
}
#body_login #pagebody .button {
	width: 100%;
	height: 50px;
	padding: 0
}
#body_main_category #mid.container {
	max-width: 1170px
}
#body_design div[itemscope] {
	max-width: 1170px;
	margin: 0 auto
}
#body_design .wrap-logo {
	display: none
}
#body_design #next_page,
#body_design #prev_page {
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block!important;
	position: absolute;
	top: 47%;
	font-size: 30px;
	color: #d1cccc
}
#body_design #next_page.fa-pull-left,
#body_design #prev_page.fa-pull-left {
	margin-right: .3em
}
#body_design #next_page.fa-pull-right,
#body_design #prev_page.fa-pull-right {
	margin-left: .3em
}
#body_design #next_page.pull-left,
#body_design #prev_page.pull-left {
	margin-right: .3em
}
#body_design #next_page.pull-right,
#body_design #prev_page.pull-right {
	margin-left: .3em
}
#body_design #prev_page {
	left: 50px
}
#body_design #prev_page:before {
	content: "\f104"
}
#body_design #next_page {
	right: 50px
}
#body_design #next_page:before {
	content: "\f105"
}
#body_design div[class*=block] {
	margin-bottom: 35px
}
#body_design .prijsOf .priceInfoTd {
	position: relative
}
#body_design .prijsOf .priceInfoTd:before {
	font-family: kcicons;
	content: 'k';
	cursor: pointer;
	padding-left: 5px;
	font-size: 16px;
	color: #e4a372
}
#body_design .prijsOf .priceInfoTd:hover .priceHover {
	display: block
}
#body_design .prijsOf .priceHover {
	display: none;
	position: absolute;
	padding: 15px;
	background: #fff;
	top: 15px;
	right: 20px;
	width: 270px;
	-webkit-box-shadow: 0 0 5px 0 #575757;
	box-shadow: 0 0 5px 0 #575757;
	border: 1px solid #e4a372;
	z-index: 999
}
#body_design .prijsOf .sizeTd {
	width: 100px
}
#body_design .desUsp a {
	display: block;
	position: relative;
	padding-left: 20px;
	font-family: muli-regular;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	color: #000
}
#body_design .desUsp a:before {
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	left: 0;
	top: 10px;
	background-color: #000;
	border-radius: 50%
}
#body_design #envelope {
	z-index: 9;
	top: 400px
}
#body_design #envelope>span {
	display: block
}
#body_design #envelope .ui-selectmenu-button {
	width: 100%!important
}
#body_design #envelope .ui-selectmenu-text {
	height: auto;
	width: 100%!important;
	display: block!important
}
#body_design .swiper-controls {
	margin-top: 80px
}
#body_design .swiper-controls>span:not(.active) {
	opacity: .5
}
#body_design .swiper-controls>span:not(.active) span {
	opacity: .5
}
#body_design .swiper-container-horizontal {
	min-height: 400px
}
#body_design span.envview span.env {
	display: inline-block;
	width: 86px;
	position: absolute;
	top: 0;
	right: -10px;
	height: 80px;
	z-index: -1;
	background: url(/img/envtransklein.png) no-repeat #eeeded;
	background-size: 100% 100%;
	transform: rotate(14deg)
}
.wrap_card_previews {
	width: 100%;
	white-space: nowrap;
	height: 340px;
	background-color: #f9f8f8;
	position: relative;
	margin-bottom: 120px;
	overflow: hidden
}
.wrap_card_previews #card_previews_horizontal {
	width: auto;
	overflow: hidden;
	height: 340px;
	position: relative
}
.wrap_card_previews #inner {
	-webkit-transform: translate(0, 30%);
	-moz-transform: translate(0, 30%);
	-ms-transform: translate(0, 30%);
	-o-transform: translate(0, 30%);
	transform: translate(0, 30%)
}
.design-content {
	margin-bottom: 50px!important
}
.design-content .swiper-container {
	margin-top: 60px
}
.design-content .swiper-slide img {
	z-index: 0
}
.design-content .box {
	border: none;
	border-radius: 0
}
.design-content .box .box-body {
	padding: 0
}
.design-content .text-center {
	text-align: left!important
}
.design-content .back-over-view {
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 25px
}
.design-content #choose_preview {
	color: #fff;
	background-color: #e4a372;
	border-color: #e4a372;
	font-family: muli-regular;
	letter-spacing: 2px;
	padding: 5px 10px;
	font-size: 15px;
	display: block;
	width: 285px;
	height: 50px;
	line-height: 50px;
	padding-top: 0;
	margin-bottom: 15px
}
.design-content #choose_preview:hover {
	background-color: #fff;
	border-color: #c0ae64;
	color: #e4a372
}
.design-content h1 {
	font-family: playfairdisplay;
	font-size: 24px;
	margin-bottom: 25px
}
.design-content .box-body>.cols {
	margin: 0
}
.design-content .box-body>.cols>.md-12.text-center.text-md {
	display: inline-block;
	font-weight: 400;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	overflow: hidden;
	text-transform: uppercase;
	box-sizing: border-box;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	color: #909090;
	background-color: #fff;
	border-color: #dedcd6;
	font-family: muli-regular;
	padding: 10px 5px;
	line-height: 1.5;
	letter-spacing: 1px;
	width: 285px;
	height: 34px;
	text-align: center!important;
	font-size: 11px!important;
	margin-bottom: 30px
}
.design-content .box-body>.cols>.md-12.text-center.text-md:hover {
	-webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
	transition-timing-function: cubic-bezier(.2, 1, .3, 1)
}
.design-content .box-body>.cols>.md-12.text-center.text-md i {
	padding: 0 4px;
	text-transform: none;
	display: inline-block;
	vertical-align: middle
}
.design-content .box-body>.cols>.md-12.text-center.text-md:hover {
	background-color: #dedcd6
}
.design-content .box-body>.cols>.md-12.text-center.text-sm {
	padding: 0
}
.design-content .box-footer {
	border: 1px solid #e4a372;
	background-color: #fdfdfd
}
.design-content .zenv {
	margin: 10px 0
}
.design-content .meerPrijsLink {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	overflow: hidden;
	text-transform: uppercase;
	box-sizing: border-box;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	color: #909090;
	background-color: #fff;
	border-color: #dedcd6;
	font-family: muli-regular;
	letter-spacing: 2px;
	padding: 10px 5px;
	font-size: 11px;
	line-height: 1.5;
	width: 195px
}
.design-content .meerPrijsLink:hover {
	-webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
	transition-timing-function: cubic-bezier(.2, 1, .3, 1)
}
.design-content .meerPrijsLink i {
	padding: 0 4px;
	text-transform: none;
	display: inline-block;
	vertical-align: middle
}
.design-content .meerPrijsLink:hover {
	background-color: #dedcd6
}
.design-content .accordion {
	border: none
}
.design-content .accordion:not(:last-child) {
	display: none
}
.design-content .accordion .accordion-button,
.design-content .accordion .icon-chevron-down {
	display: none
}
.design-content .accordion-body {
	display: block!important
}

#body_contact #mid.container,
body[id*=body_account] #mid.container {
	max-width: 1170px;
	margin: 0 auto
}
#body_contact h1 {
	font-size: 30px
}
body[id*=body_account] h1 {
	margin-bottom: 50px
}
#body_account_settings .button-link {
	width: auto;
	padding-left: 35px;
	padding-right: 35px;
	margin-left: 15px;
	margin-right: 15px
}
#body_check #pagecontent h1,
#body_size #pagecontent h1,
#body_verzend #pagecontent h1,
body.ed #pagecontent h1 {
	color: #1e1a1a
}
#body_basket #basket_n+#nav_buttons .button[href="/"],
#step_back,
#step_forward_alternate {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	overflow: hidden;
	text-transform: uppercase;
	box-sizing: border-box;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	padding: 10px 35px;
	line-height: 1.5;
	color: #1e1a1a;
	background-color: #f9f8f8;
	border-color: #dedcd6;
	font-family: muli-regular;
	letter-spacing: 2px;
	font-size: 13px
}
#body_basket #basket_n+#nav_buttons .button[href="/"]:hover,
#step_back:hover,
#step_forward_alternate:hover {
	-webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
	transition-timing-function: cubic-bezier(.2, 1, .3, 1)
}
#body_basket #basket_n+#nav_buttons .button[href="/"] i,
#step_back i,
#step_forward_alternate i {
	padding: 0 4px;
	text-transform: none;
	display: inline-block;
	vertical-align: middle
}
#body_basket #basket_n+#nav_buttons .button[href="/"]:hover,
#step_back:hover,
#step_forward_alternate:hover {
	background-color: #dedcd6
}
#step_forward_alternate:hover {
	color: #1e1a1a
}
#step_back {
	position: relative
}
#step_back:before {
	position: absolute;
	font-family: fontawesome;
	font-style: normal!important;
	content: "\f104";
	color: inherit;
	left: 20px;
	top: 9px
}
#step_forward {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	overflow: hidden;
	text-transform: uppercase;
	box-sizing: border-box;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	color: #fff;
	background-color: #e4a372;
	border-color: #e4a372;
	font-family: muli-regular;
	letter-spacing: 2px;
	width: auto;
	font-size: 13px;
	height: 40px;
	padding: 0 25px;
	line-height: 40px;
	position: relative
}
#step_forward:hover {
	-webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
	transition-timing-function: cubic-bezier(.2, 1, .3, 1)
}
#step_forward i {
	padding: 0 4px;
	text-transform: none;
	display: inline-block;
	vertical-align: middle
}
#step_forward:hover {
	background-color: #fff;
	border-color: #c0ae64;
	color: #e4a372
}
#step_forward:before {
	position: absolute;
	font-family: fontawesome;
	font-style: normal!important;
	content: "\f105";
	color: inherit;
	right: 10px;
	top: 0
}
#header .navbar.fixed {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9999
}
#header .navbar.fixed .topbar .topbar-menu-right .help:before {
	content: none
}
#body_address #wrapper,
#body_addresses #wrapper,
#body_basket #wrapper,
#body_bestel_details #wrapper,
#body_check #wrapper,
#body_kaarttype #wrapper,
#body_keuze #wrapper,
#body_size #wrapper,
#body_verzend #wrapper,
body.ed #wrapper {
	margin-top: 100px;
	width: 100%;
	max-width: 1170px
}
#body_basket #basket_n+#nav_buttons .button[href="/"],
#body_basket #basket_n+#nav_buttons a:first-child,
#body_basket #step_back,
#body_basket #step_forward,
#body_bestel_details #basket_n+#nav_buttons .button[href="/"],
#body_bestel_details #basket_n+#nav_buttons a:first-child,
#body_bestel_details #step_back,
#body_bestel_details #step_forward,
#body_keuze #basket_n+#nav_buttons .button[href="/"],
#body_keuze #basket_n+#nav_buttons a:first-child,
#body_keuze #step_back,
#body_keuze #step_forward,
#body_size #basket_n+#nav_buttons .button[href="/"],
#body_size #basket_n+#nav_buttons a:first-child,
#body_size #step_back,
#body_size #step_forward,
#body_verzend #basket_n+#nav_buttons .button[href="/"],
#body_verzend #basket_n+#nav_buttons a:first-child,
#body_verzend #step_back,
#body_verzend #step_forward,
#body_voorbeeld #basket_n+#nav_buttons .button[href="/"],
#body_voorbeeld #basket_n+#nav_buttons a:first-child,
#body_voorbeeld #step_back,
#body_voorbeeld #step_forward {
	background-color: #1e1a1a;
	color: #fff
}
#body_basket #basket_n+#nav_buttons .button[href="/"]:hover,
#body_basket #basket_n+#nav_buttons a:first-child:hover,
#body_basket #step_back:hover,
#body_basket #step_forward:hover,
#body_bestel_details #basket_n+#nav_buttons .button[href="/"]:hover,
#body_bestel_details #basket_n+#nav_buttons a:first-child:hover,
#body_bestel_details #step_back:hover,
#body_bestel_details #step_forward:hover,
#body_keuze #basket_n+#nav_buttons .button[href="/"]:hover,
#body_keuze #basket_n+#nav_buttons a:first-child:hover,
#body_keuze #step_back:hover,
#body_keuze #step_forward:hover,
#body_size #basket_n+#nav_buttons .button[href="/"]:hover,
#body_size #basket_n+#nav_buttons a:first-child:hover,
#body_size #step_back:hover,
#body_size #step_forward:hover,
#body_verzend #basket_n+#nav_buttons .button[href="/"]:hover,
#body_verzend #basket_n+#nav_buttons a:first-child:hover,
#body_verzend #step_back:hover,
#body_verzend #step_forward:hover,
#body_voorbeeld #basket_n+#nav_buttons .button[href="/"]:hover,
#body_voorbeeld #basket_n+#nav_buttons a:first-child:hover,
#body_voorbeeld #step_back:hover,
#body_voorbeeld #step_forward:hover {
	background-color: #fff;
	border-color: #1e1a1a;
	color: #1e1a1a
}
#body_keuze h1 {
	text-transform: uppercase;
}
#body_keuze .proefdruk .button,
#body_keuze .kaartenVoor .button,
#body_keuze .envVooraf .button {
	height: auto;
}
#body_basket #basket_n+#nav_buttons a:first-child {
	width: auto;
	height: 37px;
	line-height: 37px;
	padding: 0 35px;
	letter-spacing: 1px;
	font-family: muli-regular
}
#body_address #footer .top {
	background: 0 0
}
#verzend_form .cols {
	margin-left: 0;
	margin-right: 0
}
.eigen-collectie-cards {
	background-color: #f9f8f8;
	padding: 35px 0 27px
}
#body_edit .sp-replacer .sp-preview-inner[style*="background-color: rgb(255, 255, 255)"] {
	color: #000
}
#body_edit input[style*="background-color: rgb(255, 255, 255)"]~.sp-replacer .sp-dd {
	border-color: #000 transparent transparent
}
#footer {
	background-color: #fff
}
#footer .bottom {
	padding: 15px 30px 60px;
	border-top: 1px solid #e4a372;
	background-color: #fdfdfd
}
#footer .menu li {
	position: relative
}
#footer .menu li+li:before {
	position: absolute;
	content: "";
	width: 1px;
	height: 16px;
	left: 0;
	top: 5px;
	background-color: #1e1a1a
}
#footer .menu a {
	color: #1e1a1a;
	font-size: 15px;
	text-transform: uppercase;
	padding-left: 15px;
	padding-right: 15px
}
#footer .menu a:hover {
	color: #e4a372
}
#footer .logo {
	margin-top: 20px;
	margin-bottom: 20px
}
#footer p {
	margin-bottom: 0
}
#footer .copyright {
	font-family: muli-regular;
	font-size: 13px;
	text-transform: uppercase
}
#footer .address {
	font-family: muli-regular;
	font-size: 16px;
	text-transform: uppercase;
	width: auto;
	height: auto
}
.scrollToTop {
	width: 50px;
	height: 50px;
	background-color: #e7a676;
	color: #fff!important;
	display: block;
	position: fixed;
	right: 10px;
	bottom: 10px;
	text-align: center;
	padding: 3px;
	font-size: 13px
}
.scrollToTop i {
	font-size: 22px
}
.scrollToTop span {
	display: block;
	line-height: 50px;
	text-transform: uppercase;
	font-family: muli-regular
}
.sp-button-container {
	padding-top: 90px;
}

@media screen and (min-width: 768px) {
	.scrollToTop {
		right: 50px;
		bottom: 50px
	}
	#body_login #pagebody>.cols {
		position: relative;
		overflow: hidden
	}
	#body_login #pagebody>.cols:before {
		position: absolute;
		content: "";
		display: block;
		width: 1px;
		background-color: #dedcd6;
		left: 50%;
		top: 0;
		height: 100%
	}
	.wrap_card_previews a {
		padding: 0 60px
	}
}

@media screen and (min-width: 992px) {
	.navbar .topbar .topbar-menu-right .phone {
		display: none
	}
	.navbar .topbar .topbar-menu-right .basket {
		padding-right: 10px
	}
	.navbar .topbar .topbar-menu-right .help {
		position: relative;
		padding-left: 10px
	}
	.navbar .topbar .topbar-menu-right .help:before {
		position: absolute;
		content: "";
		width: 1px;
		height: 11px;
		left: -5px;
		top: 38%;
		background-color: #1e1a1a
	}
	div[class*=block] {
		margin-bottom: 80px
	}
	.block4 .des {
		padding: 25px 45px
	}
	.block5 .wrap {
		padding-left: 30px;
		padding-right: 30px
	}
	.block6 .des {
		padding: 45px 50px
	}
	.block7 .left .wrap {
		padding: 87px 8% 120px
	}
	.block7 .left .button {
		width: 80%
	}
}

@media screen and (min-width: 1200px) {
	.block3 .des {
		padding-left: 15px;
		padding-right: 15px
	}

	.block1 .button-group .button {
		min-width: 236px;
	}
	.navbar .middlebar ul.middlebar-menu-right>li>a {
		font-size: 16px;
	}

}
@media screen and (min-width: 1400px) {
	.block1 .button-group .button {
		min-width: 315px;
	}
}

@media screen and (max-width: 1300px) {
	.block1 h2 {
		font-size: 24px;
	}
}

@media screen and (max-width: 991px) {
	a.logo {
		padding-top: 18px
	}
	a.logo img {
		max-width: 60%
	}
	div.floatAdmin {
		top: 65px!important;
		left: auto!important;
		right: 7px
	}
	.navbar .hide-mobile,
	.navbar .middlebar ul.middlebar-menu-right li.dropdown ul,
	.navbar-search-field.sForm.sm-hide {
		display: none!important
	}
	.navbar .middlebar .navbar-search-field.sForm-m {
		display: block!important;
		background-color: transparent;
		padding: 0 30px
	}
	.navbar .middlebar .navbar-search-field.sForm-m a {
		display: inline-block;
		padding: 0;
		font-weight: 700;
		color: #1e1a1a;
		text-transform: none
	}
	.navbar .middlebar .navbar-search-field.sForm-m input {
		border: none;
		text-transform: uppercase;
		font-family: inherit;
		font-size: 16px;
		color: #1e1a1a;
		outline-color: #1e1a1a;
		padding: 10px
	}
	.navbar .middlebar .navbar-search-field.sForm-m input::-webkit-input-placeholder {
		color: #1e1a1a!important;
		opacity: 1
	}
	.navbar .middlebar .navbar-search-field.sForm-m input:-moz-placeholder {
		color: #1e1a1a!important;
		opacity: 1
	}
	.navbar .middlebar .navbar-search-field.sForm-m input::-moz-placeholder {
		color: #1e1a1a!important;
		opacity: 1
	}
	.navbar .middlebar .navbar-search-field.sForm-m input:-ms-input-placeholder {
		color: #1e1a1a!important;
		opacity: 1
	}
}

@media screen and (max-width: 767px) {
	#mid {
		margin-bottom: 30px
	}
	div[class*=block] .hgroup .main-title,
	div[class*=block] .hgroup h1.main-title {
		font-size: 20px
	}
	h5 {
		font-size: 10px
	}
	.block3>.cols .right,
	.block3>.cols>.left,
	.block3>.cols>.middle {
		display: block;
		width: 100%;
		padding: 30px 15px
	}
	#body_design .design-content {
		padding-top: 0
	}
	.design-content .back-over-view {
		position: absolute;
		top: -500px;
		z-index: 9999
	}
	#body_design .crumb-mobile {
		display: none
	}
	#body_design #envelope {
		top: -55px;
		left: auto
	}
	#body_design .design-title {
		border-top: 0
	}
}
@media screen and (max-width: 480px) {
	#footer .menu li {
		display: block;
		text-align: left
	}
	#footer .menu li+li:before {
		content: none
	}
	#footer .menu li a {
		display: inline-block;
		padding: 3px 0
	}
	.social li {
		margin-left: 0;
		margin-right: 0
	}
	.social li a {
		padding: 8px 0;
		width: 46px
	}
}

.thumbnail-scroller-middle {
    min-height: 240px;
}

#navbar-basket {
    display: inline-block;
}


/* New designpage - August 2016 */

#body_design .box-body .proefDrukPrijs {
    margin-left: 0px;
}

#body_design .box-footer .desUsp {
    border-color: #e4a372;
    padding: 25px;
    background-color: #fff;
    border-radius: 0px;
}

#body_design .open_calculator i {
    color: #e4a372;
}

#body_design .open_calculator .openPrijsCalculator,
#body_design .add_to_collection .save_user_design {
    text-transform: uppercase;
    font-family: muli-regular;
    font-size: 14px;
}

#body_design .add_to_collection,
#body_design .open_calculator {
    border-color: #dedcd6;
    border-radius: 0px;
    padding: 10px 15px;
}

#body_design .add_to_collection {
    padding: 5px 15px 10px 15px;
}

#body_design .add_to_collection:hover,
#body_design .open_calculator:hover {
    background-color: #dedcd6;;
}

#body_design #enlarge-card .modal-header h1 {
    text-align: center;
}

#body_design #enlarge-card .modal-body .mod-edit-button {
    background-color: #e4a372;
    border-radius: 0px;
}

#body_design #enlarge-card .modal-body .next-preview {
    background-color: #e4a372;
    border-radius: 0px;
}

#body_design #enlarge-card .modal-body .prev-preview {
    background-color: #e4a372;
    border-radius: 0px;
}

#body_design #enlarge-card .modal-body .mod-edit-button {
    padding: 10px;
}

#body_design #enlarge-card .modal-body .mod-edit-button a {
    letter-spacing: 3px;
}

#body_design .box-footer {
    border: none;
}

#body_design .design-content .container {
    overflow: visible;
}

#body_design .cardrail {
    overflow: visible;
}

#order_card {
	position: relative;
	background-color: #e4a372;
	border: 1px solid #e4a372;
	color: #fff;
	font-family: muli-regular;
	letter-spacing: 2px;
	font-size: 13px;
	text-transform: uppercase;
	padding-right: 25px;
	width: auto;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

#order_card:before {
	position: absolute;
	font-family: fontawesome;
	font-style: normal!important;
	content: "\f105";
	color: inherit;
	right: 10px;
	top: 0;
}

#order_card:hover {
	background-color: #fff;
	border-color: #c0ae64;
	color: #e4a372;
}

/*edit home*/
.block1 .wrap {
	border: 1px solid #e5e5e5;
	position: relative;
}

div[class*="block"] .type1 .des {
	position: absolute;
	max-width: 520px;
	height: 100%;
	left: 0;
	top: 0;
	padding: 40px 20px;
}

.block1 .type2 .des {
	position: absolute;
	padding: 20px 0;
	text-align: center;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.block4 .thumb {
	border: 1px solid #e5e5e5;
	border-bottom: none;
}

.show-tagged #categories{
	display: block;
}

@media screen and (max-width: 991px) {
	.show-tagged .menu-top-m,
	.show-tagged #categories{
		display: none;
	}

	.show-tagged #mid {
		margin-top: 0;
	}
}

@media screen and (min-width: 1200px){
	div[class*="block"] .type1 .button-group {
		margin-top: 30px;
	}
	.block1 .type2 .button-group {
		margin-top: 70px;
	}
}

@media screen and (min-width: 1500px){
	div[class*="block"] .type1 h2 {
		font-size: 40px;
	}
	div[class*="block3"] .type1 h2 {
		font-size: 30px;
	}
	div[class*="block"] .type1 .des {
		padding: 80px 0 80px 70px;
	}
	div[class*="block3"] .type1 .des {
		padding: 44px 0 0 56px;
	}
	.block1 .type2 .des {
		padding-left: 30px;
		padding-right: 30px;
	}
	div[class*="block"] .type1 .button-group {
		margin-top: 50px;
	}
	div[class*="block3"] .type1 .button-group {
		margin-top: 20px;
	}
	.block1 .type2 .button-group {
		margin-top: 140px;
	}
}

@media screen and (max-width: 1600px){
	.block1 .button-lg {
		font-size: 15px;
	}
}

.do-it-yoursefl > p {
    text-align: left !important;
}

#body_geboortekaartjes h1,
#body_huwelijksdrukwerk h1,
#body_kerstkaarten h1,
#body_zelf-ontwerpen h1,
#body_inspiratie h1,
#body_pocketfold h1,
#body_letterpress h1,
#body_grafisch-ontwerp h1 { display: None}

#body_basket .button.back-button {
    background-color: #fff;
    border: solid 1px #1e1a1a !important;
    color: #1e1a1a !important;
}

#body_basket .button.back-button:hover {
    background-color: #fff;
    border: solid 1px #1e1a1a !important;
    color: #1e1a1a !important;
}

@media screen and (max-width: 767px) {
	#body_edit i[class*=icon-]:before,
	#body_voorbeeld i[class*=icon-]:before {
		font-family: editor-font !important;
	}
}


.open_mobile_filter.floater {
	display: none !important;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
	.navbar .middlebar {
		background-color: #fff;
	}
}


.des .button {
	white-space: normal;
}

.envelope-overview-item {
	margin-bottom: 20px;
}
.envelope-overview-item .w-100 {
	max-width: 100%;
	width: auto;
}

.envelope-overview-item .envelope-overview-item-text {
	margin-top: 5px;
	text-align: center;
	display: block;
}

#body_edit #step_forward_alternate {
	background-color: #f9f8f9 !important;
}

#body_edit #step_forward_alternate:hover {
	background-color: #dedcd6 !important;
	color: #fff;
}

#body_enveloppen-info #categories {
	display: none;
}
#body_enveloppen-info #pagecontent {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

