#infodiv {
	z-index:10;
	left: 55px;
}
#infodiv table{position:relative;top:-3px}

#editor_top_border {
    margin-top: -61px;
}

#accordion {
	margin: 0;
	width: 340px;
}

a#edit_card {
	color: none;
}

.edit_div, .edittable {
	color: #000000;
}

#accordion .ui-accordion-content a {
    color: #e10219;
	font-weight:normal;
}

#imagelist .pages, #patternlist .pages, #clipartlist .pages {width: 29%;color:#919191}

#accordion .ui-accordion-header a {
    color: #fff;
    font-weight: normal;
    padding-left: 10px;
    font-family: 'GillSansMT';
    font-size: 14px;
	text-transform:uppercase;
	text-decoration:none!important;
	line-height:30px
}
#accordion .ui-accordion-header.ui-state-active a{color:#fff}
#accordion .ui-accordion-content a.prev, #accordion .ui-accordion-content a.next {
    color: #456067;
    display: inline-block;
    font-size: 12px;
    width: 33%;
	text-decoration:none!important
}
#accordion .ui-accordion-content a.prev{text-align:left}
#accordion .ui-accordion-content a.next{text-align:right}

#imagelist .head, #patternlist .head, #clipartlist .head {
    color: #000000;
	font-size: 13px;
}

.combo > input {
    background-image: url("/img/red_arrow_down.png");
}

#send_date_picker .ui-state-active {
    background: url("/img/calendar-selected.png") no-repeat scroll 7px 0 transparent;
}

#photolist img, #clipartlist img{margin:2px 5px 0 5px;border:#d3d3d3 1px solid;}
#imagelist img{background-color:#f1f3f2;width:90px;max-height:85px;margin:2px 5px 0 5px;border:0;border-right:1px solid #f1f3f2;border-left:1px solid #f1f3f2}
#imagelist .content, #photolist .content, #clipartlist .content{width:310px;padding-left:6px}
#patternlist img{background-color:#def1eb;width:85px;max-height:85px;margin:2px 6px 0 6px;border:0;border-right:4px solid #def1eb;border-left:3px solid #def1eb}
#patternlist .content{width:312px;padding-left:3px}
#imageaddform{background:#fff;width:320px;height:350px;margin-top:-5px;margin-left:-1px}
#bt-color, #bt-pattern {margin-bottom: -10px;
    overflow: hidden;}
#bt-color .description, #bt-pattern  .description {float: left;
    margin-top: 3px;
    width: 86px;}
    #bt-color .description .arrow_allign {display: none}

#patternlist {
    padding-top: 10px;
}
.edit_div img.arrow_allign, #texttable img.centeredImage {display: none;}

#texttable.edittable td {padding: 4px 2px}
#txt_align_left_label, #txt_align_center_label, #txt_align_right_label, #txt_align_top_label, #txt_align_middle_label, #txt_align_bottom_label, #txt_align_justify_label { width: 39px;height: 23px;margin-right: -2px;}
#txt_align_left_label {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
#txt_align_left_label:hover {
    background-position: 0 -31px;
}
#txt_align_left_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -61px;
    background-repeat: no-repeat;
}
#txt_align_center_label {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -467px;
    background-repeat: no-repeat;
}
#txt_align_center_label:hover {
    background-position: 0 -498px;
}
#txt_align_center_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -528px;
    background-repeat: no-repeat;
}
#txt_align_right_label {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -181px;
    background-repeat: no-repeat;
}
#txt_align_right_label:hover {
    background-position: 0 -212px;
}
#txt_align_right_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -242px;
    background-repeat: no-repeat;
}
#txt_align_top_label {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -276px;
    background-repeat: no-repeat;
}
#txt_align_top_label:hover {
    background-position: 0 -306px;
}
#txt_align_top_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -337px;
    background-repeat: no-repeat;
}
#txt_align_middle_label {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -90px;
    background-repeat: no-repeat;
}
#txt_align_middle_label:hover {
    background-position: 0 -120px;
}
#txt_align_middle_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -151px;
    background-repeat: no-repeat;
}
#txt_align_bottom_label {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -372px;
    background-repeat: no-repeat;
}
#txt_align_bottom_label:hover {
    background-position: 0 -402px;
}
#txt_align_bottom_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -433px;
    background-repeat: no-repeat;
}
#txt_align_justify_label {
	background-image: url("/img/sprites-editor.png");
	background-position: 0 -564px;
	background-repeat: no-repeat;
}
#txt_align_justify_label:hover {
	background-position: 0 -628px;
}
#txt_align_justify_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-position: 0 -628px;
	background-repeat: no-repeat;
}
#txt_align{height:32px;margin-top:5px}
#txt_align_v{margin-bottom:0}
#txt_arrange{margin:4px 0 2px}
#placeholder{position:relative;top:3px;height:auto !important}
#photo_turn_left {
	margin-right: 3px;
}
#imgtransparency, #textsize {
    background: url("/img/bg_slider02.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
    border: medium none;
    float: right;
    height: 6px;
    margin-left: 0;
    width: 158px;
    margin-top: 20px;
}
#texttransparency {
    background: url("/img/bg_slider02.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
	width:156px;
	margin-top:12px
}
#imgtransparency a, #texttransparency a, #textsize a {
    background: url("/img/scroll-ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none;
    display: block;
    height: 7px;
    width: 16px;
	top:-6px;
	margin-left:0
}
#position_photo_tofront .ui-button-text, #position_txt_tofront .ui-button-text {
    background: url("/img/to_front.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#position_photo_toback .ui-button-text, #position_txt_toback .ui-button-text {
    background: url("/img/to_back.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

#position_photo_tofront .ui-button-text img, #position_photo_toback .ui-button-text img, #position_txt_toback .ui-button-text img, #position_txt_tofront .ui-button-text img {
    visibility: hidden;
}
#accordion .ui-accordion-content textarea#txt_edit_add {
	background:#fff;
	width: 296px !important;
    height: 75px !important;
    padding:5px 9px;
    margin:9px 0 5px 1px;
	color:#1e1a1a;
	font-size:13px;
	border-color:#d3d3d3;
	border-width:2px 2px 1px 1px;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none
}
#photo_arrange #position_photo_tofront, #photo_arrange #position_photo_toback, #txt_arrange #position_txt_tofront, #txt_arrange #position_txt_toback {
    border: medium none;
    box-shadow: none;
}

#body_edit #save_design, #body_edit #save_user_design{height:35px!important;border:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
/*#body_edit #save_design, #body_edit #save_user_design, .edit_big_button{background:#8ac0cf;height:33px;line-height:33px;padding:0 17px;color:#fff;font-size:17px;font-family:'GillSansMT';border-bottom:2px solid #759ba6;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0}*/
/*#body_edit #save_design:hover, #body_edit #save_user_design:hover, .edit_big_button:hover {background-color:#74adbd!important;text-decoration:none}*/
#imagelist, #patternlist, #clipartlist{width:318px;height:125px}
#imagelist, #clipartlist{margin-top:7px}
#chooseside {width:330px;}

#body_edit #chooseside,
#body_edit #page_edit_nav_new {
  left: 275px!important;
}

#body_edit div[class*=block] {
  margin-bottom: 0;
}