@charset "UTF-8";

@font-face {
    font-family: muli-regular;
    src: url(/css/fonts/muli-regular.eot);
    src: url(/css/fonts/muli-regular.eot?#iefix) format("embedded-opentype"), url(/css/fonts/muli-regular.woff) format("woff"), url(/css/fonts/muli-regular.ttf) format("truetype"), url(/css/fonts/muli-regular.svg#untitled-font-1) format("svg")
}

@font-face {
    font-family: fontawesome;
    src: url(/css/fonts/fontawesome-webfont.eot);
    src: url(/css/fonts/fontawesome-webfont.eot?#iefix) format('embedded-opentype'), url(/css/fonts/fontawesome-webfont.woff2) format('woff2'), url(/css/fonts/fontawesome-webfont.woff) format('woff'), url(/css/fonts/fontawesome-webfont.ttf) format('truetype'), url(/css/fonts/fontawesome-webfont.svg#museo_sans500) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: FontAwesome;
    src: url(//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.eot?v=4.6.3);
    src: url(//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3) format('embedded-opentype'), url(//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.woff2?v=4.6.3) format('woff2'), url(//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.woff?v=4.6.3) format('woff'), url(//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.ttf?v=4.6.3) format('truetype'), url(//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-fw {
    width: 1.28571429em;
    text-align: center
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none
}

.fa-ul>li {
    position: relative
}

.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em;
    text-align: center
}

.fa-li.fa-lg {
    left: -1.85714286em
}

.fa-border {
    padding: .2em .25em .15em;
    border: .08em solid #eee;
    border-radius: .1em
}

.fa-pull-left {
    float: left
}

.fa-pull-right {
    float: right
}

.fa.fa-pull-left {
    margin-right: .3em
}

.fa.fa-pull-right {
    margin-left: .3em
}

.fa.pull-left {
    margin-right: .3em
}

.fa.pull-right {
    margin-left: .3em
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.fa-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1)
}

:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-rotate-90 {
    filter: none
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle
}

.fa-stack-1x,
.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center
}

.fa-stack-1x {
    line-height: inherit
}

.fa-stack-2x {
    font-size: 2em
}

.fa-inverse {
    color: #fff
}

.fa-glass:before {
    content: "\f000"
}

.fa-music:before {
    content: "\f001"
}

.fa-search:before {
    content: "\f002"
}

.fa-envelope-o:before {
    content: "\f003"
}

.fa-heart:before {
    content: "\f004"
}

.fa-star:before {
    content: "\f005"
}

.fa-star-o:before {
    content: "\f006"
}

.fa-user:before {
    content: "\f007"
}

.fa-film:before {
    content: "\f008"
}

.fa-th-large:before {
    content: "\f009"
}

.fa-th:before {
    content: "\f00a"
}

.fa-th-list:before {
    content: "\f00b"
}

.fa-check:before {
    content: "\f00c"
}

.fa-close:before,
.fa-remove:before,
.fa-times:before {
    content: "\f00d"
}

.fa-search-plus:before {
    content: "\f00e"
}

.fa-search-minus:before {
    content: "\f010"
}

.fa-power-off:before {
    content: "\f011"
}

.fa-signal:before {
    content: "\f012"
}

.fa-cog:before,
.fa-gear:before {
    content: "\f013"
}

.fa-trash-o:before {
    content: "\f014"
}

.fa-home:before {
    content: "\f015"
}

.fa-file-o:before {
    content: "\f016"
}

.fa-clock-o:before {
    content: "\f017"
}

.fa-road:before {
    content: "\f018"
}

.fa-download:before {
    content: "\f019"
}

.fa-arrow-circle-o-down:before {
    content: "\f01a"
}

.fa-arrow-circle-o-up:before {
    content: "\f01b"
}

.fa-inbox:before {
    content: "\f01c"
}

.fa-play-circle-o:before {
    content: "\f01d"
}

.fa-repeat:before,
.fa-rotate-right:before {
    content: "\f01e"
}

.fa-refresh:before {
    content: "\f021"
}

.fa-list-alt:before {
    content: "\f022"
}

.fa-lock:before {
    content: "\f023"
}

.fa-flag:before {
    content: "\f024"
}

.fa-headphones:before {
    content: "\f025"
}

.fa-volume-off:before {
    content: "\f026"
}

.fa-volume-down:before {
    content: "\f027"
}

.fa-volume-up:before {
    content: "\f028"
}

.fa-qrcode:before {
    content: "\f029"
}

.fa-barcode:before {
    content: "\f02a"
}

.fa-tag:before {
    content: "\f02b"
}

.fa-tags:before {
    content: "\f02c"
}

.fa-book:before {
    content: "\f02d"
}

.fa-bookmark:before {
    content: "\f02e"
}

.fa-print:before {
    content: "\f02f"
}

.fa-camera:before {
    content: "\f030"
}

.fa-font:before {
    content: "\f031"
}

.fa-bold:before {
    content: "\f032"
}

.fa-italic:before {
    content: "\f033"
}

.fa-text-height:before {
    content: "\f034"
}

.fa-text-width:before {
    content: "\f035"
}

.fa-align-left:before {
    content: "\f036"
}

.fa-align-center:before {
    content: "\f037"
}

.fa-align-right:before {
    content: "\f038"
}

.fa-align-justify:before {
    content: "\f039"
}

.fa-list:before {
    content: "\f03a"
}

.fa-dedent:before,
.fa-outdent:before {
    content: "\f03b"
}

.fa-indent:before {
    content: "\f03c"
}

.fa-video-camera:before {
    content: "\f03d"
}

.fa-image:before,
.fa-photo:before,
.fa-picture-o:before {
    content: "\f03e"
}

.fa-pencil:before {
    content: "\f040"
}

.fa-map-marker:before {
    content: "\f041"
}

.fa-adjust:before {
    content: "\f042"
}

.fa-tint:before {
    content: "\f043"
}

.fa-edit:before,
.fa-pencil-square-o:before {
    content: "\f044"
}

.fa-share-square-o:before {
    content: "\f045"
}

.fa-check-square-o:before {
    content: "\f046"
}

.fa-arrows:before {
    content: "\f047"
}

.fa-step-backward:before {
    content: "\f048"
}

.fa-fast-backward:before {
    content: "\f049"
}

.fa-backward:before {
    content: "\f04a"
}

.fa-play:before {
    content: "\f04b"
}

.fa-pause:before {
    content: "\f04c"
}

.fa-stop:before {
    content: "\f04d"
}

.fa-forward:before {
    content: "\f04e"
}

.fa-fast-forward:before {
    content: "\f050"
}

.fa-step-forward:before {
    content: "\f051"
}

.fa-eject:before {
    content: "\f052"
}

.fa-chevron-left:before {
    content: "\f053"
}

.fa-chevron-right:before {
    content: "\f054"
}

.fa-plus-circle:before {
    content: "\f055"
}

.fa-minus-circle:before {
    content: "\f056"
}

.fa-times-circle:before {
    content: "\f057"
}

.fa-check-circle:before {
    content: "\f058"
}

.fa-question-circle:before {
    content: "\f059"
}

.fa-info-circle:before {
    content: "\f05a"
}

.fa-crosshairs:before {
    content: "\f05b"
}

.fa-times-circle-o:before {
    content: "\f05c"
}

.fa-check-circle-o:before {
    content: "\f05d"
}

.fa-ban:before {
    content: "\f05e"
}

.fa-arrow-left:before {
    content: "\f060"
}

.fa-arrow-right:before {
    content: "\f061"
}

.fa-arrow-up:before {
    content: "\f062"
}

.fa-arrow-down:before {
    content: "\f063"
}

.fa-mail-forward:before,
.fa-share:before {
    content: "\f064"
}

.fa-expand:before {
    content: "\f065"
}

.fa-compress:before {
    content: "\f066"
}

.fa-plus:before {
    content: "\f067"
}

.fa-minus:before {
    content: "\f068"
}

.fa-asterisk:before {
    content: "\f069"
}

.fa-exclamation-circle:before {
    content: "\f06a"
}

.fa-gift:before {
    content: "\f06b"
}

.fa-leaf:before {
    content: "\f06c"
}

.fa-fire:before {
    content: "\f06d"
}

.fa-eye:before {
    content: "\f06e"
}

.fa-eye-slash:before {
    content: "\f070"
}

.fa-exclamation-triangle:before,
.fa-warning:before {
    content: "\f071"
}

.fa-plane:before {
    content: "\f072"
}

.fa-calendar:before {
    content: "\f073"
}

.fa-random:before {
    content: "\f074"
}

.fa-comment:before {
    content: "\f075"
}

.fa-magnet:before {
    content: "\f076"
}

.fa-chevron-up:before {
    content: "\f077"
}

.fa-chevron-down:before {
    content: "\f078"
}

.fa-retweet:before {
    content: "\f079"
}

.fa-shopping-cart:before {
    content: "\f07a"
}

.fa-folder:before {
    content: "\f07b"
}

.fa-folder-open:before {
    content: "\f07c"
}

.fa-arrows-v:before {
    content: "\f07d"
}

.fa-arrows-h:before {
    content: "\f07e"
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
    content: "\f080"
}

.fa-twitter-square:before {
    content: "\f081"
}

.fa-facebook-square:before {
    content: "\f082"
}

.fa-camera-retro:before {
    content: "\f083"
}

.fa-key:before {
    content: "\f084"
}

.fa-cogs:before,
.fa-gears:before {
    content: "\f085"
}

.fa-comments:before {
    content: "\f086"
}

.fa-thumbs-o-up:before {
    content: "\f087"
}

.fa-thumbs-o-down:before {
    content: "\f088"
}

.fa-star-half:before {
    content: "\f089"
}

.fa-heart-o:before {
    content: "\f08a"
}

.fa-sign-out:before {
    content: "\f08b"
}

.fa-linkedin-square:before {
    content: "\f08c"
}

.fa-thumb-tack:before {
    content: "\f08d"
}

.fa-external-link:before {
    content: "\f08e"
}

.fa-sign-in:before {
    content: "\f090"
}

.fa-trophy:before {
    content: "\f091"
}

.fa-github-square:before {
    content: "\f092"
}

.fa-upload:before {
    content: "\f093"
}

.fa-lemon-o:before {
    content: "\f094"
}

.fa-phone:before {
    content: "\f095"
}

.fa-square-o:before {
    content: "\f096"
}

.fa-bookmark-o:before {
    content: "\f097"
}

.fa-phone-square:before {
    content: "\f098"
}

.fa-twitter:before {
    content: "\f099"
}

.fa-facebook-f:before,
.fa-facebook:before {
    content: "\f09a"
}

.fa-github:before {
    content: "\f09b"
}

.fa-unlock:before {
    content: "\f09c"
}

.fa-credit-card:before {
    content: "\f09d"
}

.fa-feed:before,
.fa-rss:before {
    content: "\f09e"
}

.fa-hdd-o:before {
    content: "\f0a0"
}

.fa-bullhorn:before {
    content: "\f0a1"
}

.fa-bell:before {
    content: "\f0f3"
}

.fa-certificate:before {
    content: "\f0a3"
}

.fa-hand-o-right:before {
    content: "\f0a4"
}

.fa-hand-o-left:before {
    content: "\f0a5"
}

.fa-hand-o-up:before {
    content: "\f0a6"
}

.fa-hand-o-down:before {
    content: "\f0a7"
}

.fa-arrow-circle-left:before {
    content: "\f0a8"
}

.fa-arrow-circle-right:before {
    content: "\f0a9"
}

.fa-arrow-circle-up:before {
    content: "\f0aa"
}

.fa-arrow-circle-down:before {
    content: "\f0ab"
}

.fa-globe:before {
    content: "\f0ac"
}

.fa-wrench:before {
    content: "\f0ad"
}

.fa-tasks:before {
    content: "\f0ae"
}

.fa-filter:before {
    content: "\f0b0"
}

.fa-briefcase:before {
    content: "\f0b1"
}

.fa-arrows-alt:before {
    content: "\f0b2"
}

.fa-group:before,
.fa-users:before {
    content: "\f0c0"
}

.fa-chain:before,
.fa-link:before {
    content: "\f0c1"
}

.fa-cloud:before {
    content: "\f0c2"
}

.fa-flask:before {
    content: "\f0c3"
}

.fa-cut:before,
.fa-scissors:before {
    content: "\f0c4"
}

.fa-copy:before,
.fa-files-o:before {
    content: "\f0c5"
}

.fa-paperclip:before {
    content: "\f0c6"
}

.fa-floppy-o:before,
.fa-save:before {
    content: "\f0c7"
}

.fa-square:before {
    content: "\f0c8"
}

.fa-bars:before,
.fa-navicon:before,
.fa-reorder:before {
    content: "\f0c9"
}

.fa-list-ul:before {
    content: "\f0ca"
}

.fa-list-ol:before {
    content: "\f0cb"
}

.fa-strikethrough:before {
    content: "\f0cc"
}

.fa-underline:before {
    content: "\f0cd"
}

.fa-table:before {
    content: "\f0ce"
}

.fa-magic:before {
    content: "\f0d0"
}

.fa-truck:before {
    content: "\f0d1"
}

.fa-pinterest:before {
    content: "\f0d2"
}

.fa-pinterest-square:before {
    content: "\f0d3"
}

.fa-google-plus-square:before {
    content: "\f0d4"
}

.fa-google-plus:before {
    content: "\f0d5"
}

.fa-money:before {
    content: "\f0d6"
}

.fa-caret-down:before {
    content: "\f0d7"
}

.fa-caret-up:before {
    content: "\f0d8"
}

.fa-caret-left:before {
    content: "\f0d9"
}

.fa-caret-right:before {
    content: "\f0da"
}

.fa-columns:before {
    content: "\f0db"
}

.fa-sort:before,
.fa-unsorted:before {
    content: "\f0dc"
}

.fa-sort-desc:before,
.fa-sort-down:before {
    content: "\f0dd"
}

.fa-sort-asc:before,
.fa-sort-up:before {
    content: "\f0de"
}

.fa-envelope:before {
    content: "\f0e0"
}

.fa-linkedin:before {
    content: "\f0e1"
}

.fa-rotate-left:before,
.fa-undo:before {
    content: "\f0e2"
}

.fa-gavel:before,
.fa-legal:before {
    content: "\f0e3"
}

.fa-dashboard:before,
.fa-tachometer:before {
    content: "\f0e4"
}

.fa-comment-o:before {
    content: "\f0e5"
}

.fa-comments-o:before {
    content: "\f0e6"
}

.fa-bolt:before,
.fa-flash:before {
    content: "\f0e7"
}

.fa-sitemap:before {
    content: "\f0e8"
}

.fa-umbrella:before {
    content: "\f0e9"
}

.fa-clipboard:before,
.fa-paste:before {
    content: "\f0ea"
}

.fa-lightbulb-o:before {
    content: "\f0eb"
}

.fa-exchange:before {
    content: "\f0ec"
}

.fa-cloud-download:before {
    content: "\f0ed"
}

.fa-cloud-upload:before {
    content: "\f0ee"
}

.fa-user-md:before {
    content: "\f0f0"
}

.fa-stethoscope:before {
    content: "\f0f1"
}

.fa-suitcase:before {
    content: "\f0f2"
}

.fa-bell-o:before {
    content: "\f0a2"
}

.fa-coffee:before {
    content: "\f0f4"
}

.fa-cutlery:before {
    content: "\f0f5"
}

.fa-file-text-o:before {
    content: "\f0f6"
}

.fa-building-o:before {
    content: "\f0f7"
}

.fa-hospital-o:before {
    content: "\f0f8"
}

.fa-ambulance:before {
    content: "\f0f9"
}

.fa-medkit:before {
    content: "\f0fa"
}

.fa-fighter-jet:before {
    content: "\f0fb"
}

.fa-beer:before {
    content: "\f0fc"
}

.fa-h-square:before {
    content: "\f0fd"
}

.fa-plus-square:before {
    content: "\f0fe"
}

.fa-angle-double-left:before {
    content: "\f100"
}

.fa-angle-double-right:before {
    content: "\f101"
}

.fa-angle-double-up:before {
    content: "\f102"
}

.fa-angle-double-down:before {
    content: "\f103"
}

.fa-angle-left:before {
    content: "\f104"
}

.fa-angle-right:before {
    content: "\f105"
}

.fa-angle-up:before {
    content: "\f106"
}

.fa-angle-down:before {
    content: "\f107"
}

.fa-desktop:before {
    content: "\f108"
}

.fa-laptop:before {
    content: "\f109"
}

.fa-tablet:before {
    content: "\f10a"
}

.fa-mobile-phone:before,
.fa-mobile:before {
    content: "\f10b"
}

.fa-circle-o:before {
    content: "\f10c"
}

.fa-quote-left:before {
    content: "\f10d"
}

.fa-quote-right:before {
    content: "\f10e"
}

.fa-spinner:before {
    content: "\f110"
}

.fa-circle:before {
    content: "\f111"
}

.fa-mail-reply:before,
.fa-reply:before {
    content: "\f112"
}

.fa-github-alt:before {
    content: "\f113"
}

.fa-folder-o:before {
    content: "\f114"
}

.fa-folder-open-o:before {
    content: "\f115"
}

.fa-smile-o:before {
    content: "\f118"
}

.fa-frown-o:before {
    content: "\f119"
}

.fa-meh-o:before {
    content: "\f11a"
}

.fa-gamepad:before {
    content: "\f11b"
}

.fa-keyboard-o:before {
    content: "\f11c"
}

.fa-flag-o:before {
    content: "\f11d"
}

.fa-flag-checkered:before {
    content: "\f11e"
}

.fa-terminal:before {
    content: "\f120"
}

.fa-code:before {
    content: "\f121"
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
    content: "\f122"
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
    content: "\f123"
}

.fa-location-arrow:before {
    content: "\f124"
}

.fa-crop:before {
    content: "\f125"
}

.fa-code-fork:before {
    content: "\f126"
}

.fa-chain-broken:before,
.fa-unlink:before {
    content: "\f127"
}

.fa-question:before {
    content: "\f128"
}

.fa-info:before {
    content: "\f129"
}

.fa-exclamation:before {
    content: "\f12a"
}

.fa-superscript:before {
    content: "\f12b"
}

.fa-subscript:before {
    content: "\f12c"
}

.fa-eraser:before {
    content: "\f12d"
}

.fa-puzzle-piece:before {
    content: "\f12e"
}

.fa-microphone:before {
    content: "\f130"
}

.fa-microphone-slash:before {
    content: "\f131"
}

.fa-shield:before {
    content: "\f132"
}

.fa-calendar-o:before {
    content: "\f133"
}

.fa-fire-extinguisher:before {
    content: "\f134"
}

.fa-rocket:before {
    content: "\f135"
}

.fa-maxcdn:before {
    content: "\f136"
}

.fa-chevron-circle-left:before {
    content: "\f137"
}

.fa-chevron-circle-right:before {
    content: "\f138"
}

.fa-chevron-circle-up:before {
    content: "\f139"
}

.fa-chevron-circle-down:before {
    content: "\f13a"
}

.fa-html5:before {
    content: "\f13b"
}

.fa-css3:before {
    content: "\f13c"
}

.fa-anchor:before {
    content: "\f13d"
}

.fa-unlock-alt:before {
    content: "\f13e"
}

.fa-bullseye:before {
    content: "\f140"
}

.fa-ellipsis-h:before {
    content: "\f141"
}

.fa-ellipsis-v:before {
    content: "\f142"
}

.fa-rss-square:before {
    content: "\f143"
}

.fa-play-circle:before {
    content: "\f144"
}

.fa-ticket:before {
    content: "\f145"
}

.fa-minus-square:before {
    content: "\f146"
}

.fa-minus-square-o:before {
    content: "\f147"
}

.fa-level-up:before {
    content: "\f148"
}

.fa-level-down:before {
    content: "\f149"
}

.fa-check-square:before {
    content: "\f14a"
}

.fa-pencil-square:before {
    content: "\f14b"
}

.fa-external-link-square:before {
    content: "\f14c"
}

.fa-share-square:before {
    content: "\f14d"
}

.fa-compass:before {
    content: "\f14e"
}

.fa-caret-square-o-down:before,
.fa-toggle-down:before {
    content: "\f150"
}

.fa-caret-square-o-up:before,
.fa-toggle-up:before {
    content: "\f151"
}

.fa-caret-square-o-right:before,
.fa-toggle-right:before {
    content: "\f152"
}

.fa-eur:before,
.fa-euro:before {
    content: "\f153"
}

.fa-gbp:before {
    content: "\f154"
}

.fa-dollar:before,
.fa-usd:before {
    content: "\f155"
}

.fa-inr:before,
.fa-rupee:before {
    content: "\f156"
}

.fa-cny:before,
.fa-jpy:before,
.fa-rmb:before,
.fa-yen:before {
    content: "\f157"
}

.fa-rouble:before,
.fa-rub:before,
.fa-ruble:before {
    content: "\f158"
}

.fa-krw:before,
.fa-won:before {
    content: "\f159"
}

.fa-bitcoin:before,
.fa-btc:before {
    content: "\f15a"
}

.fa-file:before {
    content: "\f15b"
}

.fa-file-text:before {
    content: "\f15c"
}

.fa-sort-alpha-asc:before {
    content: "\f15d"
}

.fa-sort-alpha-desc:before {
    content: "\f15e"
}

.fa-sort-amount-asc:before {
    content: "\f160"
}

.fa-sort-amount-desc:before {
    content: "\f161"
}

.fa-sort-numeric-asc:before {
    content: "\f162"
}

.fa-sort-numeric-desc:before {
    content: "\f163"
}

.fa-thumbs-up:before {
    content: "\f164"
}

.fa-thumbs-down:before {
    content: "\f165"
}

.fa-youtube-square:before {
    content: "\f166"
}

.fa-youtube:before {
    content: "\f167"
}

.fa-xing:before {
    content: "\f168"
}

.fa-xing-square:before {
    content: "\f169"
}

.fa-youtube-play:before {
    content: "\f16a"
}

.fa-dropbox:before {
    content: "\f16b"
}

.fa-stack-overflow:before {
    content: "\f16c"
}

.fa-instagram:before {
    content: "\f16d"
}

.fa-flickr:before {
    content: "\f16e"
}

.fa-adn:before {
    content: "\f170"
}

.fa-bitbucket:before {
    content: "\f171"
}

.fa-bitbucket-square:before {
    content: "\f172"
}

.fa-tumblr:before {
    content: "\f173"
}

.fa-tumblr-square:before {
    content: "\f174"
}

.fa-long-arrow-down:before {
    content: "\f175"
}

.fa-long-arrow-up:before {
    content: "\f176"
}

.fa-long-arrow-left:before {
    content: "\f177"
}

.fa-long-arrow-right:before {
    content: "\f178"
}

.fa-apple:before {
    content: "\f179"
}

.fa-windows:before {
    content: "\f17a"
}

.fa-android:before {
    content: "\f17b"
}

.fa-linux:before {
    content: "\f17c"
}

.fa-dribbble:before {
    content: "\f17d"
}

.fa-skype:before {
    content: "\f17e"
}

.fa-foursquare:before {
    content: "\f180"
}

.fa-trello:before {
    content: "\f181"
}

.fa-female:before {
    content: "\f182"
}

.fa-male:before {
    content: "\f183"
}

.fa-gittip:before,
.fa-gratipay:before {
    content: "\f184"
}

.fa-sun-o:before {
    content: "\f185"
}

.fa-moon-o:before {
    content: "\f186"
}

.fa-archive:before {
    content: "\f187"
}

.fa-bug:before {
    content: "\f188"
}

.fa-vk:before {
    content: "\f189"
}

.fa-weibo:before {
    content: "\f18a"
}

.fa-renren:before {
    content: "\f18b"
}

.fa-pagelines:before {
    content: "\f18c"
}

.fa-stack-exchange:before {
    content: "\f18d"
}

.fa-arrow-circle-o-right:before {
    content: "\f18e"
}

.fa-arrow-circle-o-left:before {
    content: "\f190"
}

.fa-caret-square-o-left:before,
.fa-toggle-left:before {
    content: "\f191"
}

.fa-dot-circle-o:before {
    content: "\f192"
}

.fa-wheelchair:before {
    content: "\f193"
}

.fa-vimeo-square:before {
    content: "\f194"
}

.fa-try:before,
.fa-turkish-lira:before {
    content: "\f195"
}

.fa-plus-square-o:before {
    content: "\f196"
}

.fa-space-shuttle:before {
    content: "\f197"
}

.fa-slack:before {
    content: "\f198"
}

.fa-envelope-square:before {
    content: "\f199"
}

.fa-wordpress:before {
    content: "\f19a"
}

.fa-openid:before {
    content: "\f19b"
}

.fa-bank:before,
.fa-institution:before,
.fa-university:before {
    content: "\f19c"
}

.fa-graduation-cap:before,
.fa-mortar-board:before {
    content: "\f19d"
}

.fa-yahoo:before {
    content: "\f19e"
}

.fa-google:before {
    content: "\f1a0"
}

.fa-reddit:before {
    content: "\f1a1"
}

.fa-reddit-square:before {
    content: "\f1a2"
}

.fa-stumbleupon-circle:before {
    content: "\f1a3"
}

.fa-stumbleupon:before {
    content: "\f1a4"
}

.fa-delicious:before {
    content: "\f1a5"
}

.fa-digg:before {
    content: "\f1a6"
}

.fa-pied-piper-pp:before {
    content: "\f1a7"
}

.fa-pied-piper-alt:before {
    content: "\f1a8"
}

.fa-drupal:before {
    content: "\f1a9"
}

.fa-joomla:before {
    content: "\f1aa"
}

.fa-language:before {
    content: "\f1ab"
}

.fa-fax:before {
    content: "\f1ac"
}

.fa-building:before {
    content: "\f1ad"
}

.fa-child:before {
    content: "\f1ae"
}

.fa-paw:before {
    content: "\f1b0"
}

.fa-spoon:before {
    content: "\f1b1"
}

.fa-cube:before {
    content: "\f1b2"
}

.fa-cubes:before {
    content: "\f1b3"
}

.fa-behance:before {
    content: "\f1b4"
}

.fa-behance-square:before {
    content: "\f1b5"
}

.fa-steam:before {
    content: "\f1b6"
}

.fa-steam-square:before {
    content: "\f1b7"
}

.fa-recycle:before {
    content: "\f1b8"
}

.fa-automobile:before,
.fa-car:before {
    content: "\f1b9"
}

.fa-cab:before,
.fa-taxi:before {
    content: "\f1ba"
}

.fa-tree:before {
    content: "\f1bb"
}

.fa-spotify:before {
    content: "\f1bc"
}

.fa-deviantart:before {
    content: "\f1bd"
}

.fa-soundcloud:before {
    content: "\f1be"
}

.fa-database:before {
    content: "\f1c0"
}

.fa-file-pdf-o:before {
    content: "\f1c1"
}

.fa-file-word-o:before {
    content: "\f1c2"
}

.fa-file-excel-o:before {
    content: "\f1c3"
}

.fa-file-powerpoint-o:before {
    content: "\f1c4"
}

.fa-file-image-o:before,
.fa-file-photo-o:before,
.fa-file-picture-o:before {
    content: "\f1c5"
}

.fa-file-archive-o:before,
.fa-file-zip-o:before {
    content: "\f1c6"
}

.fa-file-audio-o:before,
.fa-file-sound-o:before {
    content: "\f1c7"
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
    content: "\f1c8"
}

.fa-file-code-o:before {
    content: "\f1c9"
}

.fa-vine:before {
    content: "\f1ca"
}

.fa-codepen:before {
    content: "\f1cb"
}

.fa-jsfiddle:before {
    content: "\f1cc"
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-ring:before,
.fa-life-saver:before,
.fa-support:before {
    content: "\f1cd"
}

.fa-circle-o-notch:before {
    content: "\f1ce"
}

.fa-ra:before,
.fa-rebel:before,
.fa-resistance:before {
    content: "\f1d0"
}

.fa-empire:before,
.fa-ge:before {
    content: "\f1d1"
}

.fa-git-square:before {
    content: "\f1d2"
}

.fa-git:before {
    content: "\f1d3"
}

.fa-hacker-news:before,
.fa-y-combinator-square:before,
.fa-yc-square:before {
    content: "\f1d4"
}

.fa-tencent-weibo:before {
    content: "\f1d5"
}

.fa-qq:before {
    content: "\f1d6"
}

.fa-wechat:before,
.fa-weixin:before {
    content: "\f1d7"
}

.fa-paper-plane:before,
.fa-send:before {
    content: "\f1d8"
}

.fa-paper-plane-o:before,
.fa-send-o:before {
    content: "\f1d9"
}

.fa-history:before {
    content: "\f1da"
}

.fa-circle-thin:before {
    content: "\f1db"
}

.fa-header:before {
    content: "\f1dc"
}

.fa-paragraph:before {
    content: "\f1dd"
}

.fa-sliders:before {
    content: "\f1de"
}

.fa-share-alt:before {
    content: "\f1e0"
}

.fa-share-alt-square:before {
    content: "\f1e1"
}

.fa-bomb:before {
    content: "\f1e2"
}

.fa-futbol-o:before,
.fa-soccer-ball-o:before {
    content: "\f1e3"
}

.fa-tty:before {
    content: "\f1e4"
}

.fa-binoculars:before {
    content: "\f1e5"
}

.fa-plug:before {
    content: "\f1e6"
}

.fa-slideshare:before {
    content: "\f1e7"
}

.fa-twitch:before {
    content: "\f1e8"
}

.fa-yelp:before {
    content: "\f1e9"
}

.fa-newspaper-o:before {
    content: "\f1ea"
}

.fa-wifi:before {
    content: "\f1eb"
}

.fa-calculator:before {
    content: "\f1ec"
}

.fa-paypal:before {
    content: "\f1ed"
}

.fa-google-wallet:before {
    content: "\f1ee"
}

.fa-cc-visa:before {
    content: "\f1f0"
}

.fa-cc-mastercard:before {
    content: "\f1f1"
}

.fa-cc-discover:before {
    content: "\f1f2"
}

.fa-cc-amex:before {
    content: "\f1f3"
}

.fa-cc-paypal:before {
    content: "\f1f4"
}

.fa-cc-stripe:before {
    content: "\f1f5"
}

.fa-bell-slash:before {
    content: "\f1f6"
}

.fa-bell-slash-o:before {
    content: "\f1f7"
}

.fa-trash:before {
    content: "\f1f8"
}

.fa-copyright:before {
    content: "\f1f9"
}

.fa-at:before {
    content: "\f1fa"
}

.fa-eyedropper:before {
    content: "\f1fb"
}

.fa-paint-brush:before {
    content: "\f1fc"
}

.fa-birthday-cake:before {
    content: "\f1fd"
}

.fa-area-chart:before {
    content: "\f1fe"
}

.fa-pie-chart:before {
    content: "\f200"
}

.fa-line-chart:before {
    content: "\f201"
}

.fa-lastfm:before {
    content: "\f202"
}

.fa-lastfm-square:before {
    content: "\f203"
}

.fa-toggle-off:before {
    content: "\f204"
}

.fa-toggle-on:before {
    content: "\f205"
}

.fa-bicycle:before {
    content: "\f206"
}

.fa-bus:before {
    content: "\f207"
}

.fa-ioxhost:before {
    content: "\f208"
}

.fa-angellist:before {
    content: "\f209"
}

.fa-cc:before {
    content: "\f20a"
}

.fa-ils:before,
.fa-shekel:before,
.fa-sheqel:before {
    content: "\f20b"
}

.fa-meanpath:before {
    content: "\f20c"
}

.fa-buysellads:before {
    content: "\f20d"
}

.fa-connectdevelop:before {
    content: "\f20e"
}

.fa-dashcube:before {
    content: "\f210"
}

.fa-forumbee:before {
    content: "\f211"
}

.fa-leanpub:before {
    content: "\f212"
}

.fa-sellsy:before {
    content: "\f213"
}

.fa-shirtsinbulk:before {
    content: "\f214"
}

.fa-simplybuilt:before {
    content: "\f215"
}

.fa-skyatlas:before {
    content: "\f216"
}

.fa-cart-plus:before {
    content: "\f217"
}

.fa-cart-arrow-down:before {
    content: "\f218"
}

.fa-diamond:before {
    content: "\f219"
}

.fa-ship:before {
    content: "\f21a"
}

.fa-user-secret:before {
    content: "\f21b"
}

.fa-motorcycle:before {
    content: "\f21c"
}

.fa-street-view:before {
    content: "\f21d"
}

.fa-heartbeat:before {
    content: "\f21e"
}

.fa-venus:before {
    content: "\f221"
}

.fa-mars:before {
    content: "\f222"
}

.fa-mercury:before {
    content: "\f223"
}

.fa-intersex:before,
.fa-transgender:before {
    content: "\f224"
}

.fa-transgender-alt:before {
    content: "\f225"
}

.fa-venus-double:before {
    content: "\f226"
}

.fa-mars-double:before {
    content: "\f227"
}

.fa-venus-mars:before {
    content: "\f228"
}

.fa-mars-stroke:before {
    content: "\f229"
}

.fa-mars-stroke-v:before {
    content: "\f22a"
}

.fa-mars-stroke-h:before {
    content: "\f22b"
}

.fa-neuter:before {
    content: "\f22c"
}

.fa-genderless:before {
    content: "\f22d"
}

.fa-facebook-official:before {
    content: "\f230"
}

.fa-pinterest-p:before {
    content: "\f231"
}

.fa-whatsapp:before {
    content: "\f232"
}

.fa-server:before {
    content: "\f233"
}

.fa-user-plus:before {
    content: "\f234"
}

.fa-user-times:before {
    content: "\f235"
}

.fa-bed:before,
.fa-hotel:before {
    content: "\f236"
}

.fa-viacoin:before {
    content: "\f237"
}

.fa-train:before {
    content: "\f238"
}

.fa-subway:before {
    content: "\f239"
}

.fa-medium:before {
    content: "\f23a"
}

.fa-y-combinator:before,
.fa-yc:before {
    content: "\f23b"
}

.fa-optin-monster:before {
    content: "\f23c"
}

.fa-opencart:before {
    content: "\f23d"
}

.fa-expeditedssl:before {
    content: "\f23e"
}

.fa-battery-4:before,
.fa-battery-full:before {
    content: "\f240"
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
    content: "\f241"
}

.fa-battery-2:before,
.fa-battery-half:before {
    content: "\f242"
}

.fa-battery-1:before,
.fa-battery-quarter:before {
    content: "\f243"
}

.fa-battery-0:before,
.fa-battery-empty:before {
    content: "\f244"
}

.fa-mouse-pointer:before {
    content: "\f245"
}

.fa-i-cursor:before {
    content: "\f246"
}

.fa-object-group:before {
    content: "\f247"
}

.fa-object-ungroup:before {
    content: "\f248"
}

.fa-sticky-note:before {
    content: "\f249"
}

.fa-sticky-note-o:before {
    content: "\f24a"
}

.fa-cc-jcb:before {
    content: "\f24b"
}

.fa-cc-diners-club:before {
    content: "\f24c"
}

.fa-clone:before {
    content: "\f24d"
}

.fa-balance-scale:before {
    content: "\f24e"
}

.fa-hourglass-o:before {
    content: "\f250"
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
    content: "\f251"
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
    content: "\f252"
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
    content: "\f253"
}

.fa-hourglass:before {
    content: "\f254"
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
    content: "\f255"
}

.fa-hand-paper-o:before,
.fa-hand-stop-o:before {
    content: "\f256"
}

.fa-hand-scissors-o:before {
    content: "\f257"
}

.fa-hand-lizard-o:before {
    content: "\f258"
}

.fa-hand-spock-o:before {
    content: "\f259"
}

.fa-hand-pointer-o:before {
    content: "\f25a"
}

.fa-hand-peace-o:before {
    content: "\f25b"
}

.fa-trademark:before {
    content: "\f25c"
}

.fa-registered:before {
    content: "\f25d"
}

.fa-creative-commons:before {
    content: "\f25e"
}

.fa-gg:before {
    content: "\f260"
}

.fa-gg-circle:before {
    content: "\f261"
}

.fa-tripadvisor:before {
    content: "\f262"
}

.fa-odnoklassniki:before {
    content: "\f263"
}

.fa-odnoklassniki-square:before {
    content: "\f264"
}

.fa-get-pocket:before {
    content: "\f265"
}

.fa-wikipedia-w:before {
    content: "\f266"
}

.fa-safari:before {
    content: "\f267"
}

.fa-chrome:before {
    content: "\f268"
}

.fa-firefox:before {
    content: "\f269"
}

.fa-opera:before {
    content: "\f26a"
}

.fa-internet-explorer:before {
    content: "\f26b"
}

.fa-television:before,
.fa-tv:before {
    content: "\f26c"
}

.fa-contao:before {
    content: "\f26d"
}

.fa-500px:before {
    content: "\f26e"
}

.fa-amazon:before {
    content: "\f270"
}

.fa-calendar-plus-o:before {
    content: "\f271"
}

.fa-calendar-minus-o:before {
    content: "\f272"
}

.fa-calendar-times-o:before {
    content: "\f273"
}

.fa-calendar-check-o:before {
    content: "\f274"
}

.fa-industry:before {
    content: "\f275"
}

.fa-map-pin:before {
    content: "\f276"
}

.fa-map-signs:before {
    content: "\f277"
}

.fa-map-o:before {
    content: "\f278"
}

.fa-map:before {
    content: "\f279"
}

.fa-commenting:before {
    content: "\f27a"
}

.fa-commenting-o:before {
    content: "\f27b"
}

.fa-houzz:before {
    content: "\f27c"
}

.fa-vimeo:before {
    content: "\f27d"
}

.fa-black-tie:before {
    content: "\f27e"
}

.fa-fonticons:before {
    content: "\f280"
}

.fa-reddit-alien:before {
    content: "\f281"
}

.fa-edge:before {
    content: "\f282"
}

.fa-credit-card-alt:before {
    content: "\f283"
}

.fa-codiepie:before {
    content: "\f284"
}

.fa-modx:before {
    content: "\f285"
}

.fa-fort-awesome:before {
    content: "\f286"
}

.fa-usb:before {
    content: "\f287"
}

.fa-product-hunt:before {
    content: "\f288"
}

.fa-mixcloud:before {
    content: "\f289"
}

.fa-scribd:before {
    content: "\f28a"
}

.fa-pause-circle:before {
    content: "\f28b"
}

.fa-pause-circle-o:before {
    content: "\f28c"
}

.fa-stop-circle:before {
    content: "\f28d"
}

.fa-stop-circle-o:before {
    content: "\f28e"
}

.fa-shopping-bag:before {
    content: "\f290"
}

.fa-shopping-basket:before {
    content: "\f291"
}

.fa-hashtag:before {
    content: "\f292"
}

.fa-bluetooth:before {
    content: "\f293"
}

.fa-bluetooth-b:before {
    content: "\f294"
}

.fa-percent:before {
    content: "\f295"
}

.fa-gitlab:before {
    content: "\f296"
}

.fa-wpbeginner:before {
    content: "\f297"
}

.fa-wpforms:before {
    content: "\f298"
}

.fa-envira:before {
    content: "\f299"
}

.fa-universal-access:before {
    content: "\f29a"
}

.fa-wheelchair-alt:before {
    content: "\f29b"
}

.fa-question-circle-o:before {
    content: "\f29c"
}

.fa-blind:before {
    content: "\f29d"
}

.fa-audio-description:before {
    content: "\f29e"
}

.fa-volume-control-phone:before {
    content: "\f2a0"
}

.fa-braille:before {
    content: "\f2a1"
}

.fa-assistive-listening-systems:before {
    content: "\f2a2"
}

.fa-american-sign-language-interpreting:before,
.fa-asl-interpreting:before {
    content: "\f2a3"
}

.fa-deaf:before,
.fa-deafness:before,
.fa-hard-of-hearing:before {
    content: "\f2a4"
}

.fa-glide:before {
    content: "\f2a5"
}

.fa-glide-g:before {
    content: "\f2a6"
}

.fa-sign-language:before,
.fa-signing:before {
    content: "\f2a7"
}

.fa-low-vision:before {
    content: "\f2a8"
}

.fa-viadeo:before {
    content: "\f2a9"
}

.fa-viadeo-square:before {
    content: "\f2aa"
}

.fa-snapchat:before {
    content: "\f2ab"
}

.fa-snapchat-ghost:before {
    content: "\f2ac"
}

.fa-snapchat-square:before {
    content: "\f2ad"
}

.fa-pied-piper:before {
    content: "\f2ae"
}

.fa-first-order:before {
    content: "\f2b0"
}

.fa-yoast:before {
    content: "\f2b1"
}

.fa-themeisle:before {
    content: "\f2b2"
}

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
    content: "\f2b3"
}

.fa-fa:before,
.fa-font-awesome:before {
    content: "\f2b4"
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

.rota360 {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
}

#body_address_n #pagecontent h3.ui-accordion-header:after,
#body_basket #pagecontent h3.ui-accordion-header:after,
#body_bestel_details #pagecontent h3.ui-accordion-header:after,
#body_edit #pagecontent h3.ui-accordion-header:after,
#body_eigen_collectie #pagecontent h3.ui-accordion-header:after,
#body_kaarttype #pagecontent h3.ui-accordion-header:after,
#body_keuze #pagecontent h3.ui-accordion-header:after,
#body_ok #pagecontent h3.ui-accordion-header:after,
#body_voorbeeld #pagecontent h3.ui-accordion-header:after {
    position: absolute;
    font-family: fontawesome;
    font-style: normal!important;
    font-size: 24px;
    content: "\f0d7";
    color: #fff;
    right: 15px;
    top: 1px
}

#body_address_n #pagecontent h3.ui-accordion-header-active:after,
#body_basket #pagecontent h3.ui-accordion-header-active:after,
#body_bestel_details #pagecontent h3.ui-accordion-header-active:after,
#body_edit #pagecontent h3.ui-accordion-header-active:after,
#body_eigen_collectie #pagecontent h3.ui-accordion-header-active:after,
#body_kaarttype #pagecontent h3.ui-accordion-header-active:after,
#body_keuze #pagecontent h3.ui-accordion-header-active:after,
#body_ok #pagecontent h3.ui-accordion-header-active:after,
#body_voorbeeld #pagecontent h3.ui-accordion-header-active:after {
    content: "\f0d8"
}

.w-100 {
    width: 100%
}

.mw-100 {
    max-width: 100%
}

#mid.container:not(.no-full),
.block-top .container {
    max-width: 1800px
}

#body_404error #mid.container,
#body_login #mid.container,
#body_no_design #mid.container {
    max-width: 1170px
}

div[onclick]:not(.swiper-container) {
    cursor: pointer
}

div[onclick]:not(.swiper-container):hover img {
    opacity: .5
}

label {
    font-weight: 400
}

.margin-top-50 {
    margin-top: 50px
}

.margin-bottom-25 {
    margin-bottom: 25px
}

div#header.scroll .topbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999
}

.topbar-menu-left .logo img {
    width: 95px
}

#navbar-basket {
    text-transform: none;
    margin-left: 10px;
    color: #e4a372
}

.block-top .middlebar-menu-right>li {
    position: relative;
    padding: 18px 28px;
    border-top: 2px solid #e4e8e8
}

.block-top .middlebar-menu-right>li a {
    text-transform: uppercase;
    font-size: 18px;
    color: #1e1a1a
}

.block-top .middlebar-menu-right>li a .fa {
    position: absolute;
    right: 0;
    top: 12px;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 9;
    line-height: 40px;
    font-size: 22px;
    font-weight: 700
}

.block-top .middlebar-menu-right>li a .fa.fa-angle-down {
    display: none
}

.block-top .middlebar-menu-right>li a:after {
    font: normal normal normal 14px/1 FontAwesome
}

.block-top .dropdown-content {
    display: none;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px dashed #CBCECE
}

.block-top .dropdown-content li {
    padding: 10px 0
}

.block-top .dropdown-content.show {
    display: block
}

#mid {
    margin-bottom: 100px
}

#mid form input {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    text-transform: uppercase;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    border: 1px solid #ccc
}

#mid form input:hover {
    -webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    transition-timing-function: cubic-bezier(.2, 1, .3, 1)
}

#mid form input i {
    padding: 0 4px;
    text-transform: none;
    display: inline-block;
    vertical-align: middle
}

#mid form input[type=text],
#mid form input[type=password] {
    text-transform: none;
    text-align: left
}

#mid form input[type=submit] {
    color: #fff;
    background-color: #1e1a1a;
    border-color: #1e1a1a;
    font-family: playfairdisplay;
    padding: 10px 16px;
    font-size: 20px;
    line-height: 1.3333333
}

#mid form input[type=submit]:hover {
    color: #1e1a1a;
    background-color: #fff;
    border-color: #1e1a1a
}

#mid .contactfrm input,
#mid .contactfrm textarea {
    width: 100%
}

#mid .phone {
    font-family: muli-regular;
    font-size: 20px
}

.main-content table {
    font-family: muli-regular;
    border-bottom: 1px solid #e4a372;
    margin-bottom: 40px
}

.main-content table th {
    background-color: #fdfdfd!important;
    border-color: #e4a372!important;
    border-bottom-width: 1px!important
}

.main-content table th:first-child {
    text-align: left
}

.main-content table th:last-child {
    text-align: right
}

.main-content table tbody tr td {
    text-align: center;
    border: none
}

.main-content table tbody tr td:first-child {
    text-align: left
}

.main-content table tbody tr td:last-child {
    text-align: right
}

.main-content table tbody tr:nth-child(2n) {
    background-color: #fdfdfd
}

.main-content .button-group.w-100 {
    display: block;
    overflow: hidden
}

.main-content .button-group.w-100 .button {
    width: 100%
}

.main-content .button-group .button a {
    color: #e4a372;
    text-decoration: underline
}

.shop-lechic .item {
    margin-bottom: 30px
}

.thumbnail-scroller {
    background: #f9f8f8;
    padding-top: 55px;
    padding-bottom: 55px
}

.thumbnail-scroller .thumbnail-scroller-middle {
    overflow: visible
}

.thumbnail-scroller .cycle-slide img {
    -webkit-box-shadow: 0 0 44px -12px #000;
    -moz-box-shadow: 0 0 44px -12px #000;
    box-shadow: 0 0 44px -12px #000
}

.thumbnail-scroller a {
    padding: 0 71px
}

.thumbnail-scroller .item {
    text-align: center
}

.thumbnail-scroller .thumb {
    min-height: 214px;
    line-height: 214px
}

.thumbnail-scroller .button {
    width: 184px;
    padding: 0;
    height: 36px;
    text-align: center;
    line-height: 36px
}

div[class*=block] {
    margin-bottom: 30px
}

div[class*=block] .hgroup {
    margin-bottom: 40px
}

div[class*=block] .hgroup .main-title {
    position: relative;
    overflow: hidden;
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 1;
    color: #1e1a1a
}

div[class*=block] .hgroup .main-title:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: #e4a372
}

div[class*=block] .hgroup .main-title.small {
    font-size: 29px
}

div[class*=block] .hgroup h1.main-title {
    font-size: 29px;
    line-height: 1.2
}

div[class*=block] .hgroup span {
    position: relative;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 9
}

div[class*=block-top] {
    margin-bottom: 0!important
}

#body_home div.block1 {
    margin-bottom: 40px
}

.block3>.cols {
    table-layout: fixed
}

.block3>.cols .right,
.block3>.cols>.left,
.block3>.cols>.middle {
    display: table-cell;
    float: none;
    vertical-align: middle
}

.block3 .cols:nth-child(n+3) {
    margin-top: 60px
}

.block3 .left {
    width: 37.5%
}

.block3 .middle {
    width: 25%;
    position: relative;
    padding: 30px 45px
}

.block3 .middle .hgroup {
    position: absolute;
    left: 0;
    right: 0;
    top: -23px
}

.block3 .middle .hgroup .main-title {
    text-align: center
}

.block3 .middle .hgroup .main-title:before {
    content: none
}

.block3 .middle:before {
    position: absolute;
    content: "";
    height: 100%;
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    border: 1px solid #e4a372
}

.block3 .button-group {
    margin: 30px auto 0;
    width: 274px
}

.block3 .right {
    width: 37.5%
}

.block4 .des {
    padding: 25px 15px;
    border: 1px solid #e5e5e5;
    text-align: left
}

.block4 .des h2 {
    margin-bottom: 25px
}

.block4 .des .button-group {
    margin-top: 20px
}

.block4.type2 .des .button-group {
    height: 50px;
    width: 230px;
    margin-left: auto;
    margin-right: auto
}

.block5 .wrap {
    padding-left: 10px;
    padding-right: 10px
}

.block6 .wrap {
    border: 1px solid #e5e5e5
}

.block6 .thumb {
    background-color: #f9f8f8;
    padding: 25px
}

.block6 .thumb li {
    max-width: 49%
}

.block6 .thumb li div {
    height: 200px;
    display: table
}

.block6 .thumb li div a {
    display: table-cell;
    vertical-align: middle
}

.block6 .thumb h5 {
    margin: 20px auto 0
}

.block6 .des {
    padding: 25px 15px
}

.block6 .des h5 {
    margin-top: 30px
}

.block6 .des li {
    line-height: 1.7
}

.block6 .des li span:first-child {
    display: inline-block;
    width: 100px
}

.block6 .des .button-group {
    margin-top: 25px
}

.block6 .des .button-group .button {
    margin-right: 15px;
    width: 215px;
    height: 50px;
    padding: 0;
    line-height: 50px
}

.block7 .left .wrap {
    border: 1px solid #e4a372;
    margin-bottom: 30px;
    padding: 15px
}

.block7 .left .button {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 52px auto 0;
    width: 100%
}

.block7 .right .item {
    margin-bottom: 30px
}

.social {
    margin-bottom: 40px;
    margin-top: 30px
}

.social li {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.social li a {
    display: block;
    color: #1e1a1a;
    font-size: 20px;
    padding: 11px 0;
    border: 1px solid #1e1a1a;
    width: 51px
}

.social li:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
}

.social li:hover a {
    color: #fff;
    background-color: #e4a372;
    border-color: #e4a372
}

#categories {
    font-family: muli-regular;
    font-size: 15px
}

#categories:not(.show) {
    display: none
}

#categories h3 {
    text-transform: uppercase;
    font-size: 20px
}

#categories .menu li a {
    color: #171717;
    padding-left: 0;
    padding-right: 0
}

#categories .menu li a.active,
#categories .menu li a:hover {
    color: #e4a372!important
}

#categories .menu.type2 ul {
    padding-left: 10px
}

#categories .menu.type2 ul li a {
    color: #707070
}

#categories .menu.type2 p.title a {
    color: #1e1a1a
}

#categories .menu.type2 p.title a:hover {
    color: #e4a372
}

#categories nav {
    margin-bottom: 30px
}

#categories nav li.tag-li input {
    display: none
}

#categories nav li.tag-li label span {
    background: #fff;
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin: -4px 5px 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #707070
}

#categories nav li label {
    color: #707070
}

#categories nav ul.tag-group-ul {
    border-top: 1px solid #ddd;
    padding-top: 25px;
    margin-top: 25px
}

#categories .list-toggle-text {
    color: #e4a372
}

#categories .logo {
    margin-bottom: 30px
}

#categories .logo img {
    width: 150px
}

#filter_menu ul li input[type=checkbox]:checked+label span.custom_checkbox {
    background: url(/img/ftcheck.png) center center no-repeat #e4a372;
    background-size: 13px 13px;
    border-color: #e4a372
}

#pagecontent:not(.no-full) {
    width: 100%
}

.sidebar_widget>h3 {
    display: none
}

#body_login .wrap-logo {
    margin-top: 30px;
    margin-bottom: 30px
}

#body_login .wrap-logo img {
    max-width: 178px
}

#body_login #pagebody {
    margin-bottom: 80px;
    margin-top: 30px
}

#body_login #pagebody>.cols>div>* {
    width: 300px;
    margin: 0 auto
}

#body_login #pagebody h2 {
    font-size: 24px;
    text-transform: none
}

#body_login #pagebody form .field-group>div {
    float: none;
    width: 100%
}

#body_login #pagebody form[action=login_submit] {
    margin-bottom: 52px
}

#body_login #pagebody form[action=login_submit] .button {
    color: #fff;
    background-color: #e4a372;
    border-color: #e4a372;
    font-family: muli-regular;
    letter-spacing: 2px
}

#body_login #pagebody form[action=login_submit] .button:hover {
    background-color: #fff;
    border-color: #c0ae64;
    color: #e4a372
}

#body_login #pagebody form[action=login_reset_password_submit].field-group:last-child {
    margin-bottom: 0
}

#body_login #pagebody form[action=login_reset_password_submit] .button {
    font-size: 16px
}

#body_login #pagebody label {
    font-weight: 400;
    width: 100%
}

#body_login #pagebody .button {
    width: 100%;
    height: 50px;
    padding: 0
}

#body_main_category #mid.container {
    max-width: 1170px
}

#body_design div[itemscope] {
    max-width: 1170px;
    margin: 0 auto
}

#body_design .wrap-logo {
    display: none
}

#body_design #next_page,
#body_design #prev_page {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block!important;
    position: absolute;
    top: 47%;
    font-size: 30px;
    color: #d1cccc
}

#body_design #next_page.fa-pull-left,
#body_design #prev_page.fa-pull-left {
    margin-right: .3em
}

#body_design #next_page.fa-pull-right,
#body_design #prev_page.fa-pull-right {
    margin-left: .3em
}

#body_design #next_page.pull-left,
#body_design #prev_page.pull-left {
    margin-right: .3em
}

#body_design #next_page.pull-right,
#body_design #prev_page.pull-right {
    margin-left: .3em
}

#body_design #prev_page {
    left: 50px
}

#body_design #prev_page:before {
    content: "\f104"
}

#body_design #next_page {
    right: 50px
}

#body_design #next_page:before {
    content: "\f105"
}

#body_design div[class*=block] {
    margin-bottom: 35px
}

#body_design .prijsOf .priceInfoTd {
    position: relative
}

#body_design .prijsOf .priceInfoTd:before {
    font-family: kcicons;
    content: 'k';
    cursor: pointer;
    padding-left: 5px;
    font-size: 16px;
    color: #e4a372
}

#body_design .prijsOf .priceInfoTd:hover .priceHover {
    display: block
}

#body_design .prijsOf .priceHover {
    display: none;
    position: absolute;
    padding: 15px;
    background: #fff;
    top: 15px;
    right: 20px;
    width: 270px;
    -webkit-box-shadow: 0 0 5px 0 #575757;
    box-shadow: 0 0 5px 0 #575757;
    border: 1px solid #e4a372;
    z-index: 999
}

#body_design .prijsOf .sizeTd {
    width: 100px
}

#body_design .desUsp a {
    display: block;
    position: relative;
    padding-left: 20px;
    font-family: muli-regular;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    color: #000
}

#body_design .desUsp a:before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    left: 0;
    top: 10px;
    background-color: #000;
    border-radius: 50%
}

#body_design #envelope {
    z-index: 9;
    top: 400px
}

#body_design #envelope>span {
    display: block
}

#body_design #envelope .ui-selectmenu-button {
    width: 100%!important
}

#body_design #envelope .ui-selectmenu-text {
    height: auto;
    width: 100%!important;
    display: block!important
}

#body_design .swiper-controls {
    margin-top: 80px
}

#body_design .swiper-controls>span:not(.active) {
    opacity: .5
}

#body_design .swiper-controls>span:not(.active) span {
    opacity: .5
}

#body_design .swiper-container-horizontal {
    min-height: 400px
}

#body_design span.envview span.env {
    display: inline-block;
    width: 86px;
    position: absolute;
    top: 0;
    right: -10px;
    height: 80px;
    z-index: -1;
    background: url(/img/envtransklein.png) no-repeat #eeeded;
    background-size: 100% 100%;
    transform: rotate(14deg)
}

.wrap_card_previews {
    width: 100%;
    white-space: nowrap;
    height: 340px;
    background-color: #f9f8f8;
    position: relative;
    margin-bottom: 120px;
    overflow: hidden
}

.wrap_card_previews #card_previews_horizontal {
    width: auto;
    overflow: hidden;
    height: 340px;
    position: relative
}

.wrap_card_previews #inner {
    -webkit-transform: translate(0, 30%);
    -moz-transform: translate(0, 30%);
    -ms-transform: translate(0, 30%);
    -o-transform: translate(0, 30%);
    transform: translate(0, 30%)
}

.design-content {
    margin-bottom: 50px!important
}

.design-content .swiper-container {
    margin-top: 60px
}

.design-content .swiper-slide img {
    z-index: 0
}

.design-content .box {
    border: none;
    border-radius: 0
}

.design-content .box .box-body {
    padding: 0
}

.design-content .text-center {
    text-align: left!important
}

.design-content .back-over-view {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px
}

.design-content #choose_preview {
    color: #fff;
    background-color: #e4a372;
    border-color: #e4a372;
    font-family: muli-regular;
    letter-spacing: 2px;
    padding: 5px 10px;
    font-size: 15px;
    display: block;
    width: 285px;
    height: 50px;
    line-height: 50px;
    padding-top: 0;
    margin-bottom: 15px
}

.design-content #choose_preview:hover {
    background-color: #fff;
    border-color: #c0ae64;
    color: #e4a372
}

.design-content h1 {
    font-family: playfairdisplay;
    font-size: 24px;
    margin-bottom: 25px
}

.design-content .box-body>.cols {
    margin: 0
}

.design-content .box-body>.cols>.md-12.text-center.text-md {
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    text-transform: uppercase;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color: #909090;
    background-color: #fff;
    border-color: #dedcd6;
    font-family: muli-regular;
    padding: 10px 5px;
    line-height: 1.5;
    letter-spacing: 1px;
    width: 285px;
    height: 34px;
    text-align: center!important;
    font-size: 11px!important;
    margin-bottom: 30px
}

.design-content .box-body>.cols>.md-12.text-center.text-md:hover {
    -webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    transition-timing-function: cubic-bezier(.2, 1, .3, 1)
}

.design-content .box-body>.cols>.md-12.text-center.text-md i {
    padding: 0 4px;
    text-transform: none;
    display: inline-block;
    vertical-align: middle
}

.design-content .box-body>.cols>.md-12.text-center.text-md:hover {
    background-color: #dedcd6
}

.design-content .box-body>.cols>.md-12.text-center.text-sm {
    padding: 0
}

.design-content .box-footer {
    border: 1px solid #e4a372;
    background-color: #fdfdfd
}

.design-content .zenv {
    margin: 10px 0
}

.design-content .meerPrijsLink {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    text-transform: uppercase;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color: #909090;
    background-color: #fff;
    border-color: #dedcd6;
    font-family: muli-regular;
    letter-spacing: 2px;
    padding: 10px 5px;
    font-size: 11px;
    line-height: 1.5;
    width: 195px
}

.design-content .meerPrijsLink:hover {
    -webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    transition-timing-function: cubic-bezier(.2, 1, .3, 1)
}

.design-content .meerPrijsLink i {
    padding: 0 4px;
    text-transform: none;
    display: inline-block;
    vertical-align: middle
}

.design-content .meerPrijsLink:hover {
    background-color: #dedcd6
}

.design-content .accordion {
    border: none
}

.design-content .accordion:not(:last-child) {
    display: none
}

.design-content .accordion .accordion-button,
.design-content .accordion .icon-chevron-down {
    display: none
}

.design-content .accordion-body {
    display: block!important
}

#card_previews.ui-sortable .thumbnail-card {
    padding: 35px 0 27px;
    text-align: center;
    width: 100%;
    min-height: 290px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

#card_previews.ui-sortable .thumbnail-card-img {
    display: table-cell;
    vertical-align: middle
}

#card_previews.ui-sortable .thumbnail-card-img>a {
    height: auto
}

#body_contact #mid.container,
body[id*=body_account] #mid.container {
    max-width: 1170px;
    margin: 0 auto
}

#body_contact h1 {
    font-size: 30px
}

body[id*=body_account] h1 {
    margin-bottom: 50px
}

#body_account_settings .button-link {
    width: auto;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 15px;
    margin-right: 15px
}

#body_check #pagecontent h1,
#body_size #pagecontent h1,
#body_verzend #pagecontent h1,
body.ed #pagecontent h1 {
    color: #1e1a1a
}

#body_basket #basket_n+#nav_buttons .button[href="/"],
#step_back,
#step_forward_alternate {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    text-transform: uppercase;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    padding: 10px 35px;
    line-height: 1.5;
    color: #1e1a1a;
    background-color: #f9f8f8;
    border-color: #dedcd6;
    font-family: muli-regular;
    letter-spacing: 2px;
    font-size: 13px
}

#body_basket #basket_n+#nav_buttons .button[href="/"]:hover,
#step_back:hover,
#step_forward_alternate:hover {
    -webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    transition-timing-function: cubic-bezier(.2, 1, .3, 1)
}

#body_basket #basket_n+#nav_buttons .button[href="/"] i,
#step_back i,
#step_forward_alternate i {
    padding: 0 4px;
    text-transform: none;
    display: inline-block;
    vertical-align: middle
}

#body_basket #basket_n+#nav_buttons .button[href="/"]:hover,
#step_back:hover,
#step_forward_alternate:hover {
    background-color: #dedcd6
}

#step_forward_alternate:hover {
    color: #1e1a1a
}

#step_back {
    position: relative
}

#step_back:before {
    position: absolute;
    font-family: fontawesome;
    font-style: normal!important;
    content: "\f104";
    color: inherit;
    left: 20px;
    top: 9px
}

#step_forward {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    text-transform: uppercase;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color: #fff;
    background-color: #e4a372;
    border-color: #e4a372;
    font-family: muli-regular;
    letter-spacing: 2px;
    width: auto;
    font-size: 13px;
    height: 40px;
    padding: 0 25px;
    line-height: 40px;
    position: relative
}

#step_forward:hover {
    -webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    transition-timing-function: cubic-bezier(.2, 1, .3, 1)
}

#step_forward i {
    padding: 0 4px;
    text-transform: none;
    display: inline-block;
    vertical-align: middle
}

#step_forward:hover {
    background-color: #fff;
    border-color: #c0ae64;
    color: #e4a372
}

#step_forward:before {
    position: absolute;
    font-family: fontawesome;
    font-style: normal!important;
    content: "\f105";
    color: inherit;
    right: 10px;
    top: 0
}

#header .navbar.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999
}

#header .navbar.fixed .topbar .topbar-menu-right .help:before {
    content: none
}

#body_address #wrapper,
#body_addresses #wrapper,
#body_basket #wrapper,
#body_bestel_details #wrapper,
#body_check #wrapper,
#body_kaarttype #wrapper,
#body_keuze #wrapper,
#body_size #wrapper,
#body_verzend #wrapper,
body.ed #wrapper {
    margin-top: 100px;
    width: 100%;
    max-width: 1170px
}

#body_basket #basket_n+#nav_buttons .button[href="/"],
#body_basket #basket_n+#nav_buttons .button[href="/address_n"],
#body_basket #step_back,
#body_basket #step_forward,
#body_bestel_details #basket_n+#nav_buttons .button[href="/"],
#body_bestel_details #basket_n+#nav_buttons .button[href="/address_n"],
#body_bestel_details #step_back,
#body_bestel_details #step_forward,
#body_keuze #basket_n+#nav_buttons .button[href="/"],
#body_keuze #basket_n+#nav_buttons .button[href="/address_n"],
#body_keuze #step_back,
#body_keuze #step_forward,
#body_size #basket_n+#nav_buttons .button[href="/"],
#body_size #basket_n+#nav_buttons .button[href="/address_n"],
#body_size #step_back,
#body_size #step_forward,
#body_verzend #basket_n+#nav_buttons .button[href="/"],
#body_verzend #basket_n+#nav_buttons .button[href="/address_n"],
#body_verzend #step_back,
#body_verzend #step_forward,
#body_voorbeeld #basket_n+#nav_buttons .button[href="/"],
#body_voorbeeld #basket_n+#nav_buttons .button[href="/address_n"],
#body_voorbeeld #step_back,
#body_voorbeeld #step_forward {
    background-color: #1e1a1a;
    color: #fff
}

#body_basket #basket_n+#nav_buttons .button[href="/"]:hover,
#body_basket #basket_n+#nav_buttons .button[href="/address_n"]:hover,
#body_basket #step_back:hover,
#body_basket #step_forward:hover,
#body_bestel_details #basket_n+#nav_buttons .button[href="/"]:hover,
#body_bestel_details #basket_n+#nav_buttons .button[href="/address_n"]:hover,
#body_bestel_details #step_back:hover,
#body_bestel_details #step_forward:hover,
#body_keuze #basket_n+#nav_buttons .button[href="/"]:hover,
#body_keuze #basket_n+#nav_buttons .button[href="/address_n"]:hover,
#body_keuze #step_back:hover,
#body_keuze #step_forward:hover,
#body_size #basket_n+#nav_buttons .button[href="/"]:hover,
#body_size #basket_n+#nav_buttons .button[href="/address_n"]:hover,
#body_size #step_back:hover,
#body_size #step_forward:hover,
#body_verzend #basket_n+#nav_buttons .button[href="/"]:hover,
#body_verzend #basket_n+#nav_buttons .button[href="/address_n"]:hover,
#body_verzend #step_back:hover,
#body_verzend #step_forward:hover,
#body_voorbeeld #basket_n+#nav_buttons .button[href="/"]:hover,
#body_voorbeeld #basket_n+#nav_buttons .button[href="/address_n"]:hover,
#body_voorbeeld #step_back:hover,
#body_voorbeeld #step_forward:hover {
    background-color: #fff;
    border-color: #1e1a1a;
    color: #1e1a1a
}

#body_basket #basket_n+#nav_buttons .button[href="/address_n"] {
    width: auto;
    height: 37px;
    line-height: 37px;
    padding: 0 35px;
    letter-spacing: 1px;
    font-family: muli-regular
}

#body_address #footer .top {
    background: 0 0
}

#verzend_form .cols {
    margin-left: 0;
    margin-right: 0
}

.eigen-collectie-cards {
    background-color: #f9f8f8;
    padding: 35px 0 27px
}

#body_edit .sp-replacer .sp-preview-inner[style*="background-color: rgb(255, 255, 255)"] {
    color: #000
}

#body_edit input[style*="background-color: rgb(255, 255, 255)"]~.sp-replacer .sp-dd {
    border-color: #000 transparent transparent
}

#footer {
    background-color: #fff
}

#footer .bottom {
    padding: 15px 30px 60px;
    border-top: 1px solid #e4a372;
    background-color: #fdfdfd
}

#footer .menu li {
    position: relative
}

#footer .menu li+li:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 16px;
    left: 0;
    top: 5px;
    background-color: #1e1a1a
}

#footer .menu a {
    color: #1e1a1a;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px
}

#footer .menu a:hover {
    color: #e4a372
}

#footer .logo {
    margin-top: 20px;
    margin-bottom: 20px
}

#footer p {
    margin-bottom: 0
}

#footer .copyright {
    font-family: muli-regular;
    font-size: 13px;
    text-transform: uppercase
}

#footer .address {
    font-family: muli-regular;
    font-size: 16px;
    text-transform: uppercase;
    width: auto;
    height: auto
}

.scrollToTop {
    width: 50px;
    height: 50px;
    background-color: #e7a676;
    color: #fff!important;
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-align: center;
    padding: 3px;
    font-size: 13px
}

.scrollToTop i {
    font-size: 22px
}

.scrollToTop span {
    display: block;
    line-height: 50px;
    text-transform: uppercase;
    font-family: muli-regular
}

@media screen and (min-width:1200px) {
    .block3 .des {
        padding-left: 15px;
        padding-right: 15px
    }
}

@media screen and (min-width:992px) {
    div[class*=block] {
        margin-bottom: 80px
    }
    .block4 .des {
        padding: 25px 45px
    }
    .block5 .wrap {
        padding-left: 30px;
        padding-right: 30px
    }
    .block6 .des {
        padding: 45px 50px
    }
    .block7 .left .wrap {
        padding: 87px 8% 120px
    }
    .block7 .left .button {
        width: 80%
    }
}

@media screen and (min-width:768px) {
    .scrollToTop {
        right: 50px;
        bottom: 50px
    }
    #body_login #pagebody>.cols {
        position: relative;
        overflow: hidden
    }
    #body_login #pagebody>.cols:before {
        position: absolute;
        content: "";
        display: block;
        width: 1px;
        background-color: #dedcd6;
        left: 50%;
        top: 0;
        height: 100%
    }
    .wrap_card_previews a {
        padding: 0 60px
    }
}

@media screen and (max-width:767px) {
    #mid {
        margin-bottom: 30px
    }
    div[class*=block] .hgroup .main-title,
    div[class*=block] .hgroup h1.main-title {
        font-size: 20px
    }
    h5 {
        font-size: 10px
    }
    .block3>.cols .right,
    .block3>.cols>.left,
    .block3>.cols>.middle {
        display: block;
        width: 100%;
        padding: 30px 15px
    }
    #body_design .design-content {
        padding-top: 0
    }
    .design-content .back-over-view {
        position: absolute;
        top: -500px;
        z-index: 9999
    }
    #body_design .crumb-mobile {
        display: none
    }
    #body_design #envelope {
        top: -55px;
        left: auto
    }
    #body_design .design-title {
        border-top: 0
    }
}

@media screen and (max-width:480px) {
    #footer .menu li {
        display: block;
        text-align: left
    }
    #footer .menu li+li:before {
        content: none
    }
    #footer .menu li a {
        display: inline-block;
        padding: 3px 0
    }
    .social li {
        margin-left: 0;
        margin-right: 0
    }
    .social li a {
        padding: 8px 0;
        width: 46px
    }
}
