.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto
}
.rota360 {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg)
}
#headermenu,
.hide {
	display: none
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: 0
}
i {
	display: inline-block
}
body {
	font-size: 16px;
	line-height: 27px;
	padding: 0;
	margin: 0
}
article,
aside,
figure,
footer,
header,
main,
nav,
section {
	display: block
}
.transition-ease {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease
}
pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px
}
.cols:after,
.navbar:after .container:after,
.topbar-left:after,
.topbar-right:after,
middlebar:after,
topbar-menu:after,
topbar:after {
	clear: both
}
ol,
ul {
	margin-top: 0;
	margin-bottom: 10px
}
ul {
	padding: 0
}
dl {
	margin-top: 0;
	margin-bottom: 20px
}
dd,
dt {
	line-height: 1.42857143
}
p {
	margin-top: 0;
	margin-bottom: 10px
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px
}
.cols:after,
.cols:before,
.container:after,
.container:before,
.form-horizontal .input-group:after,
.form-horizontal .input-group:before,
.navbar:after,
.navbar:before {
	display: table;
	content: " "
}
ul {
	list-style: none
}
a {
	color: #787878;
	outline: 0;
	text-decoration: none
}
a:active,
a:focus,
a:hover {
	color: #787878
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	color: #45adba;
	margin-bottom: 15px
}
h1 {
	font-size: 40px;
	color: #171717;
	margin-top: 23px;
	margin-bottom: 11.5px;
	font-family: playfairdisplay;
	text-transform: uppercase
}
h2 {
	font-size: 30px;
	color: inherit;
	font-family: playfairdisplay;
	text-transform: uppercase
}
h3 {
	font-size: 24px;
	color: inherit;
	font-family: playfairdisplay
}
h4 {
	font-size: 20px;
	color: inherit;
	font-family: muli-regular
}
h5 {
	font-size: 13px;
	color: inherit;
	letter-spacing: 2px;
	line-height: 1.5;
	text-transform: uppercase;
	font-family: muli-regular
}
h6 {
	font-size: 18px;
	color: inherit
}
.content-wrapper {
	position: relative
}
.visual {
	display: none
}
.container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	clear: both;
	height: 100%;
	max-width: 1200px
}
img {
	vertical-align: middle
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto
}
.img-center {
	display: block;
	margin: 0 auto
}
.img-circle {
	border-radius: 50%!important
}
.text-left {
	text-align: left!important
}
.text-center {
	text-align: center!important
}
.text-right {
	text-align: right!important
}
.text-default {
	color: #1e1a1a
}
.text-primary {
	color: #6fd4ce
}
.text-success {
	color: #f5871e
}
.text-warning {
	color: #f6c61e
}
.text-danger {
	color: #fa9485
}
.text-info {
	color: #f5871e
}
.text-xs {
	font-size: .6em!important
}
.text-xsm {
	font-size: .8em!important
}
.text-sm {
	font-size: 1em!important
}
.text-md {
	font-size: 1.2em!important
}
.text-lg {
	font-size: 1.4em!important
}
.lowercase {
	text-transform: lowercase
}
.uppercase {
	text-transform: uppercase
}
.capitalize {
	text-transform: capitalize
}
.pull-right {
	float: right
}
.pull-left {
	float: left
}
@media only screen and (max-width: 1200px) {
	.content-wrapper {
		top: 5px;
		padding: 10px
	}
	.lg-hide,
	.md-hide,
	.xsm-hide {
		all: unset;
		display: block
	}
	.xs-hide {
		all: unset;
		display: none
	}
	.lg-show,
	.md-show,
	.xsm-show {
		display: none
	}
	.xs-show {
		display: block
	}
	#visual-content {
		all: unset
	}
}
@media only screen and (min-width: 480px) {
	.lg-hide,
	.md-hide,
	.sm-hide,
	.xs-hide {
		all: unset;
		display: block
	}
	.xsm-hide {
		all: unset;
		display: none
	}
	.lg-show,
	.md-show,
	.sm-show,
	.xs-show {
		display: none
	}
	.xsm-show {
		display: block
	}
}
@media only screen and (min-width: 768px) {
	.lg-hide,
	.md-hide,
	.xs-hide,
	.xsm-hide {
		all: unset;
		display: block
	}
	.sm-hide {
		all: unset;
		display: none
	}
	.lg-show,
	.md-show,
	.xs-show,
	.xsm-show {
		display: none
	}
	.sm-show {
		display: block
	}
	.dl-horizontal dd {
		margin-left: 140px
	}
	.dl-horizontal dt {
		float: left;
		width: 140px;
		overflow: hidden;
		clear: left;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap
	}
}
@media only screen and (min-width: 992px) {
	html {
		overflow-y: auto!important
	}
	.content-wrapper {
		top: 15px;
		padding: 0
	}
	.lg-hide,
	.sm-hide,
	.xs-hide,
	.xsm-hide {
		all: unset;
		display: block
	}
	.md-hide {
		all: unset;
		display: none
	}
	.lg-show,
	.sm-show,
	.xs-show,
	.xsm-show {
		display: none
	}
	.md-show,
	.visual,
	.visual .visual-content-left,
	.visual .visual-content-right {
		display: block
	}
	.visual .visual-content-left img,
	.visual .visual-content-right img {
		margin-top: 100%
	}
}
@media only screen and (min-width: 1200px) {
	.md-hide,
	.sm-hide,
	.xs-hide,
	.xsm-hide {
		all: unset;
		display: block
	}
	.lg-hide {
		all: unset;
		display: none
	}
	.md-show,
	.sm-show,
	.xs-show,
	.xsm-show {
		display: none
	}
	.lg-show {
		display: block
	}
}
.custom-checkbox {
	position: relative;
	display: inline-block
}
.custom-checkbox>.box {
	position: relative;
	display: block;
	width: 16px;
	height: 16px;
	border: 1px solid #ccc;
	background-color: #eee;
	border-radius: 0
}
.custom-checkbox>.box>.tick {
	position: absolute;
	left: 0;
	top: 2px;
	width: 14px;
	height: 6px;
	border-bottom: 2px solid #333;
	border-left: 2px solid #333;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	display: none
}
.custom-checkbox>input {
	position: absolute;
	outline: 0;
	left: 0;
	top: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	border: none;
	margin: 0;
	opacity: 0;
	z-index: 1
}
.custom-checkbox>input:active+.box {
	border-color: #aaa;
	background-color: #ddd
}
.custom-checkbox>input:checked+.box>.tick {
	display: block
}
.checkbox-inline label {
	display: block;
	padding-left: 15px;
	text-indent: -15px;
	font-weight: 400
}
.checkbox-inline input[type=checkbox] {
	width: 13px;
	height: 13px;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	position: relative;
	top: -1px;
	*overflow: hidden
}
.icon {
	font-family: kcicons;
	font-style: normal!important
}
i[class*=icon-]:before {
	font-family: kcicons!important
}
.icon-xs {
	font-size: .5em!important
}
.icon-x1 {
	font-size: .8em!important
}
.icon-x2 {
	font-size: 2em!important
}
.icon-x3 {
	font-size: 4em!important
}
.icon-user:after {
	content: 'a'
}
.icon-phone:after {
	content: 'b'
}
.icon-th:after {
	content: 'c'
}
.icon-mail:after {
	content: 'd'
}
.icon-chevron-down:after {
	content: 'e'
}
.icon-chevron-right:after {
	content: 'f'
}
.icon-camera:after {
	content: 'g'
}
.icon-heart:after {
	content: 'h'
}
.icon-arrow-left:after {
	content: 'i'
}
.icon-arrow-right:after {
	content: 'j'
}
.icon-info:after {
	content: 'k'
}
.icon-basket:after {
	content: 'm'
}
.icon-exit-topright:after {
	content: 'p'
}
.icon-edit-pencil:after {
	content: 'r'
}
.icon-add:after {
	content: 'q'
}
.icon-search:after {
	content: 's'
}
.icon-favorite-heart:after {
	content: 'u'
}
.icon-unfavorite-heart:after {
	content: 't'
}
.icon-trash:after {
	content: 'w'
}
#body_address_n #pagecontent h3.ui-accordion-header:after,
#body_basket #pagecontent h3.ui-accordion-header:after,
#body_bestel_details #pagecontent h3.ui-accordion-header:after,
#body_edit #pagecontent h3.ui-accordion-header:after,
#body_eigen_collectie #pagecontent h3.ui-accordion-header:after,
#body_kaarttype #pagecontent h3.ui-accordion-header:after,
#body_keuze #pagecontent h3.ui-accordion-header:after,
#body_ok #pagecontent h3.ui-accordion-header:after,
#body_voorbeeld #pagecontent h3.ui-accordion-header:after {
	position: absolute;
	font-family: fontawesome;
	font-style: normal!important;
	font-size: 24px;
	content: "\f0d7";
	color: #fff;
	right: 15px;
	top: 1px
}
#body_address_n #pagecontent h3.ui-accordion-header-active:after,
#body_basket #pagecontent h3.ui-accordion-header-active:after,
#body_bestel_details #pagecontent h3.ui-accordion-header-active:after,
#body_edit #pagecontent h3.ui-accordion-header-active:after,
#body_eigen_collectie #pagecontent h3.ui-accordion-header-active:after,
#body_kaarttype #pagecontent h3.ui-accordion-header-active:after,
#body_keuze #pagecontent h3.ui-accordion-header-active:after,
#body_ok #pagecontent h3.ui-accordion-header-active:after,
#body_voorbeeld #pagecontent h3.ui-accordion-header-active:after {
	content: "\f0d8"
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.cols {
	margin-right: -15px;
	margin-left: -15px
}
.cols:after {
	clear: both
}
.lg-1,
.lg-10,
.lg-11,
.lg-12,
.lg-15,
.lg-2,
.lg-3,
.lg-4,
.lg-5,
.lg-6,
.lg-7,
.lg-8,
.lg-9,
.md-1,
.md-10,
.md-11,
.md-12,
.md-15,
.md-2,
.md-3,
.md-4,
.md-5,
.md-6,
.md-7,
.md-8,
.md-9,
.sm-1,
.sm-10,
.sm-11,
.sm-12,
.sm-15,
.sm-2,
.sm-3,
.sm-4,
.sm-5,
.sm-6,
.sm-7,
.sm-8,
.sm-9,
.xs-1,
.xs-10,
.xs-11,
.xs-12,
.xs-15,
.xs-2,
.xs-3,
.xs-4,
.xs-5,
.xs-6,
.xs-7,
.xs-8,
.xs-9,
.xsm-1,
.xsm-10,
.xsm-11,
.xsm-12,
.xsm-15,
.xsm-2,
.xsm-3,
.xsm-4,
.xsm-5,
.xsm-6,
.xsm-7,
.xsm-8,
.xsm-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}
.cols-multi .xs-6:nth-child(2n+3) {
	clear: left
}
.cols-multi .xs-4:nth-child(3n+4) {
	clear: left
}
.cols-multi .xs-3:nth-child(4n+5) {
	clear: left
}
.cols-multi .xs-2:nth-child(6n+7) {
	clear: left
}
.cols-multi .xs-1:nth-child(12n+13) {
	clear: left
}
@media only screen and (max-width: 320px) and (min-width: 320px) {
	.xs-1,
	.xs-10,
	.xs-11,
	.xs-12,
	.xs-15,
	.xs-2,
	.xs-3,
	.xs-4,
	.xs-5,
	.xs-6,
	.xs-7,
	.xs-8,
	.xs-9 {
		float: left
	}
	.xs-offset-0 {
		margin-left: 0
	}
	.xs-offset-1 {
		margin-left: 8.33333333%
	}
	.xs-offset-2 {
		margin-left: 16.66666667%
	}
	.xs-offset-3 {
		margin-left: 25%
	}
	.xs-offset-4 {
		margin-left: 33.33333333%
	}
	.xs-offset-5 {
		margin-left: 41.66666667%
	}
	.xs-offset-6 {
		margin-left: 50%
	}
	.xs-offset-7 {
		margin-left: 58.33333333%
	}
	.xs-offset-8 {
		margin-left: 66.66666667%
	}
	.xs-offset-9 {
		margin-left: 75%
	}
	.xs-offset-10 {
		margin-left: 83.33333333%
	}
	.xs-offset-11 {
		margin-left: 91.66666667%
	}
	.xs-offset-12 {
		margin-left: 100%
	}
	.xs-offset-15 {
		margin-left: 20%
	}
	.xs-1 {
		width: 8.33333333%
	}
	.xs-2 {
		width: 16.66666667%
	}
	.xs-3 {
		width: 25%
	}
	.xs-4 {
		width: 33.33333333%
	}
	.xs-5 {
		width: 41.66666667%
	}
	.xs-6 {
		width: 50%
	}
	.xs-7 {
		width: 58.33333333%
	}
	.xs-8 {
		width: 66.66666667%
	}
	.xs-9 {
		width: 75%
	}
	.xs-10 {
		width: 83.33333333%
	}
	.xs-11 {
		width: 91.66666667%
	}
	.xs-12 {
		width: 100%
	}
	.xs-15 {
		width: 20%
	}
}
@media only screen and (min-width: 480px) {
	.xsm-1,
	.xsm-10,
	.xsm-11,
	.xsm-12,
	.xsm-15,
	.xsm-2,
	.xsm-3,
	.xsm-4,
	.xsm-5,
	.xsm-6,
	.xsm-7,
	.xsm-8,
	.xsm-9 {
		float: left
	}
	.xsm-offset-0 {
		margin-left: 0
	}
	.xsm-offset-1 {
		margin-left: 8.33333333%
	}
	.xsm-offset-2 {
		margin-left: 16.66666667%
	}
	.xsm-offset-3 {
		margin-left: 25%
	}
	.xsm-offset-4 {
		margin-left: 33.33333333%
	}
	.xsm-offset-5 {
		margin-left: 41.66666667%
	}
	.xsm-offset-6 {
		margin-left: 50%
	}
	.xsm-offset-7 {
		margin-left: 58.33333333%
	}
	.xsm-offset-8 {
		margin-left: 66.66666667%
	}
	.xsm-offset-9 {
		margin-left: 75%
	}
	.xsm-offset-10 {
		margin-left: 83.33333333%
	}
	.xsm-offset-11 {
		margin-left: 91.66666667%
	}
	.xsm-offset-12 {
		margin-left: 100%
	}
	.xsm-offset-15 {
		margin-left: 20%
	}
	.xsm-1 {
		width: 8.33333333%
	}
	.xsm-2 {
		width: 16.66666667%
	}
	.xsm-3 {
		width: 25%
	}
	.xsm-4 {
		width: 33.33333333%
	}
	.xsm-5 {
		width: 41.66666667%
	}
	.xsm-6 {
		width: 50%
	}
	.xsm-7 {
		width: 58.33333333%
	}
	.xsm-8 {
		width: 66.66666667%
	}
	.xsm-9 {
		width: 75%
	}
	.xsm-10 {
		width: 83.33333333%
	}
	.xsm-11 {
		width: 91.66666667%
	}
	.xsm-12 {
		width: 100%
	}
	.xsm-15 {
		width: 20%
	}
	.cols-multi .xs-6:nth-child(2n+3) {
		clear: none
	}
	.cols-multi .xs-4:nth-child(3n+4) {
		clear: none
	}
	.cols-multi .xs-3:nth-child(4n+5) {
		clear: none
	}
	.cols-multi .xs-2:nth-child(6n+7) {
		clear: none
	}
	.cols-multi .xs-1:nth-child(12n+13) {
		clear: none
	}
	.cols-multi .xsm-6:nth-child(2n+3) {
		clear: left
	}
	.cols-multi .xsm-4:nth-child(3n+4) {
		clear: left
	}
	.cols-multi .xsm-3:nth-child(4n+5) {
		clear: left
	}
	.cols-multi .xsm-2:nth-child(6n+7) {
		clear: left
	}
	.cols-multi .xsm-1:nth-child(12n+13) {
		clear: left
	}
}
@media only screen and (min-width: 768px) {
	.sm-1,
	.sm-10,
	.sm-11,
	.sm-12,
	.sm-15,
	.sm-2,
	.sm-3,
	.sm-4,
	.sm-5,
	.sm-6,
	.sm-7,
	.sm-8,
	.sm-9 {
		float: left
	}
	.cols .sm-6:nth-child(2n+3) {
		clear: both
	}
	.sm-offset-0 {
		margin-left: 0
	}
	.sm-offset-1 {
		margin-left: 8.33333333%
	}
	.sm-offset-2 {
		margin-left: 16.66666667%
	}
	.sm-offset-3 {
		margin-left: 25%
	}
	.sm-offset-4 {
		margin-left: 33.33333333%
	}
	.sm-offset-5 {
		margin-left: 41.66666667%
	}
	.sm-offset-6 {
		margin-left: 50%
	}
	.sm-offset-7 {
		margin-left: 58.33333333%
	}
	.sm-offset-8 {
		margin-left: 66.66666667%
	}
	.sm-offset-9 {
		margin-left: 75%
	}
	.sm-offset-10 {
		margin-left: 83.33333333%
	}
	.sm-offset-11 {
		margin-left: 91.66666667%
	}
	.sm-offset-12 {
		margin-left: 100%
	}
	.sm-offset-15 {
		margin-left: 20%
	}
	.sm-1 {
		width: 8.33333333%
	}
	.sm-2 {
		width: 16.66666667%
	}
	.sm-3 {
		width: 25%
	}
	.sm-4 {
		width: 33.33333333%
	}
	.sm-5 {
		width: 41.66666667%
	}
	.sm-6 {
		width: 50%
	}
	.sm-7 {
		width: 58.33333333%
	}
	.sm-8 {
		width: 66.66666667%
	}
	.sm-9 {
		width: 75%
	}
	.sm-10 {
		width: 83.33333333%
	}
	.sm-11 {
		width: 91.66666667%
	}
	.sm-12 {
		width: 100%
	}
	.sm-15 {
		width: 20%
	}
	.cols-multi .xsm-6:nth-child(2n+3) {
		clear: none
	}
	.cols-multi .xsm-4:nth-child(3n+4) {
		clear: none
	}
	.cols-multi .xsm-3:nth-child(4n+5) {
		clear: none
	}
	.cols-multi .xsm-2:nth-child(6n+7) {
		clear: none
	}
	.cols-multi .xsm-1:nth-child(12n+13) {
		clear: none
	}
	.cols-multi .sm-6:nth-child(2n+3) {
		clear: left
	}
	.cols-multi .sm-4:nth-child(3n+4) {
		clear: left
	}
	.cols-multi .sm-3:nth-child(4n+5) {
		clear: left
	}
	.cols-multi .sm-2:nth-child(6n+7) {
		clear: left
	}
	.cols-multi .sm-1:nth-child(12n+13) {
		clear: left
	}
}
@media only screen and (min-width: 992px) {
	.md-1,
	.md-10,
	.md-11,
	.md-12,
	.md-15,
	.md-2,
	.md-3,
	.md-4,
	.md-5,
	.md-6,
	.md-7,
	.md-8,
	.md-9 {
		float: left
	}
	.md-offset-0 {
		margin-left: 0
	}
	.md-offset-1 {
		margin-left: 8.33333333%
	}
	.md-offset-2 {
		margin-left: 16.66666667%
	}
	.md-offset-3 {
		margin-left: 25%
	}
	.md-offset-4 {
		margin-left: 33.33333333%
	}
	.md-offset-5 {
		margin-left: 41.66666667%
	}
	.md-offset-6 {
		margin-left: 50%
	}
	.md-offset-7 {
		margin-left: 58.33333333%
	}
	.md-offset-8 {
		margin-left: 66.66666667%
	}
	.md-offset-9 {
		margin-left: 75%
	}
	.md-offset-10 {
		margin-left: 83.33333333%
	}
	.md-offset-11 {
		margin-left: 91.66666667%
	}
	.md-offset-12 {
		margin-left: 100%
	}
	.md-offset-15 {
		margin-left: 20%
	}
	.md-1 {
		width: 8.33333333%
	}
	.md-2 {
		width: 16.66666667%
	}
	.md-3 {
		width: 25%
	}
	.md-4 {
		width: 33.33333333%
	}
	.md-5 {
		width: 41.66666667%
	}
	.md-6 {
		width: 50%
	}
	.md-7 {
		width: 58.33333333%
	}
	.md-8 {
		width: 66.66666667%
	}
	.md-9 {
		width: 75%
	}
	.md-10 {
		width: 83.33333333%
	}
	.md-11 {
		width: 91.66666667%
	}
	.md-12 {
		width: 100%
	}
	.md-15 {
		width: 20%
	}
	.cols-multi .sm-6:nth-child(2n+3) {
		clear: none
	}
	.cols-multi .sm-4:nth-child(3n+4) {
		clear: none
	}
	.cols-multi .sm-3:nth-child(4n+5) {
		clear: none
	}
	.cols-multi .sm-2:nth-child(6n+7) {
		clear: none
	}
	.cols-multi .sm-1:nth-child(12n+13) {
		clear: none
	}
	.cols-multi .md-6:nth-child(2n+3) {
		clear: left
	}
	.cols-multi .md-4:nth-child(3n+4) {
		clear: left
	}
	.cols-multi .md-3:nth-child(4n+5) {
		clear: left
	}
	.cols-multi .md-2:nth-child(6n+7) {
		clear: left
	}
	.cols-multi .md-1:nth-child(12n+13) {
		clear: left
	}
}
@media only screen and (min-width: 1200px) {
	.lg-1,
	.lg-10,
	.lg-11,
	.lg-12,
	.lg-15,
	.lg-2,
	.lg-3,
	.lg-4,
	.lg-5,
	.lg-6,
	.lg-7,
	.lg-8,
	.lg-9 {
		float: left
	}
	.lg-offset-0 {
		margin-left: 0
	}
	.lg-offset-1 {
		margin-left: 8.33333333%
	}
	.lg-offset-2 {
		margin-left: 16.66666667%
	}
	.lg-offset-3 {
		margin-left: 25%
	}
	.lg-offset-4 {
		margin-left: 33.33333333%
	}
	.lg-offset-5 {
		margin-left: 41.66666667%
	}
	.lg-offset-6 {
		margin-left: 50%
	}
	.lg-offset-7 {
		margin-left: 58.33333333%
	}
	.lg-offset-8 {
		margin-left: 66.66666667%
	}
	.lg-offset-9 {
		margin-left: 75%
	}
	.lg-offset-10 {
		margin-left: 83.33333333%
	}
	.lg-offset-11 {
		margin-left: 91.66666667%
	}
	.lg-offset-12 {
		margin-left: 100%
	}
	.lg-offset-15 {
		margin-left: 20%
	}
	.lg-1 {
		width: 8.33333333%
	}
	.lg-2 {
		width: 16.66666667%
	}
	.lg-3 {
		width: 25%
	}
	.lg-4 {
		width: 33.33333333%
	}
	.lg-5 {
		width: 41.66666667%
	}
	.lg-6 {
		width: 50%
	}
	.lg-7 {
		width: 58.33333333%
	}
	.lg-8 {
		width: 66.66666667%
	}
	.lg-9 {
		width: 75%
	}
	.lg-10 {
		width: 83.33333333%
	}
	.lg-11 {
		width: 91.66666667%
	}
	.lg-12 {
		width: 100%
	}
	.lg-15 {
		width: 20%
	}
	.cols-multi .md-6:nth-child(2n+3) {
		clear: none
	}
	.cols-multi .md-4:nth-child(3n+4) {
		clear: none
	}
	.cols-multi .md-3:nth-child(4n+5) {
		clear: none
	}
	.cols-multi .md-2:nth-child(6n+7) {
		clear: none
	}
	.cols-multi .md-1:nth-child(12n+13) {
		clear: none
	}
	.cols-multi .lg-6:nth-child(2n+3) {
		clear: left
	}
	.cols-multi .lg-4:nth-child(3n+4) {
		clear: left
	}
	.cols-multi .lg-3:nth-child(4n+5) {
		clear: left
	}
	.cols-multi .lg-2:nth-child(6n+7) {
		clear: left
	}
	.cols-multi .lg-1:nth-child(12n+13) {
		clear: left
	}
}
