.breadcrumb {
  padding: 8px 5px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}
.breadcrumb li {
  display: inline-block;
  vertical-align: middle;
}
.breadcrumb li:after {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  padding: 0 10px;
  font-family: 'kcicons';
  content: 'j';
  font-size: 0.5em;
}
.breadcrumb li:last-child:after,
.breadcrumb li:only-child :after {
  content: '';
}
.breadcrumb li a.active {
  color: #ffddbf;
}
.breadcrumb li a {
  color: inherit;
}
.breadcrumb li a:hover {
  color: #ffddbf;
}
.breadcrumb li a:active {
  color: #ffddbf;
}
.breadcrumb li a:focus {
  color: #ffddbf;
}
