.float-login-open {
    visibility: visible !important;
    opacity: 1 !important;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
}

.float-login * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

.float-login {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.float-login .float-alert {
    display: none;
    padding: 5px;
    margin: 0 25px 15px 25px;
    background-color: #e6c1c5;
    color: #494444;
    text-align: center;
    border: 1px solid #DC9DA4;
}

.float-login a {
    display: block;
    outline: none;
    text-decoration: none !important;
    color: #A4A4A4;
}

.float-login span {
    color: #A4A4A4;
    font-size: 12px;
}

.float-login .float-login-panel {
    position: absolute;
    width: 600px;
    background-color: transparent;
    opacity: 1;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10% 0;
    overflow: hidden;
    z-index: 9999;
}

.float-login .float-login-panel .float-login-panel-heading {
    padding: 8px 5px;
    background-color: #E1E1E1;
    overflow: hidden;
}

.float-login .float-login-panel .float-login-panel-heading > a {
    display: block;
    text-align: right;
    padding: 0 5px;
    font-size: 26px;
    width: 100%;
    font-weight: 100;
    color: #747474;
}

.float-login .float-login-panel .float-login-panel-body {
    background-color: #F5F5F5;
    padding: 15px;
}

.float-login .float-login-panel .float-login-panel-body .float-login-panel-menu {
    position: relative;
    margin: 0px 100px 15px 100px;
    text-align: center;
    color: #525252;
}

.float-login .float-login-panel .float-login-panel-body .float-login-panel-menu > a {
    padding: 10px 15px;
    float: left;
    width: 50%;
    border: 1px solid #ccc;
    color: #525252;
    background-color: #fff;
}

.float-login .float-login-panel .float-login-panel-body .float-login-panel-menu > a:hover,
.float-login .float-login-panel .float-login-panel-body .float-login-panel-menu > a:focus,
.float-login .float-login-panel .float-login-panel-body .float-login-panel-menu > a:active {
    background-color: #E2E2E2;
}

.float-login .float-login-panel .float-login-panel-body .float-login-panel-menu > a:last-child {
    border-left: none;
}

.float-login .float-login-panel-body .float-login-panel-body-content {
    position: relative;
    margin: 0px;
}

.float-login .float-login-panel-body .float-login-panel-body-content .float-group,
.float-login .float-login-panel-body .float-login-panel-body-content .float-checkbox-group {
    width: 100%;
    margin-bottom: 10px;
}

.float-login .float-login-panel-body .float-login-panel-body-content .float-text {
    text-align: center;
    padding: 0 30px;
}

.float-login .float-login-panel-body .float-login-panel-body-content .float-text h6 {
    margin-bottom: 0;
}

.float-login .float-login-panel-body .float-login-panel-body-content .float-checkbox-group {
    margin-left: 30%;
    width: 70%;
    margin-bottom: 10px;
}

.float-login .float-login-panel-body .float-login-panel-body-content .float-checkbox-group > input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;

}

.float-login .float-login-panel-body .float-login-panel-body-content .float-checkbox-group > span {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    line-height: 1.6em;
    padding-left: 5px;
}

.float-login .float-login-panel-body .float-login-panel-body-content .float-group > label {
    float: left;
    width: 30%;
    font-weight: normal;
    font-size: 15px;
    padding: 5px 10px 5px 0;
    margin-bottom: 5px;
    text-align: right;
}

.float-login .float-login-panel-body .float-login-panel-body-content .float-group > input[type="text"],
.float-login .float-login-panel-body .float-login-panel-body-content .float-group > input[type="password"],
.float-login .float-login-panel-body .float-login-panel-body-content .float-group > select{
    float: left;
    border: 1px solid #ccc;
    width: 50%;
    padding: 10px;
}

.float-login .float-login-panel-body .float-login-panel-body-content .float-group > select {
    width: 15%;
    font-size: 12px;
}

/* clearfix */
.float-login .float-login-panel .float-login-panel-heading:after,
.float-login .float-login-panel .float-login-panel-body .float-login-panel-menu:after,
.float-login .float-login-panel-body .float-login-panel-body-content .float-group:after,
.float-login .float-button-group:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.float-login button {
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    text-align: center;
    border: 1px solid #DFE2EB;
    cursor: pointer;
    background: transparent;
    line-height: normal;
}

.float-login .float-button-group > div {
    float: left;
    margin-right: 5px;
}

.float-login .float-button-group {
    margin-left: 20%;
    width: 80%;
}

.float-login .float-button-group a {
    font-size: 12px;
}

.float-login .float-login-panel-menu .active {
    background-color: #E2E2E2 !important;
}

.float-login .float-login-panel-body .float-login-panel-body-content > div {
    display: none;
}

.float-login #float-template-content1 {
    display: block;
}

.float-login .button-facebook {
    background-color: #5E73A6;
}

.float-login .float-button-success {
    background-color: #A4A4A4;
}

button.button-facebook {
    padding-left: 45px;
    border: 1px solid #DFE2EB;
    background-size: 35px 35px;
    background-position: left center;
    background-repeat: no-repeat;
    color: #fff;
    background-color: #3b5998;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

@media only screen and (max-width: 992px) {
    .float-login .float-login-panel {
        position: absolute;
        width: auto;
        margin: 10px;
        padding: 0;

    }

    .float-login .float-login-panel .float-login-panel-body .float-login-panel-menu {
        margin: 0 70px 15px 70px;
    }

    .float-login .float-login-panel .float-login-panel-body .float-login-panel-body-content {
        margin: 0px 0 15px 0;
    }
}

@media only screen and (max-width: 480px) {

    .float-login .float-login-panel {
        overflow: auto;
    }

    .float-login .float-alert {
        margin: 0 0 15px 0;
    }

    .float-login .float-login-panel .float-login-panel-body .float-login-panel-menu {
        margin: 0 0 15px 0;
    }

    .float-login .float-login-panel .float-login-panel-body .float-login-panel-menu > a {
        width: 100%;
    }

    .float-login .float-login-panel .float-login-panel-body .float-login-panel-menu > a:last-child {
        border-left: 1px solid #ccc;
        border-top: none;
    }

    .float-login .float-login-panel-body .float-login-panel-body-content .float-checkbox-group {
        margin-left: 0;
        width: 100%;
    }

    .float-login .float-login-panel-body .float-login-panel-body-content .float-group > label {
        width: 100%;
        padding: 5px 0 0 0;
        margin-bottom: 0px;
        text-align: left;
    }

    .float-login .float-button-group {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .float-login .float-login-panel-body .float-login-panel-body-content .float-group > input[type="text"],
    .float-login .float-login-panel-body .float-login-panel-body-content .float-group > input[type="password"] {
        width: 100%;
    }

    .float-login .float-login-panel-body .float-login-panel-body-content .float-group > select {
        width: 50%;
    }
}