.accordion {
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid @accordion-border-bottom-color;
    background-color: @accordion-bg-color;
    margin-bottom: 10px;
    > .active {
        color: @accordion-active-color!important;
    }
    .show {
        display: block!important;
    }
    > a {
        display: block;
        vertical-align: middle;
        background-color: @accordion-link-bg-color;
        padding: 5px 5px;
        color: @accordion-link-color;
        > i {
            float: right;
            font-size: 12px;
        }
    }
    .accordion-body {
        display: none;
        padding: 5px;
        ul {
            margin-bottom: 0;
            margin-top: 0;
            li {
                a {
                    padding: 5px 0px 5px 5px;
                }
            }
        }
    }
}