/* BREADCRUMB */
.breadcrumb {
    padding: 8px 5px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
    li {
        display: inline-block;
        vertical-align: middle;
        &:after {
            display: inline-block;
            vertical-align: middle;
            text-align: right;
            padding: 0 10px;
            font-family: @iconFont;
            content: 'j';
            font-size: 0.5em;
        }
        &:last-child:after, &:only-child :after  {
            content: '';
        }
        a.active {
            color: @breadcrumb-active-color;
        }
        a {
            color: @breadcrumb-color;
            &:hover {
                color: @breadcrumb-hover-color;
            }
            &:active {
                color: @breadcrumb-active-color;
            }
            &:focus {
                color: @breadcrumb-focus-color;
            }
        }
    }
}
/* END BREADCRUMB */

#crumbs {
    display: none;
    + h1 {
        display: none;
    }
}