body {
	font-family: @mainFont;
	color: @color1;
}
.w-100 {
  width: 100%;
}
#mid.container, .block-top .container {
	max-width: 1800px;
}
#body_login #mid.container {
	max-width: 1170px;
}
div[onclick] {
	cursor: pointer;
	&:hover {
		img {
			opacity: 0.5;
		}
	}
}
/********************************************
/* Header */
/********************************************/
.topbar-menu-left {
	.logo {
		img {
			width: 95px;
		}
	}
}
#navbar-basket {
	text-transform: none;
	margin-left: 10px;
}
#navbar-basket {
	color: @color2;
}
.block-top {
	.middlebar-menu-right {
		> li {
			position: relative;
			padding: 18px 28px;
			border-top: 2px solid @box-border-color;
			a {
				text-transform: uppercase;
				font-size: 18px;
				color: @color1;
				i {
					position: absolute;
					right: 0;
					top: 12px;
					width: 40px;
					height: 40px;
					text-align: center;
					z-index: 9;
					line-height: 40px;
					font-size: 22px;
					font-weight: bold;
					&.fa-angle-down {
						display: none;
					}
				}
				&:after {
					font: normal normal normal 14px/1 FontAwesome;
				}
			}
		}
	}
	.dropdown-content {
		display: none;
		margin-top: 20px;
		padding-top: 10px;
		border-top: 1px dashed #CBCECE;
		li {
			padding: 10px 0;
		}
		&.show {
			display: block;
		}
	}
}
/********************************************
/* Home */
/********************************************/
.shop-lechic {
	.item {
		margin-bottom: 30px;
	}
}
.thumbnail-scroller {
	background: @color6;
	padding-top: 55px;
	padding-bottom: 55px;
	.thumbnail-scroller-middle {
		overflow: visible;
	}
	.cycle-slide {
		img {
			-webkit-box-shadow: 0 0 44px -12px #000;
			-moz-box-shadow: 0 0 44px -12px #000;
			box-shadow: 0 0 44px -12px #000;
		}
	}
	a {
		padding: 0 70px;
	}
	.item {
		text-align: center;
	}
	.thumb {
		min-height: 214px;
		line-height: 214px;
	}
	.button {
		width: 184px;
		padding: 0;
		height: 36px;
		text-align: center;
		line-height: 36px;
	}
}
div[class*="block"] {
	margin-bottom: 30px;
	.hgroup {
		margin-bottom: 40px;
		.main-title {
			position: relative;
			overflow: hidden;
			font-size: 40px;
			margin-bottom: 10px;
			line-height: 1;
			color: @middlebar-link-color;
			&:before {
				position: absolute;
				content: "";
				width: 100%;
				height: 1px;
				top: 50%;
				left: 0;
				background-color: @topbar-list-border-color;
			}
			&.small {
				font-size: 29px;
			}
		}
		h1.main-title {
			font-size: 29px;
		}
		span {
			position: relative;
			background-color: #fff;
			padding-left: 15px;
			padding-right: 15px;
			z-index: 9;
		}
	}
}
div[class*="block-top"] {
	margin-bottom: 0!important;
}
#body_home div.block1 {
	margin-bottom: 40px;
}
.block3 {
	> .cols {
		table-layout: fixed;
		> .left, > .middle, .right {
			display: table-cell;
			float: none;
			vertical-align: middle;
		}
	}
	.cols:nth-child(n+3) {
		margin-top: 60px;
	}
	.left {
		width: 37.5%;
	}
	.middle {
		width: 25%;
		position: relative;
		padding: 30px 45px;
		.hgroup {
			position: absolute;
			left: 0;
			right: 0;
			top: -13px;
			.main-title {
				text-align: center;
				&:before {
					content: none;
				}
			}
		}
		&:before {
			position: absolute;
			content: "";
			height: 100%;
			left: 15px;
			right: 15px;
			top: 0;
			bottom: 0;
			border: 1px solid @color2;
		}
	}
	.button-group {
		margin: 30px auto 0;
		width: 274px;
	}
	.right {
		width: 37.5%;
	}
}
.block4 {
	.des {
		padding: 25px 15px;
		border: 1px solid #e5e5e5;
		text-align: left;
		h2 {
			margin-bottom: 25px;
		}
		.button-group {
			margin-top: 20px;
		}
	}
}
.block5 {
	.wrap {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.block6 {
	.wrap {
		border: 1px solid #e5e5e5;
	}
	.thumb {
		background-color: @color6;
		padding: 25px;
		li {
			max-width: 49%;
			div {
				height: 200px;
				display: table;
				a {
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
		h5 {
			margin: 20px auto 0;
		}
	}
	.des {
		padding: 25px 15px;
		h5 {
			margin-top: 30px;
		}
		li {
			line-height: 1.7;
			span {
				&:first-child {
					display: inline-block;
					width: 100px;
				}
			}
		}
		.button-group {
			margin-top: 25px;
			.button {
				margin-right: 15px;
				width: 215px;
				height: 50px;
				padding: 0;
				line-height: 50px;
			}
		}
	}
}
/********************************************
/* Social */
/********************************************/
.social {
	margin-bottom: 40px;
	margin-top: 30px;
	li {
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 30px;
		a {
			display: block;
			color: @color1;
			font-size: 20px;
			padding: 11px 19px;
			border: 1px solid @color1;
		}
		&:hover {
			a {
				color: @colorTextWhite;
				background-color: @color2;
				border-color: @color2;
			}
		}
	}
}
/********************************************
/* Categories */
/********************************************/
#categories {
	display: none;
}
#pagecontent {
	width: 100%;
}
/********************************************
/* Page login */
/********************************************/
#body_login {
	#pagebody {
		margin-bottom: 80px;
		margin-top: 30px;
		> .cols {
			> div {
				> * {
					width: 300px;
					margin: 0 auto;
				}
			}
		}
		h2 {
			font-size: 24px;
			text-transform: none;
		}
		form {
			.field-group {
				> div {
					float: none;
					width: 100%;
				}
			}
			&[action="login_submit"] {
				margin-bottom: 52px;
				.button {
					.button-cta;
				}
			}
			&[action="login_reset_password_submit"] {
				&.field-group:last-child {
					margin-bottom: 0;
				}
				.button {
					font-size: 16px;
				}
			}
		}
		label {
			font-weight: normal;
			width: 100%;
		}
		.button {
			width: 100%;
			height: 50px;
		}
	}
}
/********************************************
/* format container design */
/********************************************/
#body_main_category {
	#mid.container {
		max-width: 1170px;
	}
}

/********************************************
/* body_design page */

/********************************************/
#body_design {
	div[itemscope] {
		max-width: 1170px;
		margin: 0 auto;
	}
	.wrap-logo {
		display: none;
	}
	#prev_page, #next_page {
		.fa;
		display: block!important;
		position: absolute;
		top: 50%;
		font-size: 30px;
		color: @color4;
	}
	#prev_page {
		&:before {
			content: "\f104";
		}
		left: 50px;
	}
	#next_page {
		&:before {
			content: "\f105";
		}
		right: 50px;
	}
	div[class*="block"] {
		margin-bottom: 35px;
	}
}
#card_previews_horizontal {
	width: 100%;
	height: 340px;
	display: table;
	background-color: @color6;
	position: relative;
	margin-bottom: 120px;
	overflow: hidden;
	#inner {
		-webkit-transform: translate(0, 30%);
		-moz-transform: translate(0, 30%);
		-ms-transform: translate(0, 30%);
		-o-transform: translate(0, 30%);
		transform: translate(0, 30%);
	}
}

/********************************************
/* footer */
/********************************************/
#footer {
	.bottom {
		padding: 15px 30px 60px;
		border-top: 1px solid @color2;
		background-color: #fdfdfd;
	}
	.menu {
		li {
			position: relative;
			+ li {
				&:before {
					position: absolute;
					content: "";
					width: 1px;
					height: 16px;
					left: 0;
					top: 5px;
					background-color: @color1;
				}
			}
		}
		a {
			color: @color1;
			font-size: 15px;
			text-transform: uppercase;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.logo {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 0;
	}
	.copyright {
		font-family: @titleFontMuli;
		font-size: 13px;
		text-transform: uppercase;
	}
	.address {
		font-family: @titleFontMuli;
		font-size: 16px;
		text-transform: uppercase;
	}
}
.scrollToTop {
	display: none;
	width: 50px;
	height: 50px;
	background-color: #e7a676;
	color: #fff!important;
	display: block;
	position: fixed;
	right: 10px;
	bottom: 10px;
	text-align: center;
	padding: 3px;
	font-size: 13px;
	i {
		font-size: 22px;
	}
	span {
		display: block;
		line-height: 1;
		font-family: inherit;
		text-transform: uppercase;
		font-family: @titleFontMuli;
	}
}
/********************************************
/* Responsive */
/********************************************/
@media screen and (min-width: 1200px) {
	.block3 .des {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media screen and (min-width: 992px) {
	.navbar .topbar .topbar-menu-right {
		.basket {
			padding-right: 10px;
		}
		.help {
			position: relative;
			padding-left: 10px;
			&:before {
				position: absolute;
				content: "";
				width: 1px;
				height: 11px;
				left: -5px;
				top: 38%;
				background-color: @color1;
			}
		}
	}
	div[class*="block"] {
		margin-bottom: 80px;
	}
	.block4 .des {
		padding: 25px 45px;
	}
	.block5 .wrap {
		padding-left: 30px;
		padding-right: 30px;
	}
	.block6 .des {
		padding: 45px 50px;
	}
}
@media screen and (min-width: 768px) {
	.scrollToTop {
		right: 50px;
		bottom: 50px;
	}
	#body_login {
		#pagebody {
			> .cols {
				position: relative;
				overflow: hidden;
				&:before {
					position: absolute;
					content: "";
					display: block;
					width: 1px;
					background-color: @color5;
					left: 50%;
					top: 0;
					height: 100%;
				}
			}
		}
	}
}
@media screen and (max-width: 991px) {
	a.logo {
		padding-top: 18px;
		img {
			max-width: 60%;
		}
	}
	div.floatAdmin {
		top: 65px!important;
		left: auto!important;
		right: 7px;
	}
	.sForm.sm-hide {
		display: none!important;
	}
    .navbar {
	    .hide-mobile {
		    display: none!important;
	    }
	    .middlebar ul.middlebar-menu-right  li.dropdown ul {
		    display: none;
	    }
    }
	.navbar .middlebar .navbar-search-field.sForm-m {
	    display: block!important;
	    background-color: transparent;
		padding: 0 30px;
		a {
			display: inline-block;
			padding: 0;
			font-weight: bold;
			color: @color1;
			text-transform: none;
		}
		input {
			border: none;
			text-transform: uppercase;
			font-family: inherit;
			font-size: 16px;
			color: @color1;
			outline-color: @color1;
			padding: 10px;
		}
		input::-webkit-input-placeholder { color: @color1!important; opacity: 1}
		input:-moz-placeholder { color: @color1!important;opacity:1;}
		input::-moz-placeholder { color: @color1!important;opacity:1;}
		input:-ms-input-placeholder { color: @color1!important; opacity: 1}
    }
}
@media screen and (max-width: 767px) {
	div[class*="block"] .hgroup h1.main-title {
		font-size: 20px;
	}
	div[class*="block"] .hgroup .main-title {
		font-size: 20px;
	}
    h5 {
	    font-size: 10px;
    }
	.block3 > .cols {
		> .left, > .middle, .right {
			display: block;
			width: 100%;
			padding: 30px 15px;
		}
	}
}
@media screen and (max-width: 480px) {
	#footer .menu li {
		display: block;
		text-align: left;
		+ li:before {
			content: none;
		}
		a {
			display: inline-block;
			padding: 3px 0;
		}
	}
}
