@import url(https://fonts.googleapis.com/css?family=Varela+Round);

@charset "UTF-8";

@font-face {
    font-family: "kcicons";
    src:url("/css/fonts/kcicons.eot");
    src:url("/css/fonts/kcicons.eot?#iefix") format("embedded-opentype"),
        url("/css/fonts/kcicons.woff") format("woff"),
        url("/css/fonts/kcicons.ttf") format("truetype"),
        url("/css/fonts/kcicons.svg#untitled-font-1") format("svg");
    font-weight: normal!important;
    font-style: normal;
}
@font-face {
    font-family: "playfairdisplay";
    src:url("/css/fonts/playfairdisplay-regular.eot");
    src:url("/css/fonts/playfairdisplay-regular.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/playfairdisplay-regular.woff") format("woff"),
    url("/css/fonts/playfairdisplay-regular.ttf") format("truetype"),
    url("/css/fonts/playfairdisplay-regular.svg#untitled-font-1") format("svg");
}
@font-face {
    font-family: "muli-regular";
    src:url("/css/fonts/muli-regular.eot");
    src:url("/css/fonts/muli-regular.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/muli-regular.woff") format("woff"),
    url("/css/fonts/muli-regular.ttf") format("truetype"),
    url("/css/fonts/muli-regular.svg#untitled-font-1") format("svg");
}
@font-face {
    font-family: 'fontawesome';
    src: url('/css/fonts/fontawesome-webfont.eot');
    src: url('/css/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/fontawesome-webfont.woff2') format('woff2'),
    url('/css/fonts/fontawesome-webfont.woff') format('woff'),
    url('/css/fonts/fontawesome-webfont.ttf') format('truetype'),
    url('/css/fonts/fontawesome-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mainFont:'playfairdisplay';
@iconFont:'kcicons';
@iconAweFont:'fontawesome';
@titleFontMuli: 'muli-regular';