.navbar {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    .container {
        overflow: visible;

    }
    .collapse {
        border-bottom: 1px solid @topbar-list-border-color;
    }
    .navbar-hamburger {
        position: relative;
        display: block;
        cursor: pointer;
        float: left;
        height: 50px;
        padding: 9px 15px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-color: transparent;
        z-index: 5;
        outline: none;
        .icon-bar {
            display: block;
            margin-top: 4px;
            width: 28px;
            height: 5px;
            border-radius: 1px;
            background-color: #64686D;
        }
    }
    .topbar {
        position: relative;
        z-index: 9999;
        padding: 0px;
        font-family: @titleFontMuli;
        color: @text-default-color;
        background-color: @topbar-bg-color;
        border-bottom: 1px solid @topbar-list-border-color;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        .topbar-menu-left {
            position: absolute;
            li {
                padding: 0 5px;
                margin: 10px 0;
            }
            a {
                display: inline-block;
                vertical-align: middle;
                padding: 0px 5px 0px 5px;
                margin: 10px 0px 10px 0px;
                height: 100%;
                font-size: 12px;
                height: 100%;
                color: @topbar-left-link-color;
                &:hover {
                    color: @topbar-left-link-hover-color;
                }
                &:active {
                    color: @topbar-left-link-active-color;
                }
                &:focus {
                    color: @topbar-left-link-focus-color;
                }
            }
        }
        .topbar-menu-right {
            position: absolute;
            padding-right: 10px;
            height: 100%;
            top: 0;
            right: 0;
            > ul {
                > li {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    border: 1px solid transparent;
                    a {
                        display: block;
                        height: 100%;
                        font-size: 12px;
                        padding: 10px 5px;
                        margin: 0;
                        border: none;
                        color: @topbar-right-link-color;
                        border: 1px solid transparent;
                        text-transform: uppercase;
                        &:hover {
                            color: @topbar-right-link-hover-color;
                        }
                        &:active {
                            color: @topbar-right-link-active-color;
                        }
                        &:focus {
                            color: @topbar-right-link-focus-color;
                        }
                        i {
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 16px;
                            text-transform: lowercase;
                            color: @topbar-icon-color;
                            &.fa {
                                vertical-align: top;
                                line-height: 1.5;
                            }
                        }
                    }
                    i {
                        display: inline-block;
                        vertical-align: middle;
                        padding-right: 5px;
                    }
                    .icon-chevron-down {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
        .dropdown {
            position: relative;
            &:hover {
                border-left: 1px solid #E0E0E0;
                border-right: 1px solid #E0E0E0;
                background-color: #fff;
                z-index: 999;
                > ul {
                    visibility:visible;
                    opacity:1;
                }
                > a {
                    background-color: #fff;
                }
            }
            > a {
                position: relative;
                display: block;
                background-color: transparent;
                z-index: 33;
            }
            > ul {
                //position: fixed;
                visibility:hidden;
                width: 100%;
                opacity:1;
                right: 0;

                margin-top: -1px;
                background-color: #fff;
                border: 1px solid #E0E0E0;
                > li {
                    display: block;
                    position: relative;
                    &:hover {
                        background-color: #6e7277;
                        a {
                            color: #fff;
                        }
                    }
                    > a {
                        display: block;
                        padding: 5px 10px;
                        text-align: left;
                        color: #6e7277;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .middlebar {
        .dropdown {
            position:relative;
            &:hover {
                ul {
                    visibility:visible;
                    opacity:1;
                    background-color: @navbar-dropdown-hover-bg-color;
                }
            }
        }
        ul.middlebar-menu-left li a {
            display: block;
            height: 100%;
            padding: 10px;
            color: @topbar-right-link-color;
            &:hover {
                color: @topbar-right-link-hover-color;
            }
            &:active {
                color: @topbar-right-link-active-color;
            }
            &:focus {
                color: @topbar-right-link-focus-color;
            }
        }
        ul.middlebar-menu-right {
            margin-bottom: 0;
            > li { 
                position: relative;
                &:first-child { 
                    border-left: 1px solid @middlebar-list-border-color;
                }
                &:hover {
                    //background-color: @middlebar-list-hover-bg-color;
                }
                > a {
                    position: relative;
                    display: block;
                    vertical-align: middle;
                    height: 100%;
                    color: @middlebar-link-color;
                    background-color: @middlebar-link-bg-color;
                    overflow: hidden;
                    padding: 25px 15px;
                    font-size: 12px;
                    &:hover {
                        color: @color2;
                    }
                    &:active {
                        color: @color2;
                    }
                    &:focus {
                        color: @color2;
                    }
                }
                i {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 5px;
                }
            }
        }

    }
}

a.logo {
    position: relative;
    display: block;
    color: @logo-link-color;
    font-size: 45px;
    img {
        position: relative;
    }
    &:hover {
        color:@logo-link-hover-color;
    }
    &:active {
        color: @logo-link-active-color;
    }
    &:focus {
        color: @logo-link-focus-color;
    }
}


@media only screen and (max-width : @md) {
    .navbar {
        //position: fixed;
        //height: 90px;
        //background-color: @navbar-bg-color;
        .collapse {
            position: fixed;
            z-index: 9;
            display: none;
            width: 100%;
            overflow-y: scroll;
            top: 42px;
            left: 0;
            bottom: 0;
            background-color: #fff;
        }
        .topbar {
            .topbar-menu-left {
                padding-left: 50px;
                padding-top: 3px;
                .logo img {
                    width: 95px;
                    max-width: 100%;
                }
            }
            .topbar-menu-right > ul > li a {
                padding-left: 0;
                padding-right: 0;
                > span {
                    display: none;
                }
            }
            .dropdown > a {
                background-color: transparent;               
            }
        }
        .middlebar {
            background-color: transparent;
            //height: 50px;
            ul.middlebar-menu-left li a, ul.middlebar-menu-right li a {
                display: block;
                padding: 10px;
                font-size: 16px!important;
            }
            ul.middlebar-menu-right {
                padding: 35px 0;
                li a {
                    padding: 10px 30px;
                    text-transform: uppercase;
                }
            }
            .navbar-search {
                display: none;
            }
            .navbar-search-field {
                //position: fixed;
                display: block;
                background-color: @navbar-search-bg-color; 
                top: 50px;
                border: 0px solid black;
                width: 100%;
                z-index: 89;
                overflow: hidden;
                padding: 5px;
                .search-button-field {
                    float: right;
                    display: block;
                    border: none;
                    height: 30px;
                    width: auto;
                    padding: 0 10px 0 15px;
                    cursor: pointer;
                    background-color: transparent;
                }
                .search-input-field {
                    overflow: hidden;
                    input[type="text"] {
                        display: block;
                        border: none;
                        width: 100%;
                        height: 30px;
                        padding: 0 10px;
                    }

                }
            }
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : @md) {   
    .navbar {
        position: relative;
        background-color: #fff;
        .topbar {
            height: 50px;
        }
        .middlebar {
            //height: 75px;
        }
        .navbar-hamburger {
            display: none;
        }
        .collapse {
            left: auto!important;
            display: block!important;
        }
        .topbar {
            .topbar-menu-left {
                display: block;
            }
            .dropdown > ul {
                position: absolute;
                width: 250px;
                left: auto;
            }
        }
        .middlebar {
            .dropdown {
                ul {
                    position: absolute; 
                    visibility:hidden;
                    opacity:0;
                    right: 0px;
                    z-index: 99;
                    border: 1px solid @color5;
                    border-top: 0;
                    margin-top: 2px;
                    li {
                        padding: 0;
                        margin: 0;
                        min-width: 250px;
                        width: 100%;
                        a {
                            display: block;                        
                            width: 100%;
                            padding: 10px;
                            &:hover {
                                background-color: @navbar-bg-color;
                                color: @color2;
                            }
                        }
                    }

                }
            }
            ul.middlebar-menu-left {
                position: absolute;
                height: 100%;
                padding-left: 10px;
                min-width: 200px;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    height: 75px; 
                    font-size: 12px;
                    border: none;
                }
            }
            ul.middlebar-menu-right {
                display: table;
                //table-layout: fixed;
                width: 100%;
                > li {
                    vertical-align: middle;
                    margin-right: -4px;
                    border-right: 1px solid @middlebar-list-border-color;
                    text-align: center;
                    border-right: none;
                    &:nth-child(n+4) {
                        display: table-cell;
                    }
                    > a {
                        padding-top: 12px;
                        padding-bottom: 12px;
                        font-size: 16px;
                        text-transform: uppercase;
                        i {
                            text-transform: lowercase;
                        }
                    }
                }
            }
            .navbar-search {
                width: 50px;
            }
            .navbar-search-field {
                position: absolute;
                background-color: @colorTextWhite;
                top: 0;
                right: 8px;
                width: 300px;
                z-index: 89;
                overflow: hidden;
                padding: 5px;
                top: -52px;
                height: 51px;
                width: 95%;
                left: 0;
                .search-button-field {
                    float: right;
                    display: block;
                    height: 65px;
                    border: none;
                    width: auto;
                    padding: 0 10px 0 15px;
                    cursor: pointer;
                    background-color: transparent;
                }
                .search-input-field {
                    overflow: hidden;
                    input[type="text"] {
                        display: block;
                        border: none;
                        width: 100%;
                        height: 65px;
                        padding: 0 10px;
                    }
                }
                form {
                    height: 100%;
                    input {
                        width: 100%;
                        height: 100%;
                        border: none;
                        font-size: 14px;
                        font-family: @mainFont;
                        text-transform: uppercase;
                        text-align: center;
                        &:focus {
                            box-shadow: none;
                            border: none;
                            outline: none;
                        }
                    }
                }
            }
            .logo {
                padding-top: 50px;
                padding-bottom: 15px;
            }
        }


    }
}